<ng-container *ngIf="payment">
  <!--  карточка  -->
  <div [ngClass]="payment.enabled ? 'payment-card__enabled' : 'payment-card__disabled'" class="drag-card d-flex justify-content-between mx-auto shadow__with-hover">
       <!-- (dblclick)="changePayment(payment)"> -->
    <!--  логотип  -->
    <div class="payment-card__logo">
      <img src="{{imagePath + 'payments/' + payment.image.url + '.jpg'}}" class="img-fluid payment-card__logo-image" alt="">
    </div>
    <!--  заголовок  -->
    <div class="payment-card__text d-md-flex justify-content-between align-items-center">
      <p class="font-weight-bold text-center mb-0">
        {{(payment.localizedDescriptions|localization).title}}</p>
      <p class="font-weight-bold mb-0 ml-2"></p>
    </div>
    <!--   кнопки   -->
    <div class="d-flex align-items-center justify-content-center px-3 py-auto">
        <div class="product__edit btn-header-create" (click)="changePayment(payment)">
            <fa-icon [icon]="['fas', 'pencil-alt']" size="2x"></fa-icon>
          </div>
    </div>
  </div>
</ng-container>
