// payment container
.payment-card {

  // payment enabled
  &__enabled {
    background: rgb(248, 249, 250);
  }

  // payment disabled
  &__disabled {
    background: rgb(211, 211, 211);
  }

  // payment logo container
  &__logo {
    width: 9rem;
    min-width: 9rem;
    height: 9rem;
    display: flex;
    align-items: center;

    // payment logo
    &__logo-image {
      display: block;
      align-self: center;
      width: 100%;
      height: auto;
      margin: auto;
    }
  }

  // payment title 
  &__text {
    font-size: 3rem;
    align-self: center;
  }

/*  &__button-update {
    width: 5.5rem;
    height: 5.5rem;
    color: var(--updateColor);
    background: transparent;
    font-size: 5rem;
    padding: 0;
    margin: 0;

    &:hover {
      color: var(--baseColor);
    }
  } */
}
