tr th {
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.product-image {
  height: 5rem;
}

.header-card {

  &__text {
    padding: 0 0.5rem;

    &--big {
      font-size: 1.4rem;
      font-weight: bold;
    }

    &--small {
      font-size: 0.7rem;
    }
  }
}

.delivery-card {
  // logo container
  &__logo {
    width: 9rem;
    min-width: 9rem;
    height: 9rem;
    display: flex;
    align-items: center;

    // logo
    &__logo-image {
      display: block;
      align-self: center;
      width: 100%;
      height: auto;
      margin: auto;
    }
  }

  // delivery title
  &__text {
    font-size: 3rem;
    align-self: center;
  }
}
