<div *ngIf="order">
  <div class="header-card__right justify-content-center">
    <span class="header-card__text header-card__text--big">{{order.id}}</span>
    <span class="header-card__text header-card__text--small">{{order.updatedStatusAt}}</span>
    <span class="header-card__text header-card__text--big">{{order.status.name}}</span>
    <span class="header-card__text header-card__text--small">{{order.createdAt}}01.05.2019</span>
    <span class="header-card__text header-card__text--big">{{order.productsCost}}</span>
    <span>{{order.shop}}grey-shop</span>
  </div>
  <div class="drag-card d-flex justify-content-around shadow__with-hover p-5 mx-5 mb-5 shadow__without-hover" [style.background-color]="order?.delivery?.color">
    <!-- (dblclick)="changeDelivery(delivery)" -->
    <!--  логотип  -->
    <div class="delivery-card__logo">
      <img [src]="imagePath + 'deliveries/' + order?.delivery?.image?.url + '.jpg'" class="img-fluid delivery-card__logo-image"
        alt="{{order?.image?.name}}">
    </div>
    <!--  заголовок  -->
    <div class="delivery-card__text d-md-flex justify-content-between align-items-center">
      <p class="font-weight-bold mb-0">
        {{order?.delivery?.localizedDescriptions[1]?.name}}</p>
      <p class="font-weight-bold mb-0 ml-2"></p>
    </div>
  </div>
  <div class="m-5 shadow__without-hover">
    <div class="d-flex justify-content-between w-25">
      <span>First Name: </span>
      <span>{{order?.createdShippingAddress?.firstName}}</span>
    </div>
    <div class="d-flex justify-content-between w-25">
      <span>Last Name: </span>
      <span>{{order?.createdShippingAddress?.lastName}}</span>
    </div>
    <div class="d-flex justify-content-between w-25">
      <span>Address: </span>
      <span>{{order.createdShippingAddress.description}}</span>
    </div>
    <div class="d-flex justify-content-between w-25">
      <span>City: </span>
      <span>{{order.createdShippingAddress.city}}</span>
    </div>
    <div class="d-flex justify-content-between w-25">
      <span>Postcode: </span>
      <span>{{order.createdShippingAddress.zip}}</span>
    </div>
    <div class="d-flex justify-content-between w-25">
      <span>Phone: </span>
      <span>{{order.createdShippingAddress.phone}}</span>
    </div>
    <div class="d-flex justify-content-between w-25">
      <span>Country: </span>
      <span>{{order.createdShippingAddress.country.name}}</span>
    </div>
    <div class="d-flex justify-content-between w-25">
      <span>Region/State: </span>
      <span>{{order.createdShippingAddress.region.name}}</span>
    </div>
    <div class="d-flex justify-content-between w-25">
      <span>Email: </span>
      <span>{{order.createdShippingAddress.email}}</span>
    </div>
    <div class="d-flex justify-content-between w-25">
      <span>User comment: </span>
      <span>{{order.comments}}</span>
    </div>
  </div>
  <div class="shadow__without-hover m-5">
    <table class="table">
      <!--   Заголовок  -->
      <thead>
        <tr>
          <th class="text-uppercase text-center" scope="col">Image</th>
          <th class="text-uppercase text-center" scope="col">Name</th>
          <th class="text-uppercase text-center" scope="col">Options</th>
          <th class="text-uppercase text-center" scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of order.cartItems">
          <td class="text-center">
            <img class="product-image"
              [src]="item?.product?.imageFront?.url ? imagePath + 'products/' + item.product.imageFront.url + '.jpg' : imagePath + 'none.jpg'"
              [alt]="item?.product?.imageFront?.name ? item.product.imageFront.name : 'none'">
          </td>
          <td class="text-center">{{item?.product?.localizedDescriptions[1]?.name}}</td>
          <td class="text-center">
            <div *ngFor="let optionValue of item.optionValues">
              <span *ngIf="optionValue.ru">{{optionValue.ru}}</span>
              <span *ngIf="!optionValue.ru">{{optionValue.localizedDescriptions[1].name}}</span>
            </div>
          </td>
          <td class="text-center">{{item?.orderCount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>