<!--product-->
<div *ngIf="product">

<!--  &lt;!&ndash;    кнопка перехода к карточке продукта    &ndash;&gt;-->
<!--  <button *ngIf="textForFiltering.length > 0"-->
<!--          class="btn btn-header btn-header-update mt-1"-->
<!--          title="UPDATE"-->
<!--          (click)="goToProduct(product.id)">-->
<!--    <fa-icon [icon]="['fas', 'pen']" [classes]="['btn-header__icon']"></fa-icon>-->
<!--  </button>-->
  <!-- <div class="d-flex product-card justify-content-between align-items-center product" (dblclick)="updateProduct(product)" (click)="openProductItems()"> -->
  <div class="d-flex product-card justify-content-between align-items-center product"  (click)="openProductItems()">
    <!-- id -->
    <div class="product__id">{{product.id}}</div>
    <!--  image -->
    <div class="product__image-container">
      <img class="product__image" [src]="product?.imageFront?.url ? imagePath + product.imageFront.url + '.jpg' : imagePath + 'none.jpg'" [alt]="product?.imageFront?.name ? product.imageFront.name : 'none'">
    </div>
    <!--  name -->
    <div class="product__name" appFittext minFontSize="15" maxFontSize="20">{{product?.localizedDescriptions[0]?.name}}</div>
    <!--  brand -->
    <div class="product__brand" appFittext minFontSize="15" maxFontSize="20">{{product.brand?.localizedDescriptions ? (product.brand.localizedDescriptions|localization).name : 'noname'}}</div>
    <!--  price buy -->
    <div class="product__price-buy">{{product.price ? product.price.buy : 'free'}}</div>
    <!--  price sell -->
    <div class="product__price-sell">{{product.price ? product.price.sell : 'free'}}</div>
    <!--  status -->
    <div class="product__status">{{product.productVisibilityStatus ? product.productVisibilityStatus.name : 'no status'}}</div>
    <div class="product__edit btn-header-create" (click)="updateProduct(product)">
      <fa-icon [icon]="['fas', 'pencil-alt']" size="2x"></fa-icon>
    </div>
  </div>
  <!-- collapse -->
  <div *ngIf="productItems" class="product-details mb-4" @fadeInOut>
    <div class="row mx-0">
      <div class="col-1 border product-details__header">ID</div>
      <div class="col-4 border product-details__header">OptionValues</div>
      <div class="col-2 border product-details__header">Статус</div>
      <div class="col-2 border product-details__header">Номер заказа</div>
      <div class="col-3 border product-details__header">Комментарий</div>
    </div>
    <div *ngFor="let item of product.items">
      <app-item-card [item]="item"></app-item-card>
    </div>
  </div>
</div>