// product container
.product-card {
  margin-bottom: 0.01rem;
  //background: #eeeeee;
  border-radius: 0.25rem;
  min-height: 5rem;
  padding: 1rem;
  border-color: rgb(211, 211, 211) !important;
  border-top: solid 0.0625rem;
  border-bottom: solid 0.0625rem;
  //border-left: solid 0.0625rem;
  //border-right: solid 0.0625rem;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(108, 117, 125, 0.3);
  //overflow: hidden;
}

// product values
.product {
  // product id
  &__id {
    width: 5%;
  }

  // product image container
  &__image-container {
    width: 10%;

    // product image
    .product__image {
      height: 5rem;
    }
  }

  // product title
  &__name {
    width: 30%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  // product brand
  &__brand {
    width: 30%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  // product buy price
  &__price-buy {
    width: 5%;
  }

  // product sell price
  &__price-sell {
    width: 5%;
  }

  // product status
  &__status {
    width: 10%;
  }

  // product edit
  &__edit {
    width: 5%;
    cursor: pointer;
    height: 100%;
  }
}

// product details
.product-details {
  width: 90%;
  margin-left: auto;

  // details header
  &__header {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    background-color: rgb(240, 240, 240);
  }
}
