.order-card {
  padding: .25rem;
  //margin: 0.1875rem;
  margin: .1875rem;
  //box-shadow: 0 .15rem .4rem rgba(255, 37, 123, 0.3);
  &__split-line {
    margin: .2rem 0;
    height: 0.0625rem;
    background: rgb(108, 117, 125);
    width: auto;
  }
  &__body-text {
    color: rgb(51, 54, 61);
  }
  &__body {
    display: flex;
    justify-content: space-between;
    //margin-bottom: 0.5rem;
    &-left {
      display: flex;
      align-items: center;
    };
    &-right {
      display: flex;
      align-items: center;
      .check {
        //width: 2.5rem;
        //height: 1.5rem;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .3);

        &:hover {
          transform: translateX(-2);
          box-shadow: 0 .15rem .15rem rgba(0, 0, 0, .3);
        }

        &:active {
          transform: translateX(-3);
          box-shadow: none;
        }
      }
    };
    &-text {
      //margin-top: 0.25rem;
      font-size: 1.5rem;
      //padding-bottom: 0;
      //align-self: center;
    };
  }
  &__comment {
    text-align: center;
    font-size: 0.75rem;
  }
  .card-text {
    display: block;
    margin: .5rem;
    &--middle {
      font-size: .8rem;
    }
    &--small {
      font-size: .5rem;
    }
  }

  .card {

    &__name {
      width: 9rem;
    }

    &__country {
      width: 8rem;
    }

    &__cost {
      width: 6rem;
    }
  }
}

