<div class="order-card"
     [ngStyle]="{'box-shadow': '2px 2px 3px' + order.delivery.color}"
     (dblclick)="orderDetail(order)">
  <!-- тело карточки -->
  <div class="row">
    <div class="col order-card__body">
      <!-- левая часть -->
      <div class="order-card__body-left">
        <!-- тело карточки -->
        <div class="order-card__body-text d-flex align-items-center">
          <div class="card__container card__name">
            <!-- номер заказа -->
            <span class="card-text card-text--middle">{{order.id}}</span>
            <!-- имя заказчика -->
            <span class="card-text card-text--small">{{order.createdShippingAddress.firstName}} {{order.createdShippingAddress.lastName}}</span>
          </div>
          <div class="card__container card__country">
            <!-- страна заказчика -->
            <!-- название страны -->
            <span class="card-text card-text--small" *ngIf="false; else countryName">{{'Image'}}</span>
            <!-- картинка страны -->
            <ng-template #countryName>
              <span class="card-text card-text--small" >{{order.createdShippingAddress.country.name}}</span>
            </ng-template>
            <!-- магазин, где сделан заказ -->
            <span class="card-text card-text--small">grey-shop</span>
          </div>
          <div class="card__container card__cost">
            <!-- сумма заказа -->
            <span class="card-text card-text--small">{{order.productsCost}}</span>
            <!-- дата заказа -->
            <span class="card-text card-text--small">{{order.updatedStatusAt}}</span>
<!--            <span class="card-text card-text&#45;&#45;small">{{order.status.name}}</span>-->
          </div>
        </div>
      </div>
      <!-- правая часть -->
      <div class="order-card__body-right">
          <button class="check btn btn-header btn-create">
            <fa-icon [icon]="['fas', 'check']" [classes]="['btn-header__icon']"></fa-icon>
          </button>
      </div>
    </div>
  </div>
  <ng-container *ngIf="order.comments">
    <!-- разделитель -->
    <div class="order-card__split-line"></div>
    <!--  комментарий -->
    <div class="order-card__comment">
      {{order.comments}}
    </div>
  </ng-container>
</div>
