<ng-container *ngIf="delivery">
  <!--  карточка  -->
  <div [ngClass]="delivery.enabled ? 'delivery-card__enabled' : 'delivery-card__disabled'" class="drag-card d-flex justify-content-between mx-auto shadow__with-hover">
       <!-- (dblclick)="changeDelivery(delivery)" -->
    <!--  логотип  -->
    <div class="delivery-card__logo">
      <img src="{{imagePath + 'deliveries/' + delivery.image.url + '.jpg'}}" class="img-fluid delivery-card__logo-image" alt="{{delivery.image.name}}">
    </div>
    <!--  заголовок  -->
    <div class="delivery-card__text d-md-flex justify-content-between align-items-center">
      <p class="font-weight-bold mb-0">
        {{(delivery.localizedDescriptions|localization).title}}</p>
      <p class="font-weight-bold mb-0 ml-2"></p>
    </div>
    <!--   кнопки   -->
    <div class="d-flex align-items-center justify-content-center px-3 py-auto">
        <div class="product__edit btn-header-create" (click)="changeDelivery(delivery)">
            <fa-icon [icon]="['fas', 'pencil-alt']" size="2x"></fa-icon>
          </div>
    </div>
  </div>
</ng-container>
