<!--  Countries  -->
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-7">
      <table class="table">
        <!--   Заголовок  -->
        <thead>
        <tr>
          <th class="text-uppercase text-center" scope="col">name</th>
          <th class="text-uppercase text-center" scope="col">name ru</th>
          <th class="text-uppercase text-center" scope="col">code2</th>
          <th class="text-uppercase text-center" scope="col">code3</th>
          <th>
            <button class="btn btn-header btn-header-create"
                    type="submit"
                    title="Add"
                    (click)="addInput('country')">
              <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
          </th>
          <!--            <th class="text-uppercase text-center" scope="col">-->
          <!--              <button-->
          <!--                [disabled]="createdMode"-->
          <!--                class="btn btn-create"-->
          <!--                title="Add"-->
          <!--                (click)="onAddInput()"-->
          <!--                type="button"-->
          <!--              >-->
          <!--                <i class="fa fa-2x fa-plus-square"></i>-->
          <!--              </button>-->
          <!--            </th>-->
          <!--            <th class="text-center">&nbsp;</th>-->
        </tr>
        </thead>
        <!--  Значения   -->
        <tbody>
        <tr *ngFor="let country of countries; let i = index">
          <!--   currentEdit  -->
          <ng-container *ngIf="currentCountryEdit == i; else readMode">
            <td class="text-center">
              <input
                class="form-control"
                type="text"
                [(ngModel)]="country.name"
                required
              />
            </td>
            <td class="text-center">
              <input
                class="form-control"
                type="text"
                required
                [(ngModel)]="country.nameRu"
              />
            </td>
            <td class="text-center">
              <input
                class="form-control"
                type="text"
                required
                [(ngModel)]="country.code2"
              />
            </td>
            <td class="text-center">
              <input
                class="form-control"
                type="text"
                required
                [(ngModel)]="country.code3"
              />
            </td>
            <!--   createdMode  -->
            <ng-container *ngIf="createdMode; else edit">
              <td class="text-center">
                <button
                  type="button"
                  class="btn btn-save"
                  (click)="create(i)"
                  title="Save changes"
                >
                  <fa-icon [icon]="['fas', 'check-square']" [classes]="['btn-header__icon']"></fa-icon>
                </button>
              </td>
            </ng-container>
            <ng-template #edit>
              <td class="text-center">
                <button
                  type="button"
                  class="btn btn-save"
                  (click)="update(i)"
                  title="Save changes"
                >
                  <fa-icon [icon]="['fas', 'save']" [classes]="['btn-header__icon']"></fa-icon>
                </button>
              </td>
            </ng-template>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-cancel"
                (click)="cancel()"
                title="Cancel changes"
              >
                <fa-icon [icon]="['fas', 'sync']" [classes]="['btn-header__icon']"></fa-icon>
              </button>
            </td>
          </ng-container>
          <!--   readMode  -->
          <ng-template #readMode>
            <td class="text-center">{{ country.name }}</td>
            <td class="text-center">{{ country.nameRu }}</td>
            <td class="text-center">{{ country.code2 }}</td>
            <td class="text-center">{{ country.code3 }}</td>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-update"
                [disabled]="createdMode"
                (click)="edit(i, 'country')"
                title="Change"
              >
                <fa-icon [icon]="['fas', 'pen-square']" [classes]="['btn-header__icon']"></fa-icon>
              </button>
            </td>
          </ng-template>
          <!--          <td class="text-center">-->
          <!--            <button-->
          <!--              type="button"-->
          <!--              class="btn btn-delete"-->
          <!--              (click)="deleteCurrency(i)"-->
          <!--              title="Delete"-->
          <!--            >-->
          <!--              <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>-->
          <!--            </button>-->
          <!--          </td>-->
        </tr>
        </tbody>
      </table>
    </div>

<!--  Regions-->
    <div class="col-5">
      <table class="table">
        <!--   Заголовок  -->
        <thead>
        <tr>
          <th class="text-uppercase text-center" scope="col">name</th>
          <th class="text-uppercase text-center" scope="col">code</th>
          <th class="text-uppercase text-center" scope="col">country</th>
          <th>
            <button class="btn btn-header btn-header-create"
                    type="submit"
                    title="Add"
                    (click)="addInput('region')">
              <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
          </th>
          <!--            <th class="text-uppercase text-center" scope="col">-->
          <!--              <button-->
          <!--                [disabled]="createdMode"-->
          <!--                class="btn btn-create"-->
          <!--                title="Add"-->
          <!--                (click)="onAddInput()"-->
          <!--                type="button"-->
          <!--              >-->
          <!--                <i class="fa fa-2x fa-plus-square"></i>-->
          <!--              </button>-->
          <!--            </th>-->
          <!--            <th class="text-center">&nbsp;</th>-->
        </tr>
        </thead>
        <!--  Значения   -->
        <tbody>
        <tr *ngFor="let region of regions; let i = index">
          <!--   currentEdit  -->
          <ng-container *ngIf="currentRegionEdit == i; else readMode">
            <td class="text-center">
              <input
                class="form-control"
                type="text"
                [(ngModel)]="region.name"
                required
              />
            </td>
            <td class="text-center">
              <input
                class="form-control"
                type="text"
                required
                [(ngModel)]="region.code"
              />
            </td>
            <td class="text-center">
              <input
                class="form-control"
                type="text"
                required
                [(ngModel)]="region.country.name"
              />
            </td>
            <!--   createdMode  -->
            <ng-container *ngIf="createdMode; else edit">
              <td class="text-center">
                <button
                  type="button"
                  class="btn btn-save"
                  (click)="create(i)"
                  title="Save changes"
                >
                  <fa-icon [icon]="['fas', 'check-square']" [classes]="['btn-header__icon']"></fa-icon>
                </button>
              </td>
            </ng-container>
            <ng-template #edit>
              <td class="text-center">
                <button
                  type="button"
                  class="btn btn-save"
                  (click)="update(i)"
                  title="Save changes"
                >
                  <fa-icon [icon]="['fas', 'save']" [classes]="['btn-header__icon']"></fa-icon>
                </button>
              </td>
            </ng-template>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-cancel"
                (click)="cancel()"
                title="Cancel changes"
              >
                <fa-icon [icon]="['fas', 'sync']" [classes]="['btn-header__icon']"></fa-icon>
              </button>
            </td>
          </ng-container>
          <!--   readMode  -->
          <ng-template #readMode>
            <td class="text-center">{{ region.name }}</td>
            <td class="text-center">{{ region.code }}</td>
            <td class="text-center">{{ region.country.name }}</td>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-update"
                [disabled]="createdMode"
                (click)="edit(i, 'region')"
                title="Change"
              >
                <fa-icon [icon]="['fas', 'pen-square']" [classes]="['btn-header__icon']"></fa-icon>
              </button>
            </td>
          </ng-template>
          <!--          <td class="text-center">-->
          <!--            <button-->
          <!--              type="button"-->
          <!--              class="btn btn-delete"-->
          <!--              (click)="deleteCurrency(i)"-->
          <!--              title="Delete"-->
          <!--            >-->
          <!--              <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>-->
          <!--            </button>-->
          <!--          </td>-->
        </tr>
        </tbody>
      </table>
    </div>
<!--    <div class="col-md-2">-->
<!--      <select class="custom-select" name="" id="">-->
<!--        <option value="">Country 1</option>-->
<!--        <option value="">Country 2</option>-->
<!--        <option value="">Country 3</option>-->
<!--      </select>-->
<!--    </div>-->
  </div>
</div>
