<!-- заголовок -->
<div class="container-fluid">
    <div class="row">
      <div class="col header-card">
        <!-- левая часть-->
        <div class="header-card__left">
          <!-- назад -->
          <button class="btn btn-header btn-header-back mt-1" title="BACK">
            <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
          </button>
          <!-- текст -->
          <div class="header-card__text">
            Logs
          </div>
        </div>
        <!-- правая часть-->
        <div class="header-card__right">
          <button class="btn btn-header btn-header-create" type="button" title="CREATE">
            <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
          </button>
        </div>

   <!--      <div class="header-card__right">
            <button class="btn btn-header btn-header-create" type="button" title="CREATE" (click)="createIncoming()">
              <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
          </div> -->
      </div>
    </div>
  </div>
  
  <div class="col-11 mx-auto">
    <div class="d-flex log-card justify-content-between align-items-center">
      <!-- Number -->
      <div>id</div>
      <!--  Date -->
      <div>Action name</div>
      <!--  Time -->
      <div>Type</div>
      <!--  Action -->
      <div>Action</div>
    </div>
  
    <div class="mx-auto" *ngFor="let log of logs">
        <app-log-card [log]="log"></app-log-card>
    </div>
  </div>
  