//.base-category:first-child {
//  margin-left: 0.5rem;
//}

// base category block
.base-category {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 2rem;
}

// block without inner categories
.empty-category {
  max-width: 10rem;
}

// block with inner categories
.full-category {
  min-width: 44rem;
}

// footer categories
// category card
.category-second {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

// first category card
.category-second:first-child {
  padding: 0;
  margin-left: 0.5rem;
  margin-right: 0;
}

// last category card
.category-second:last-child {
  padding: 0;
  margin-left: 0;
  margin-right: 0.5rem;
}

// category title
.category-title {
  font-size: 0.5rem;
  word-wrap: break-word;
}

// drag card body
.card-body {
  background: rgb(238, 238, 238);
  padding: 0.25rem;
  height: auto;
}

// drop zone
.dd-zone {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0;
  min-height: 1rem;

  // drag card
  .drag-card {
    border-radius: 0.25rem;
    padding: 0;
  }

   // draggable card
  .drop-holder {
    border-radius: 0.3125rem;
    width: 100%;
    padding: 0.5rem;

    &__top {
      max-width: 3rem;
    }

    &__medium {
      max-width: 3rem;
    }
  }
}

// base category container
.base-container {
  padding: 0.5rem;
  height: calc(100vh - 25rem);
}

// footer category container
.footer-container {
  padding: 0.5rem;
}
