<!-- заголовок -->
<div class="container-fluid">
  <div class="row">
    <div class="col header-card">
      <!-- левая часть-->
      <div class="header-card__left">
        <!-- назад -->
        <button class="btn btn-header btn-header-back"
                title="Back">
          <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
<!--          <i class="fa fa-fw fa-reply btn-header__icon"></i>-->
        </button>
        <!-- текст -->
        <div class="header-card__text">Site menu</div>
      </div>
      <!-- правая часть-->
      <div class="header-card__right">
        <!-- создать -->
        <button class="btn btn-header btn-header-create"
                type="submit"
                title="Save"
                (click)="createCategory()">
          <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
<!--          <i class="fa fa-plus-square fa-2x fa-fw btn-header__icon"></i>-->
        </button>
      </div>
    </div>
  </div>
</div>

<!--  категории  -->
<div class="container-fluid base-container">
  <!-- здесь цикл -->
  <div class="row mr-md-1 dd-zone" dndDropzone
       (dndDragover)="onDragover($event)"
       (dndDrop)="onDropCategory($event, null, categories)">
    <div class="col-md-1 pr-md-0 drop-holder text-center drop-holder__top"
         dndPlaceholderRef>
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>

    </div>
    <!--  здесь применение столбцов  -->
    <!--  базовая категория  -->
    <div [ngClass]="category.categories.length ? 'full-category' : 'empty-category'" class="col-md-1 pr-md-0 base-category" *ngFor="let category of categories; let currentIndex = index">
      <div class="card drag-card shadow"
           [dndDraggable]="category"
           [dndEffectAllowed]="'all'"
           [dndDisableIf]="false"
           (dndStart)="onDragStart($event, category)"
           (dndCanceled)="onDragCanceled($event, currentIndex)"
           (dndEnd)="onDragEnd($event)"
           (dblclick)="updateCategory(category)">
        <!-- заголовок базовой категории -->
        <div class="card-header d-flex align-items-center p-1">
          <p class="d-flex align-self-center text-center my-0 mx-auto category-title" [title]="(category.localizedDescriptions|localization).name">
            <!-- текст -->
            {{(category.localizedDescriptions|localization).name}}
          </p>
        </div>
        <!-- тело базовой категории -->
        <div class="card-body">
          <div class="row dd-zone justify-content-between" dndDropzone
               (dndDragover)="onDragover($event)"
               (dndDrop)="onDropCategory($event, currentIndex, category.categories)">

            <div class="col-md-1 pr-md-0 drop-holder text-center drop-holder__medium"
                 dndPlaceholderRef>
              <fa-icon [icon]="['fas', 'plus']"></fa-icon>

            </div>
<!--            <div class="drop-holder text-center"-->
<!--                 dndPlaceholderRef>-->
<!--              <i class="fa fa-plus"></i>-->
<!--            </div>-->
            <div class="col-2 category-second" *ngFor="let child of category.categories; let i = index"
            >
              <app-category-card [category]="child" [currentIndex]="i" [parentCategories]="category.categories" [levelIndex]="1">

              </app-category-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  дроп зон  -->

  </div>
</div>
<!-- bottom line -->
<!-- заголовок -->
<div class="container-fluid">
  <div class="row">
    <div class="col justify-content-between align-items-center d-flex header-card">
      <!-- левая часть-->
      <div class="d-flex align-items-center">
        <!-- назад -->
<!--        <button class="btn btn-header btn-back mt-1"-->
<!--                title="Back">-->
<!--          <i class="fa fa-fw fa-reply btn-header__icon"></i>-->
<!--        </button>-->
        <!-- текст -->
        <h4 class="ml-4 mt-1">Footer</h4>
      </div>
      <!-- правая часть-->
      <div class="d-flex">
        <!-- создать -->
<!--        <button class="btn btn-header btn-header-create"-->
<!--                type="submit"-->
<!--                title="Save"-->
<!--                (click)="createCategory(categories)">-->
<!--          <i class="fa fa-plus-square fa-2x fa-fw btn-header__icon"></i>-->
<!--        </button>-->
      </div>
    </div>
  </div>
</div>
<!-- bottom container -->
<div class="container-fluid footer-container">
  <div class="row dd-zone justify-content-between" dndDropzone
         (dndDragover)="onDragover($event)"
         (dndDrop)="onDropCategory($event, currentIndex, hiddenCategories)">

      <div class="col-md-1 pr-md-0 drop-holder text-center drop-holder__medium"
           dndPlaceholderRef>
              <span>
                <i class="fa fa-plus"></i>
              </span>

      </div>
      <div class="col-1 category-second" *ngFor="let hiddenCategory of hiddenCategories; let i = index"
      >
        <app-category-card [category]="hiddenCategory" [currentIndex]="i" [parentCategories]="hiddenCategories" [levelIndex]="2">

        </app-category-card>
      </div>
    </div>
</div>
