<!--  карточка orderStatus  -->
<div class="card shadow__without-hover p-2 mb-3">
  <!--  заголовок  -->
  <div class="card-header bg-white d-flex justify-content-between p-0">
    <div class="p-2">
      {{ orderStatus?.name ? orderStatus.name : 'none' }}
    </div>
  </div>
  <!--  тело  -->
  <div class="card-body py-1 px-0">
    <!--   список orders   -->
    <div class="row m-1">
      <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let orderByStatus of ordersByStatus">
        <app-order-card [order]="orderByStatus"></app-order-card>
      </div>
    </div>
  </div>
</div>
