<!--description product card-->
<div class="row justify-content-between mx-1" *ngIf="product">
  <!--  localization-->
  <div class="col-md m-2">
    <div class="row">
<!--      locale-->
      <div class="col-12 description-product-card">

        <!-- выбор языка -->
        <ng-container *ngIf="product">
          <ul class="nav nav-tabs">
            <!--          <li class="nav-item">-->
            <!--            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>-->
            <!--          </li>-->
            <li *ngFor="let locale of product.localizedDescriptions; let i = index" class="nav-item">
              <button class="btn-outline-secondary nav-link mr-2"
                      [ngClass]="locale.language === currentLangTab ? 'active' : ''"
                      data-toggle="tab"
                      (click)="selectLangTab(locale.language)">{{locale.language}}</button>
            </li>
          </ul>      <!-- Tab panes -->
          <div [ngSwitch]="currentLangTab" class="tab-content">
            <div *ngFor="let locale of product.localizedDescriptions; let i=index">
              <div *ngSwitchCase="locale.language" class="tab-pane container-fluid active">
                <!--    Имя карточки    -->
                <div class="input-group my-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Name:</span>
                  </div>
                  <input name="name"
                         class="form-control"
                         type="text"
                         [(ngModel)]="product.localizedDescriptions[i].name">
                </div>
                <!--    Заголовок карточки    -->
                <!-- <div class="input-group my-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Title:</span>
                  </div>
                  <input name="title"
                         class="form-control"
                         type="text"
                         [(ngModel)]="product.localizedDescriptions[i].title">
                </div> -->
                <!--    Описание карточки    -->
                <div class="input-group my-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Description:</span>
                  </div>
                  <textarea name="description"
                         class="form-control"
                         [(ngModel)]="product.localizedDescriptions[i].description"
                         rows="3"></textarea>
                </div>
                <div class="input-group my-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Description 2:</span>
                  </div>
                  <textarea name="descriptionTwo"
                         class="form-control"
                         [(ngModel)]="product.localizedDescriptions[i].descriptionTwo"
                         rows="3"></textarea>
                </div>
                <div class="input-group my-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Description 3:</span>
                  </div>
                  <textarea name="descriptionThree"
                         class="form-control"
                         [(ngModel)]="product.localizedDescriptions[i].descriptionThree"
                         rows="3"></textarea>
                </div>

              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!--      Material -->
      <div class="col-12 description-product-card">
        <!--        заголовок-->
        <div class="row">
          <div class="col description-product-card__header">
            <!-- левая часть-->
            <div class="description-product-card__header-left">
              <!-- текст -->
              <div class="description-product-card__header-left-text">
                Materials
              </div>
            </div>
            <div>

            </div>
            <!-- правая часть-->
            <div class="description-product-card__header-right">
              <button class="btn btn-header btn-header-update"
              (click)="addMaterial()"
                      title="Add Material">
                <fa-icon [icon]="['fas', 'plus']" [classes]="['btn-header__icon']"></fa-icon>
              </button>
            </div>
          </div>
        </div>
        <!--        разделитель-->
        <div class="description-product-card__split-line"></div>
        <!--        поля ввода-->
        <ng-container>
          <ul class="nav nav-tabs">
            <!--          <li class="nav-item">-->
            <!--            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>-->
            <!--          </li>-->
            <li *ngFor="let locale of product.localizedDescriptions; let i = index" class="nav-item">
              <button class="btn-outline-secondary nav-link mr-2"
                      [ngClass]="locale.language === currentLangTab ? 'active' : ''"
                      data-toggle="tab"
                      (click)="selectLangTab(locale.language)">{{locale.language}}</button>
            </li>
          </ul>      <!-- Tab panes -->
          <div [ngSwitch]="currentLangTab" class="tab-content">
            <div *ngFor="let locale of product.localizedMaterial; let i=index">
              <div *ngSwitchCase="locale.language" class="tab-pane container-fluid active">
                <!--    Имя карточки    -->
                <div class="input-group my-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Name:</span>
                  </div>
                  <input name="name"
                         class="form-control"
                         type="text"
                         [(ngModel)]="product.localizedMaterial[i].text">
                         <button class="btn btn-header btn-header-update" title="Delete Material" (click)="deleteMaterial(i)">
                          <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>
                        </button>
                </div>
                <!--    Заголовок карточки    -->
                <!-- <div class="input-group my-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Keywords:</span>
                  </div>
                  <input name="title"
                         class="form-control"
                         type="text"
                         [(ngModel)]="product.localizedSEOs[i].keywords">
                </div> -->
                <!--    Описание карточки    -->
                <!-- <div class="input-group my-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Description:</span>
                  </div>
                  <input name="description"
                         class="form-control"
                         type="text"
                         [(ngModel)]="product.localizedSEOs[i].description">
                </div> -->
                <!--    seo Link    -->
                <!-- <div class="input-group my-4">

                  <input name="name"
                         class="form-control"
                         type="text"
                         [(ngModel)]="product.localizedMaterial[i].text">
                </div> -->
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!--      Features -->
      <div class="col-12 description-product-card">
        <!--        заголовок-->
        <div class="row">
          <div class="col description-product-card__header">
            <!-- левая часть-->
            <div class="description-product-card__header-left">
              <!-- текст -->
              <div class="description-product-card__header-left-text">
                Features
              </div>
            </div>
            <div>

            </div>
            <!-- правая часть-->
            <div class="description-product-card__header-right">
              <button class="btn btn-header btn-header-update"
                      title="Add Feature"
                      (click)="addFeature()">
                <fa-icon [icon]="['fas', 'plus']" [classes]="['btn-header__icon']"></fa-icon>
              </button>
            </div>
          </div>
        </div>
        <!--        разделитель-->
        <div class="description-product-card__split-line"></div>
        <!--        поля ввода-->
        <ng-container>
          <ul class="nav nav-tabs">
            <!--          <li class="nav-item">-->
            <!--            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>-->
            <!--          </li>-->
            <li *ngFor="let locale of product.localizedDescriptions; let i = index" class="nav-item">
              <button class="btn-outline-secondary nav-link mr-2"
                      [ngClass]="locale.language === currentLangTab ? 'active' : ''"
                      data-toggle="tab"
                      (click)="selectLangTab(locale.language)">{{locale.language}}</button>
            </li>
          </ul>      <!-- Tab panes -->
          <div [ngSwitch]="currentLangTab" class="tab-content">
            <div *ngFor="let locale of product.localizedFeatures; let i=index">
              <div *ngSwitchCase="locale.language" class="tab-pane container-fluid active">
                <!--    Имя карточки    -->
                <div class="input-group my-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Name:</span>
                  </div>
                  <input name="name" class="form-control" type="text" [(ngModel)]="product.localizedFeatures[i].text">
                  <button class="btn btn-header btn-header-update" title="Delete Feature" (click)="deleteFeature(i)">
                    <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>
                  </button>
                  </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!--      SEO -->
      <div class="col-12 description-product-card">
        <!--        заголовок-->
        <div class="row">
          <div class="col description-product-card__header">
            <!-- левая часть-->
            <div class="description-product-card__header-left">
              <!-- текст -->
              <div class="description-product-card__header-left-text">
                SEO
              </div>
            </div>
            <div>

            </div>
            <!-- правая часть-->
            <div class="description-product-card__header-right">
              <button class="btn btn-header btn-header-update" title="AUTO">
                <fa-icon [icon]="['fas', 'dragon']" [classes]="['btn-header__icon']"></fa-icon>
              </button>
            </div>
          </div>
        </div>
        <!--        разделитель-->
        <div class="description-product-card__split-line"></div>
        <!--        поля ввода-->
        <ng-container>
          <ul class="nav nav-tabs">
            <!--          <li class="nav-item">-->
            <!--            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>-->
            <!--          </li>-->
            <li *ngFor="let locale of product.localizedDescriptions; let i = index" class="nav-item">
              <button class="btn-outline-secondary nav-link mr-2"
                [ngClass]="locale.language === currentLangTab ? 'active' : ''" data-toggle="tab"
                (click)="selectLangTab(locale.language)">{{locale.language}}</button>
            </li>
          </ul> <!-- Tab panes -->
          <div [ngSwitch]="currentLangTab" class="tab-content">
            <div *ngFor="let locale of product.localizedDescriptions; let i=index">
              <div *ngSwitchCase="locale.language" class="tab-pane container-fluid active">
                <!--    Имя карточки    -->
                <div class="input-group my-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Seo title:</span>
                  </div>
                  <input name="name" class="form-control" type="text" [(ngModel)]="product.localizedSEOs[i].name">
                </div>
                <!--    Заголовок карточки    -->
                <div class="input-group my-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Keywords:</span>
                  </div>
                  <input name="title" class="form-control" type="text"
                    [(ngModel)]="product.localizedSEOs[i].keywords">
                </div>
                <!--    Описание карточки    -->
                <div class="input-group my-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Description:</span>
                  </div>
                  <input name="description" class="form-control" type="text"
                    [(ngModel)]="product.localizedSEOs[i].description">
                </div>
                <!--    seo Link    -->
                <div class="input-group my-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">seo link:</span>
                  </div>
                  <input name="name" class="form-control" type="text" [(ngModel)]="product.seoLink">
                </div>

              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>


  <!--  brand/categories-->
  <div class="col-md-3 my-2">
    <div class="row">
<!--      Brand-->
      <div class="col-12 description-product-card">
        <!--        заголовок-->
        <div class="row">
          <div class="col description-product-card__header">
            <!-- левая часть-->
            <div class="description-product-card__header-left">
              <!-- текст -->
              <div class="description-product-card__header-left-text">
                Brand
              </div>
            </div>
            <div>

            </div>
            <!-- правая часть-->
            <div class="description-product-card__header-right">
              <button class="btn btn-header btn-header-update"
                      title="AUTO">
                <fa-icon [icon]="['fas', 'tram']" [classes]="['btn-header__icon']"></fa-icon>
              </button>
            </div>
          </div>
        </div>
        <!--        разделитель-->
        <div class="description-product-card__split-line"></div>
        <!--        поля ввода-->
        <!--    Brand    -->
        <div class="input-group mb-3" >
          <div class="input-group-prepend">
            <label class="input-group-text" for="brandSelect">Brand</label>
          </div>
          <div class="brand-text">
            <ng-select
              id="brandSelect"
              [items]="brands"
              bindLabel="title"
              [(ngModel)]="product.brand"
              [ngModelOptions]="{standalone: true}"
              (change)="changeBrand(product.brand.id)"
            >
            </ng-select>
          </div>
        </div>
        <!--    Manufacturer    -->
        <div class="input-group mb-3" *ngIf="product.manufacturer">
          <div class="input-group-prepend">
            <label class="input-group-text" for="manufacturerSelect">Manufacturer</label>
          </div>
          <div class="maufacturer-text">
            <ng-select
              id="manufacturerSelect"
              [items]="manufacturers"
              bindLabel="name"
              [(ngModel)]="product.manufacturer"
              [ngModelOptions]="{standalone: true}"
              (change)="changeManufacturer(product.manufacturer.id)"
            >
            </ng-select>
          </div>
        </div>
      </div>
<!--      Prices-->
      <div class="col-12 description-product-card" *ngIf="product?.price">
        <!--        заголовок-->
        <div class="row">
          <div class="col description-product-card__header">
            <!-- левая часть-->
            <div class="description-product-card__header-left">
              <!-- текст -->
              <div class="description-product-card__header-left-text">
                Prices
              </div>
            </div>
            <div>

            </div>
            <!-- правая часть-->
            <div class="description-product-card__header-right">
              <button class="btn btn-header btn-header-update"
                      title="AUTO">
                <fa-icon [icon]="['fas', 'rocket']" [classes]="['btn-header__icon']"></fa-icon>
              </button>
            </div>
          </div>
        </div>
        <!--        разделитель-->
        <div class="description-product-card__split-line"></div>
        <!--        поля ввода-->
        <!--    buy    -->
        <div class="input-group my-4">
          <div class="input-group-prepend">
            <span class="input-group-text">Buy:</span>
          </div>
          <input name="buy"
                 class="form-control"
                 type="number"
                 [(ngModel)]="product.price.buy">
        </div>
        <!--    sell    -->
        <div class="input-group my-4">
          <div class="input-group-prepend">
            <span class="input-group-text">Sell:</span>
          </div>
          <input name="sell"
                 class="form-control"
                 type="number"
                 [(ngModel)]="product.price.sell">
        </div>

      </div>
<!--      Categories-->
      <div class="col-12 description-product-card">
        <!--        заголовок-->
        <div class="row">
          <div class="col description-product-card__header">
            <!-- левая часть-->
            <div class="description-product-card__header-left">
              <!-- текст -->
              <div class="description-product-card__header-left-text">
                Categories
              </div>
            </div>
            <div>

            </div>
          </div>
        </div>
        <!--        разделитель-->
        <div class="description-product-card__split-line"></div>
        <!--        поля ввода-->
        <div class="description-product-card__body" *ngIf="categoriesAll" >

          <div class="d-flex justify-content-between align-items-center" *ngFor="let baseCategory of categoriesAll; let i = index">
            <p class="mb-0">{{(baseCategory.localizedDescriptions|localization).title}}</p>
            <button class="check btn btn-header btn-create"
              (click)="changeCategory(baseCategory)">
              <fa-icon *ngIf="isProductInCategory(baseCategory)" [icon]="['fas', 'check']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  parameters-->
  <div class="col-md-3 m-2">
    <div class="row">
      <div class="col-12 description-product-card">
        <!--        заголовок-->
        <div class="row">
          <div class="col description-product-card__header">
            <!-- левая часть-->
            <div class="description-product-card__header-left">
              <!-- текст -->
              <div class="description-product-card__header-left-text">
                Parameters
              </div>
            </div>
            <div>

            </div>
            <!-- правая часть-->
<!--            <div class="description-product-card__header-right">-->
<!--              <button class="btn btn-header btn-header-update"-->
<!--                      title="AUTO">-->
<!--                <fa-icon [icon]="['fas', 'save']" [classes]="['btn-header__icon']"></fa-icon>-->
<!--              </button>-->
<!--            </div>-->
          </div>
        </div>
        <!--        разделитель-->
        <div class="description-product-card__split-line"></div>
        <!--        поля ввода-->
        <!--    weight    -->
        <div class="input-group my-4">
          <div class="input-group-prepend">
            <span class="input-group-text">Weight (kg)</span>
          </div>
          <input name="buy"
                 class="form-control"
                 type="number"
                 [(ngModel)]="product.weight">
        </div>
        <!--    volume weight    -->
        <div class="input-group my-4">
          <div class="input-group-prepend">
            <span class="input-group-text">V-Weight-X</span>
          </div>
          <input name="v-weight"
                 class="form-control"
                 type="number"
                 [(ngModel)]="product.volumeWeightX">
        </div>
        <!--    volume weight    -->
        <div class="input-group my-4">
          <div class="input-group-prepend">
            <span class="input-group-text">V-Weight-Y</span>
          </div>
          <input name="v-weight"
                 class="form-control"
                 type="number"
                 [(ngModel)]="product.volumeWeightY">
        </div>
        <!--    volume weight    -->
        <div class="input-group my-4">
          <div class="input-group-prepend">
            <span class="input-group-text">V-Weight-Z</span>
          </div>
          <input name="v-weight"
                 class="form-control"
                 type="number"
                 [(ngModel)]="product.volumeWeightZ">
        </div>

        <!--    FSTEK    -->
        <div class="input-group my-4">
          <div class="input-group-prepend">
            <span class="input-group-text">FSTEK</span>
          </div>
          <input name="fstek"
                class="form-control"
                type="text"
                [(ngModel)]="product.fstek">
        </div>

        <!--    wh - position    -->
        <div class="input-group my-4">
          <div class="input-group-prepend">
            <span class="input-group-text">WH - position</span>
          </div>
          <input name="wh"
                 class="form-control"
                 type="number"
                 [(ngModel)]="product.warehousePosition">
        </div>
        <!--    mail model    -->
        <div class="input-group my-4">
          <div class="input-group-prepend">
            <span class="input-group-text">Mail model</span>
          </div>
          <input name="model"
                 class="form-control"
                 type="text"
                 [(ngModel)]="product.model">
        </div>
        <!--    vendor code    -->
        <div class="input-group my-4">
          <div class="input-group-prepend">
            <span class="input-group-text">Vendor code</span>
          </div>
          <input name="vendor"
                 class="form-control"
                 type="text"
                 [(ngModel)]="product.vendorCode">
        </div>
        <!--    priority    -->
        <!--    приоритет карточки    -->
        <div class="my-4">
          <div class="form-group">
            <label for="formControlRange">Priority: <span>{{product.priority ? product.priority : 'none'}}</span></label>
            <input type="range"
                   class="form-control-range custom-range"
                   id="formControlRange"
                   min="1"
                   max="10"
                   step="1"
                   [value]="product.priority"
                   (change)="changePriority($event.target.value)"
            >
          </div>
        </div>
        <!--    available    -->
        <div class="input-group my-4">
          <div class="input-group-prepend">
            <span class="input-group-text">Available</span>
          </div>
          <div class="status-text">
            <ng-select
              [items]="productAvailabilityStatuses"
              bindLabel="name"
              [(ngModel)]="product.productAvailability"
              [ngModelOptions]="{standalone: true}"
              (change)="changeAvailability(product.productAvailability)"
            >
            </ng-select>
          </div>
        </div>
        <!--    status    -->
        <div class="input-group my-4">
          <div class="input-group-prepend">
            <span class="input-group-text">Status</span>
          </div>
          <div class="status-text">
            <ng-select
              [items]="productVisibilityStatuses"
              bindLabel="name"
              [(ngModel)]="product.productVisibility"
              [ngModelOptions]="{standalone: true}"
              (change)="changeVisibility(product.productVisibility)"
            >
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
