<!--  карточка брэндов  -->
<div class="card shadow p-2">
  <!--  заголовок  -->
  <div class="card-header bg-white d-flex justify-content-between p-0">
    <div class="p-2">
      Brands
    </div>
    <div>
      <button class="btn btn-header btn-header-create"
              title="Create"
              (click)="updateBrand()">
        <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
      </button>
    </div>
  </div>
  <!--  тело  -->
  <div class="card-body px-3 pt-0 pb-1 dd-zone empty-place">
    <div class="row" dndDropzone
         (dndDragover)="dragover($event)"
         (dndDrop)="drop($event)">
      <div class="col-12 drop-holder text-center mt-4"
           dndPlaceholderRef>
        <fa-icon [icon]="['fas', 'plus']" [classes]="['btn-header__icon']"></fa-icon>
      </div>

      <ng-container *ngFor="let brand of brands; let i = index">
        <!--   список брэндов   -->
<!--        <div class="drag-card">-->


          <div class="col-12 px-md-0 my-md-1"
               [dndDraggable]="brand"
               [dndEffectAllowed]="'all'"
               [dndDisableIf]="false"
               (dndStart)=dragStart($event)
               (dndEnd)="dragEnd($event)"
               (dblclick)="updateBrand(brand)">
            <app-brand-card [brand]="brand"></app-brand-card>

          </div>
      </ng-container>
    </div>
  </div>
</div>
