<ng-container *ngIf="delivery">
  <!-- заголовок -->
  <div class="container-fluid">
    <div class="row">
      <div class="col header-card" [ngStyle]="{'backgroundColor':delivery.color}">
        <!-- левая часть-->
        <div class="header-card__left">
          <!-- назад -->
          <button class="btn btn-header btn-header-back"
                  title="Back">
            <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
          </button>
          <!-- текст -->
          <div class="header-card__text">Delivery</div>
        </div>
        <!-- правая часть-->
        <div class="header-card__right">
          <!-- доставка разрешена -->
          <ng-container *ngIf="delivery.enabled; else deliveryDisabled">
            <button class="btn btn-header btn-header-save"
                    type="button"
                    title="Enabled"
                    (click)="enableDelivery(false)">
              <fa-icon [icon]="['fas', 'eye']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
          </ng-container>
          <!--  доставка запрещена  -->
          <ng-template #deliveryDisabled>
            <button class="btn btn-header btn-header-delete"
                    type="button"
                    title="Disabled"
                    (click)="enableDelivery(true)">
              <fa-icon [icon]="['fas', 'eye-slash']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
          </ng-template>
          <button class="btn btn-header btn-header-save"
                  type="button"
                  title="Update"
                  (click)="updateDelivery(delivery)">
            <fa-icon [icon]="['fas', 'save']" [classes]="['btn-header__icon']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--  верхняя часть экрана  -->
  <div class="container-fluid delivery-container-fluid__top-part">
    <!--  задаем форму для валидации  -->
    <form  #f="ngForm">
    <!-- <form (ngSubmit)="updateDelivery(delivery)" #f="ngForm"> -->
      <div class="row m-1">
        <!--  языковая панель  -->
        <div class="col-md-5 p-1">
          <div class="card shadow__without-hover p-2">
            <!-- выбор языка -->
            <ng-container>
              <ul class="nav nav-tabs">
                <!--          <li class="nav-item">-->
                <!--            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>-->
                <!--          </li>-->
                <li *ngFor="let locale of delivery?.localizedDescriptions; let i = index" class="nav-item">
                  <button class="btn-outline-secondary nav-link mr-2"
                          [ngClass]="locale.language === currentLangTab ? 'active' : ''"
                          data-toggle="tab"
                          (click)="selectLangTab(locale.language)">{{locale.language}}</button>
                </li>
              </ul>      <!-- Tab panes -->
              <div [ngSwitch]="currentLangTab" class="tab-content">
                <div *ngFor="let locale of delivery?.localizedDescriptions; let i=index">
                  <div *ngSwitchCase="locale.language" class="tab-pane container-fluid active">
                    <!--    Имя карточки    -->
                    <div class="input-group my-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Name:</span>
                      </div>
                      <input name="name"
                             class="form-control"
                             type="text"
                             [(ngModel)]="delivery.localizedDescriptions[i].name">
                    </div>
                    <!--    Заголовок карточки    -->
                    <div class="input-group my-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Title:</span>
                      </div>
                      <input name="title"
                             class="form-control"
                             type="text"
                             [(ngModel)]="delivery.localizedDescriptions[i].title">
                    </div>
                    <!--    Описание карточки    -->
                    <div class="input-group my-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Description:</span>
                      </div>
                      <input name="description"
                             class="form-control"
                             type="text"
                             [(ngModel)]="delivery.localizedDescriptions[i].description">
                    </div>

                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <!--  добавление логотипа  -->
        <div class="col-md-2 py-1 px-3">
          <div class="card shadow px-2">
            <div class="card-header bg-white">
              LOGO
            </div>
            <div class="card-body embed-responsive embed-responsive-1by1 text-center">
              <!--    loader  -->
              <app-image-card [image]="delivery.image"
                              [imageTypeID]="delivery?.image?.typeID ? delivery.image.typeID : 3"
                              (changeImageEvent)="changeImage($event)"></app-image-card>
            </div>
          </div>
        </div>
        <!--  свойства  -->
        <div class="col-md-5 p-1">
          <div class="card shadow__without-hover px-2">
            <!--    заголовок    -->
            <div class="card-header bg-white">
              Properties
            </div>
            <!--   тело свойств   -->
            <div class="card-body px-3 pt-0 pb-1">
              <!--    приоритет карточки    -->
              <div class="my-4">
                <div class="form-group">
                  <label for="formControlRadio">Weight type</label>
                  <div class="form-check" id="formControlRadio">
                    <input class="form-check-input"
                           type="radio"
                           name="exampleRadios"
                           id="exampleRadios1"
                           [(ngModel)]="delivery.weightType"
                           [value]="true">
                    <label class="form-check-label" for="exampleRadios1">
                      Regular
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="exampleRadios"
                           id="exampleRadios2"
                           [checked]="!delivery.weightType"
                           [(ngModel)]="delivery.weightType"
                           [value]="false"
                          >
                    <label class="form-check-label" for="exampleRadios2">
                      Volume
                    </label>
                  </div>
                </div>
              </div>

              <!--    color    -->
<!--              <div class="input-group my-4">-->
<!--                <div class="input-group-prepend">-->
<!--                  <span class="input-group-text">Color</span>-->
<!--                </div>-->
<!--                <input name="seoKeyword"-->
<!--                       class="form-control"-->
<!--                       type="text"-->
<!--                       [(ngModel)]="delivery.color"-->
<!--                       value="">-->
<!--              </div>-->
              <div class="color-container">
                  <ng-color-box (ngModelChange)="colorChange($event)" [(ngModel)]="color" startHex="{{delivery.color ? delivery.color : '#0022ff'}}" name="color"></ng-color-box>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- заголовок нижней части -->
  <div class="container-fluid">
    <div class="row">
      <div class="col header-card">
        <!-- левая часть-->
        <div class="header-card__left">
          <div class="header-card__text ml-2">
            Zones
          </div>
        </div>
        <!-- правая часть-->
        <div class="header-card__right">
          <!-- добавить зону -->
          <button class="btn btn-header btn-header-save"
                  type="button"
                  title="Disabled"
                  (click)="createZone()">
            <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--  нижняя часть экрана  -->
  <div class="container-fluid delivery-container-fluid__bottom-part p-2">
    <div class="row col-12" *ngIf="delivery.zones">
      <div class="col-md-2" *ngFor="let zone of delivery.zones; let i=index">
        <app-zone-card [zone]="zone" [zoneIndex]="i"></app-zone-card>
      </div>
    </div>
  </div>
</ng-container>
