/* .container-first-part {
}
.container-second-part {
  height: calc(50vh - 5.5rem);
} */

//  базовый контейнер
.delivery-container-fluid {
  padding: 0.5rem;
  background: rgb(255, 255, 255);
  height: calc(100vh - 6.25rem);
  //  верхняя половинка
  &__top-part {
    height: auto;
    //height: calc(50vh - 10.5rem);
  }
  //  нижняя половинка
  &__bottom-part {
    height: calc(50vh - 2rem);
  }
}

// input colors
.color-container {
  height: 1.25rem;
  overflow: hidden;
}

::ng-deep {

  // color tone selection
  .saturation-lightness {
    display: none;
  }

  // horizontal color picker
  .hue {
    margin-top: -10.25rem !important;
  }
}
