.menu-card {
  background: rgb(221, 221, 221);
  //box-shadow: 0.2rem 0.2rem 1.5rem 0.05rem rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  height: 3rem;
  //margin-bottom: 0.5rem;
  &__left {
    display: flex;
    //margin-left: 1rem;
    align-items: center;
    //border: green solid 0.0625rem;
    //padding-top: 1rem;
  };
  &__right {
    display: flex;
    align-items: center;
  };
  &__link {
    padding: 0.5rem 1.75rem;
    margin: 0;
    font-size: 1.5rem;
    height: 3rem;
    //padding-bottom: 0;
    //align-self: center;
    &:hover {
      //margin: 1rem 1rem;
      background: rgb(204, 204, 204);
      cursor: pointer;
    }
    &__active {
      box-shadow: 0.2rem 0.2rem 0.5rem 0.05rem rgba(0, 0, 0, 0.18);
    }
  };
  &__border {
    height: 3rem;
    width: 0.125rem;
    background: rgb(73, 73, 73);
    &:first-child {
      width: 0;
    }
  }
}

.filter-card {
  background-color: rgb(255, 255, 255);
  border-top: 0.0625rem solid rgb(128, 128, 128);
}
