<!-- заголовок -->
<div class="container-fluid">
  <div class="row">
    <div class="col header-card">
      <!-- левая часть-->
      <div class="header-card__left">
        <!-- назад -->
        <button class="btn btn-header btn-header-back mt-1"
                title="BACK">
          <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
        <!-- текст -->
        <div class="header-card__text">
          Orders
        </div>
      </div>
      <!--      &lt;!&ndash; правая часть&ndash;&gt;-->
      <!--      <div class="header-card__right">-->
      <!--        <button class="btn btn-header btn-delete"-->
      <!--                title="DELETE">-->
      <!--          <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>-->
      <!--        </button>-->
      <!--      </div>-->
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- фильтрация по дате и select -->
      <div class="filter-card p-3">
        <div class="row">
          <!-- левая часть -->
          <div class="col-md-3 form-group">
            <!-- start date -->
            <input type="text"
                   placeholder="Start Date"
                   class="form-control"
                   bsDatepicker>
          </div>
          <div class="col-md-3 form-group">
            <!-- end  date -->
            <input type="text"
                   placeholder="End Date"
                   class="form-control"
                   bsDatepicker>
          </div>
          <div class="col-md-6 form-group d-flex">
            <!-- select filter -->
            <select class="form-control">
              <option value="">One</option>
              <option value="">Two</option>
              <option value="">Three</option>
            </select>

            <div class="d-flex ml-2">
              <!-- сегодняшняя дата -->
              <button class="btn btn-header btn-create" (click)="setTodayDate()">
                <fa-icon [icon]="['fas', 'calendar-day']" [classes]="['btn-header__icon']"></fa-icon>
              </button>
              <!-- очисть фильтер -->
              <button class="btn btn-header btn-delete" (click)="clearOrdersFilter()">
                <fa-icon [icon]="['fas', 'backspace']" [classes]="['btn-header__icon']"></fa-icon>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!--меню-->
<div class="container-fluid mb-3">
  <div class="row">
    <div class="col menu-card">
      <!-- левая часть-->
      <div class="menu-card__left">
        <!-- menu list -->
        <ng-container *ngFor="let orderConfig of orderConfigs">
          <div class="menu-card__border"></div>
          <!-- menu link -->
          <div class="menu-card__link"
               [ngClass]="{'menu-card__link__active': menuLink === orderConfig.name}"
               (click)="selectMenu(orderConfig.name)">
            <!-- link name -->
            <div class="text-capitalize">{{orderConfig.name}}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<!-- order status list -->
<div class="container-fluid" *ngFor="let orderConfig of orderConfigs">
  <app-order-page *ngIf="orderConfig.name === menuLink" [orderStatuses]="orderConfig.statuses"></app-order-page>
</div>
