<!-- заголовок -->
<div class="row">
  <div class="col justify-content-between align-items-center d-flex header-card">
    <!-- левая часть-->
    <div class="d-flex align-items-center">
      <h4 class="my-0 ml-2 mt-1">Keywords</h4>
    </div>
    <!-- правая часть-->
    <div class="d-flex">
      <!-- сохранить -->
      <button class="btn btn-header btn-header-create" type="submit" title="Add" (click)="addLocalizedKeywordInput()">
        <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
      </button>
      <!-- удалить -->

    </div>
  </div>
</div>
<!--   Кейворды  -->
<div class="container mt-5">
  <div class="row">
    <div class="col-xl-12">
      <table class="table">
        <!--   Заголовок  -->
        <thead>
          <tr>
            <!-- ключевое слово -->
            <th class="text-uppercase text-center" scope="col">Keyword</th>
            <!-- русская версия фразы -->
            <th class="text-uppercase text-center" scope="col">RU</th>
            <!-- английская версия фразы -->
            <th class="text-uppercase text-center" scope="col">EN</th>
            <!-- описание ключевого слова. Откуда оно итд -->
            <th class="text-uppercase text-center" scope="col">Description</th>
          </tr>
        </thead>
        <!--  Значения   -->
        <tbody>
          <tr *ngFor="let localizedKeyword of localizedKeywords; let i = index">
            <!--   currentEdit  -->
            <ng-container *ngIf="currentEdit == i; else readMode">
              <td class="text-center">
                <input 
                class="form-control" 
                type="text" 
                [(ngModel)]="localizedKeyword.keyword" 
                required />
              </td>
              <td class="text-center">
                <input 
                class="form-control" 
                type="text" 
                required 
                [(ngModel)]="localizedKeyword.ru" />
              </td>
              <td class="text-center">
                <input 
                class="form-control" 
                type="text" 
                required 
                [(ngModel)]="localizedKeyword.en" />
              </td>
              <td class="text-center">
                <input 
                class="form-control" 
                type="text" 
                required 
                [(ngModel)]="localizedKeyword.description" />
              </td>
              <!--   createdMode  -->
              <ng-container *ngIf="createdMode; else edit">
                <td class="text-center">
                  <button 
                  type="button" 
                  class="btn btn-save" 
                  (click)="createLocalizedKeyword(localizedKeyword)"
                  title="Create localizedKeyword">
                    <fa-icon [icon]="['fas', 'check-square']" [classes]="['btn-header__icon']"></fa-icon>
                  </button>
                </td>
              </ng-container>

              <ng-template #edit>
                <td class="text-center">
                  <button 
                  type="button" 
                  class="btn btn-save" 
                  (click)="updateLocalizedKeyword(localizedKeyword)"
                  title="Save changes">
                    <fa-icon [icon]="['fas', 'save']" [classes]="['btn-header__icon']"></fa-icon>
                  </button>

                </td>
              </ng-template>
              <td class="text-center">
                <button 
                type="button" 
                class="btn btn-delete" 
                (click)="deleteLocalizedKeyword(localizedKeyword)"
                title="delete Keyword">
                  <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>
                </button>
              </td>
              <td class="text-center">
                <button 
                type="button" 
                class="btn btn-cancel" 
                (click)="cancelLocalizedKeyword()" 
                title="Cancel changes">
                  <fa-icon [icon]="['fas', 'sync']" [classes]="['btn-header__icon']"></fa-icon>
                </button>
              </td>
            </ng-container>
            <!--   readMode  -->
            <ng-template #readMode>
              <td class="text-center">{{ localizedKeyword.keyword }}</td>
              <td class="text-center">{{ localizedKeyword.ru }}</td>
              <td class="text-center">{{ localizedKeyword.en }}</td>
              <td class="text-center">{{ localizedKeyword.description }}</td>
              <td class="text-center">
                <button 
                type="button" 
                class="btn btn-update" 
                [disabled]="createdMode" 
                (click)="editLocalizedKeyword(i)"
                title="Change">
                  <fa-icon [icon]="['fas', 'pen-square']" [classes]="['btn-header__icon']"></fa-icon>
                </button>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>