<ng-container *ngIf="manufacturer">
  <!--  название  -->
  <div class="card-header bg-white d-flex justify-content-between p-0">
    <div class="p-2">
      {{manufacturer.name}}
    </div>
    <div>
      <button class="btn btn-header btn-header-update"
              title="Create"
              (click)="updateManufacturer(manufacturer)">
        <fa-icon [icon]="['fas', 'pen']" [classes]="['btn-header__icon']"></fa-icon>
      </button>
    </div>
  </div>
  <!--  список брэндов производителя  -->
  <div class="card-body p-0 dd-zone empty-place" dndDropzone
       (dndDragover)="dragover($event)"
       (dndDrop)="drop($event)">
    <div class="drop-holder text-center mt-4"
         dndPlaceholderRef>
      <fa-icon [icon]="['fas', 'plus']" [classes]="['btn-header__icon']"></fa-icon>
    </div>
<!--    <div class="empty-place"></div>-->
    <!--  deliveries list  -->
    <div class="card my-3 shadow mx-auto" *ngIf="manufacturer.brands && manufacturer.brands.length > 0">

      <div class="px-2 py-2">

        <!-- карточка доставки -->
        <div class="col-12 px-md-0 my-md-1" *ngFor="let brand of manufacturer.brands"
             [dndDraggable]="brand"
             [dndEffectAllowed]="'all'"
             [dndDisableIf]="false"
             (dndStart)="dragStart($event)"
             (dndEnd)="dragEnd($event)">
          <app-brand-card [brand]="brand"></app-brand-card>
        </div>
      </div>
    </div>
  </div>
</ng-container>
