<section class="" *ngIf="currentBrand">
  <!-- заголовок -->
  <div class="container-fluid">
    <div class="row">
      <div class="col justify-content-between align-items-center d-flex header-card">
        <!-- левая часть-->
        <div class="d-flex align-items-center">
          <!-- назад -->
          <button class="btn btn-header btn-header-back mt-1"
                  title="Back">
            <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
          </button>
          <!-- текст -->
          <h4 class="my-0 ml-2 mt-1">Brand</h4>
        </div>
        <!-- правая часть-->
        <div class="d-flex align-items-center">
          <!-- создать / изменить -->
          <button class="btn btn-header btn-header-save"
                  type="button"
                  title="Save"
                  (click)="updateBrand(f)"
                  [disabled]="!f.valid">
            <fa-icon [icon]="['fas', 'save']" [classes]="['btn-header__icon']"></fa-icon>
          </button>
          <!-- удалить -->
          <button class="btn btn-header btn-header-delete"
                  type="submit"
                  title="button"
                  (click)="deleteBrand()">
            <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid base-container-fluid">
    <!--  задаем форму для валидации  -->
    <form #f="ngForm">
    <!-- <form (ngSubmit)="updateBrand(f)" #f="ngForm"> -->
      <div class="row m-1">
        <!--  языковая панель  -->
        <div class="col-md-5 p-1">
          <div class="card shadow p-2">
            <!-- выбор языка -->
            <ng-container>
              <ul class="nav nav-tabs">
                <!--          <li class="nav-item">-->
                <!--            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>-->
                <!--          </li>-->
                <li *ngFor="let locale of currentBrand?.localizedDescriptions; let i = index" class="nav-item">
                  <button class="btn-outline-secondary nav-link mr-2"
                          [ngClass]="locale.language === currentLangTab ? 'active' : ''"
                          data-toggle="tab"
                          (click)="selectLangTab(locale.language)">{{locale.language}}</button>
                </li>
              </ul>      <!-- Tab panes -->
              <div [ngSwitch]="currentLangTab" class="tab-content">
                <div *ngFor="let locale of currentBrand?.localizedDescriptions; let i=index">
                  <div *ngSwitchCase="locale.language" class="tab-pane container-fluid active">
                    <!--    Имя карточки    -->
                    <div class="input-group my-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Name:</span>
                      </div>
                      <input name="name"
                             class="form-control"
                             type="text"
                             [(ngModel)]="currentBrand.localizedDescriptions[i].name">
                    </div>
                    <!--    Заголовок карточки    -->
                    <!-- <div class="input-group my-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Title:</span>
                      </div>
                      <input name="title"
                             class="form-control"
                             type="text"
                             [(ngModel)]="currentBrand.localizedDescriptions[i].title">
                    </div> -->
                    <!--    Описание карточки    -->
                    <div class="input-group my-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Description:</span>
                      </div>
                      <input name="description"
                             class="form-control"
                             type="text"
                             [(ngModel)]="currentBrand.localizedDescriptions[i].description">
                    </div>

                  </div>
                </div>
              </div>
            </ng-container>
          </div>

          <div class="card shadow p-2 mt-3">
            <div class="card-header bg-white mb-2">
              SEO
            </div>
            <!-- выбор языка -->
            <ng-container>
              <ul class="nav nav-tabs">
                <!--          <li class="nav-item">-->
                <!--            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>-->
                <!--          </li>-->
                <li *ngFor="let locale of currentBrand?.localizedDescriptions; let i = index" class="nav-item">
                  <button class="btn-outline-secondary nav-link mr-2"
                          [ngClass]="locale.language === currentLangTab ? 'active' : ''"
                          data-toggle="tab"
                          (click)="selectLangTab(locale.language)">{{locale.language}}</button>
                </li>
              </ul>      <!-- Tab panes -->
              <div [ngSwitch]="currentLangTab" class="tab-content">
                <div *ngFor="let locale of currentBrand?.localizedDescriptions; let i=index">
                  <div *ngSwitchCase="locale.language" class="tab-pane container-fluid active">
                    <!--    Имя карточки    -->
                    <div class="input-group my-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Seo tittle:</span>
                      </div>
                      <input name="name"
                             class="form-control"
                             type="text"
                             [(ngModel)]="currentBrand.localizedDescriptions[i].name">
                    </div>
                    <!--    Заголовок карточки    -->
                    <div class="input-group my-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Title:</span>
                      </div>
                      <input name="title"
                             class="form-control"
                             type="text"
                             [(ngModel)]="currentBrand.localizedDescriptions[i].title">
                    </div>
                    <!--    Описание карточки    -->
                    <div class="input-group my-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Description:</span>
                      </div>
                      <input name="description"
                             class="form-control"
                             type="text"
                             [(ngModel)]="currentBrand.localizedDescriptions[i].description">
                    </div>

                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <!--  добавление логотипа  -->
        <div class="col-md-2 py-1 px-3">
          <div class="card shadow px-2">
            <div class="card-header bg-white">
              LOGO
            </div>
            <div class="card-body embed-responsive embed-responsive-1by1 text-center">
              <!--    loader  -->
              <app-image-card [image]="currentBrand.image"
                              [imageTypeID]="currentBrand?.image?.typeID ? currentBrand.image.typeID : 8"
                              (changeImageEvent)="changeImage($event)"></app-image-card>
            </div>
          </div>
        </div>
        <!--  свойства  -->
        <div class="col-md-5 p-1">
          <div class="card shadow px-2">
            <!--    заголовок    -->
            <div class="card-header bg-white">
              Свойства:
            </div>
            <!--   тело свойств   -->
            <div class="card-body px-3 pt-0 pb-1">
              <!--    приоритет карточки    -->
              <!--    приоритет карточки    -->
              <div class="my-4">
                <div class="form-group">
                  <label for="formControlRange">Priority: <span>{{currentBrand.priority ? currentBrand.priority : 'none'}}</span></label>
                  <input type="range"
                         class="form-control-range custom-range"
                         id="formControlRange"
                         min="1"
                         max="10"
                         step="1"
                         [value]="currentBrand.priority"
                         (change)="changePriority($event.target.value)"
                  >
                </div>
              </div>
              <!--    СЕО слова    -->
              <div class="input-group my-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">SEO keyword:</span>
                </div>
                <input name="seoKeyword"
                       class="form-control"
                       type="text"
                       ngModel
                       value="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
