// invalid input
input.ng-touched.ng-invalid {
  border:solid rgb(255, 0, 0) 0.125rem;
}

// valid input
input.ng-touched.ng-valid {
  border:solid rgb(0, 128, 0) 0.125rem;
}

/* .brand-logo {
  border-radius: 0.125rem;

  @media screen and (min-width: 640px) {
    width: 1.5625rem;
    height: 1.5625rem;
  }

  @media screen and (min-width: 1024px) {
    width: 3.125rem;
    height: 3.125rem;
  }

  @media screen and (min-width: 1280px) {
    width: 4.6875rem;
    height: 4.6875rem;
  }
}*/