<ng-container *ngIf="order">
  <!--  header  -->
  <header class="header" [ngStyle]="{'background-color': order.delivery.color}"></header>
  <!--  container -->
  <div class="container-fluid mb-5">
    <form (ngSubmit)="submit(f)" #f="ngForm">
      <ng-container *ngFor="let item of order?.items; let i = index">
        <!--  строка товара  -->
        <div class="row border d-flex align-items-center" [ngClass]="item.assembled ? 'selected-row' : ''">
          <!--  картинка  -->
          <div class="col-3">
            <img class="img-fluid" [src]="item?.product?.imageFront?.url ? imagePath + 'products/icon/' + item.product.imageFront.url + '.jpg' : imagePath + 'none.jpg'" [alt]="item?.product?.imageFront?.name ? item.product.imageFront.name : 'none'">
          </div>
          <!--  описание  -->
          <div class="col-9">
            <div class="row d-flex align-items-center justify-content-between text-center">
              <!--  название  -->
              <div class="col-3 d-flex flex-column align-items-center">
                <!-- <p><b>{{item.product.localizedDescriptions[0].name}}</b></p> -->
                <p>{{item?.product?.localizedDescriptions[1]?.name}}</p>
              </div>
              <!--  производитель  -->
              <div class="col-3 d-flex flex-column align-items-center">
                <p><b>{{item?.product?.brand?.localizedDescriptions[1]?.name}}</b></p>
              </div>
              <!--  характеристики  -->
              <div class="col-3 d-flex flex-column align-items-center">
                <div *ngFor="let optionValue of item.optionValues">
                  <span *ngIf="optionValue.ru">{{optionValue.ru}}</span>
                  <span *ngIf="!optionValue.ru">{{optionValue.localizedDescriptions[1].name}}</span>
                </div>
              </div>
              <!--  чекбокс  -->
              <div class="col-3 d-flex justify-content-center align-items-center">
                <label class="check">
                  <input type="checkbox" [(ngModel)]="item.assembled" [name]="'check' + i"
                         (change)="checkerHasChanged(item)" required/>
                  <div class="box"></div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <!--  footer  -->
      <div class="footer d-flex align-items-center fixed-bottom">
        <div class="row mx-auto justify-content-between align-items-center">
          <div class="col-6">
            <input type="range" class="custom-range" required [(ngModel)]="boxNumber" name="boxNumber" min="1" max="100"
                   step="1">
          </div>
          <div class="col-1">
            <span class="footer__button-text">{{boxNumber}}</span>
          </div>
          <div class="col">

            <button type="submit" [disabled]="!f.valid" class="btn btn-success footer__button">
              to Box
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
<ng-container>




