//  header
.header {
  width: 100%;
  height: 0.625rem;
}

//  выбранная строка
.selected-row {
  background-color: rgba(40,200,40,.3);
}

//  checkbox container
.check {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  // нативный checkbox
  input {
    display: none;

    // custom checkbox color
    &:checked + .box {
      background-color: rgb(179, 255, 183);

      &:after {
        top: 0;
      }
    }
  }

  // custom checkbox
  .box {
    width: 100%;
    height: 100%;
    transition: all 1.1s cubic-bezier(.19,1,.22,1);
    border: 0.125rem solid rgb(128, 128, 128);
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:after {
      width: 50%;
      height: 30%;
      content: '';
      position: absolute;
      border-left: 0.5rem solid;
      border-bottom: 0.5rem solid;
      border-color: rgb(64, 197, 64);
      transform: rotate(-45deg) translate3d(0,0,0);
      transform-origin: center center;
      transition: all 1.1s cubic-bezier(.19,1,.22,1);
      left: 0;
      right: 0;
      top: 200%;
      bottom: 5%;
      margin: auto;
    }
  }
}

//  footer
.footer {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 7.5vh;

  //  input range
  input[type=range] {
    //width: 35%;
  }

  // to box button
  &__button {
    //width: 10rem;

    // box number
    &-text {
      width: 5rem;
    }
  }
}
