.incoming-card {
  margin-bottom: 0.01rem;
  //background: #eeeeee;
  border-radius: 0.25rem;
  min-height: 5rem;
  padding: 1rem;
  border-color: rgb(211, 211, 211)!important;
  border-top: solid 0.0625rem;
  border-bottom: solid 0.0625rem;
  //border-left: solid 0.0625rem;
  //border-right: solid 0.0625rem;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(108, 117, 125, 0.3);
  //overflow: hidden;
}

/* .incoming {

  &__image {
    height: 5rem;
  }

  &__edit {
    cursor: pointer;
    height: 100%;
  }
} */

// collapse details
.incoming-details {
  width: 90%;
  margin-left: auto;

  // details header
  &__header {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    background-color: rgb(240, 240, 240);
  }
}