<div *ngIf="incoming">
  <div class="d-flex incoming-card justify-content-between align-items-center incoming" (click)="openIncomingItems()" (dblclick)="updateIncoming(incoming)">
    <!-- Number -->
    <div>{{incoming.id}}</div>
    <!--  Date -->
    <div>{{incoming.createdAt.toLocaleDateString()}}</div>
    <!--  Time -->
    <div>{{incoming.createdAt.toLocaleTimeString()}}</div>
    <!--  Manufacturers -->
    <div>{{getManufacturers(incoming)}}</div>
    <!--  Invoice -->
    <div>{{incoming.invoice}}</div>
    <!--  Status -->
    <div>{{incoming.checked ? 'принят' : 'не принят'}}</div>
    <!--  Comment -->
    <div>{{incoming.comment}}</div>
    <!-- File -->
    <a class="btn btn-header-delete" [href]="incoming?.scan?.url ? imagePath + incoming.scan.url + '.jpg' : imagePath + 'none.jpg'">
        <fa-icon [icon]="['fas', 'file-alt']" [classes]="['btn-header__icon']"></fa-icon>
    </a>
    <!--  Action -->
    <div class="col-1 d-flex justify-content-end">
      <button type="button"
              class="btn btn-save"
              (click)="checkIncoming(incoming)" *ngIf="!incoming.checked">
        <fa-icon [icon]="['fas', 'check']" [classes]="['btn-header__icon']"></fa-icon>
      </button>
      <button type="button"
              class="btn btn-header-delete"
              (click)="delIncoming(incoming)">
        <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>
      </button>
    </div>
  </div>
  <!-- collapse -->
  <div *ngIf="incomingItems" class="incoming-details mb-4" @fadeInOut>
    <div class="row mx-0">
      <div class="col-2 border incoming-details__header">Item</div>
      <div class="col-5 border incoming-details__header">OptionValues</div>
      <div class="col-3 border incoming-details__header">Amount</div>
      <div class="col-2 border incoming-details__header">Brand</div>
    </div>
    <div *ngFor="let incomingItem of incoming?.incomingItems">
      <app-item-card [incomingItem]="incomingItem"></app-item-card>
    </div>
  </div>
</div>
