<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-order-status-card [orderStatus]="orderStatus" *ngFor="let orderStatus of orderStatuses"></app-order-status-card>
    </div>
  </div>
</div>
