<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-4">
      <!--  карточка  -->
      <div class="card shadow__without-hover p-2 mb-3 order-item">
        <!--  заголовок  -->
        <div class="card-header bg-white d-flex justify-content-between p-0">
          <div class="p-2">
            User
          </div>
        </div>
        <!--  тело  -->
        <div class="card-body py-1 px-0">
          <div class="form-group row">
            <label for="firstName" class="col-sm-4 col-form-label">First Name</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="firstName" [(ngModel)]="order.createdShippingAddress.firstName" placeholder="First Name" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for="lastName" class="col-sm-4 col-form-label">Last Name</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="lastName" [(ngModel)]="order.createdShippingAddress.lastName" placeholder="Last Name" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for="address" class="col-sm-4 col-form-label">Address</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="address" [(ngModel)]="order.createdShippingAddress.description" placeholder="Street 5555" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for="city" class="col-sm-4 col-form-label">City</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="city" [(ngModel)]="order.createdShippingAddress.city" placeholder="Moscow" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for="postcode" class="col-sm-4 col-form-label">Postcode</label>
            <div class="col-md-8">
              <input type="number" class="form-control" id="postcode" [(ngModel)]="order.createdShippingAddress.zip" placeholder="432633" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for="phone" class="col-sm-4 col-form-label">Phone</label>
            <div class="col-md-8">
              <input type="tel" class="form-control" id="phone" [(ngModel)]="order.createdShippingAddress.phone" placeholder="000 77 88" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for="country" class="col-sm-4 col-form-label">Country</label>
            <div class="col-md-8">
              <!-- <select class="form-control" id="country">
                <option value="">
                  Фино-монгольская граница
                </option>
              </select> -->
              <ng-select 
                [items]="countryList"
                bindLabel="title"
                (click)="chooseCountry()"
                [(ngModel)]="order.createdShippingAddress.country.name"
                [disabled]=true>
            </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="region/state" class="col-sm-4 col-form-label">Region/State</label>
            <div class="col-md-8">
              <!-- <select class="form-control" id="region/state">
                <option value="">Region 1</option>
                <option value="">Region 2</option>
              </select> -->
              <ng-select 
                [items]="regionList"
                bindLabel="title"
                (click)="chooseRegion()"
                [(ngModel)]="order.createdShippingAddress.region.name"
                [disabled]=true>
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">Email</label>
            <div class="col-md-8">
              <input type="email" class="form-control" id="email" [(ngModel)]="order.createdShippingAddress.email" placeholder="email@email.com" readonly>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4" *ngIf="!currentShippingAddress">
      <div class="text-center d-flex justify-content-center align-items-center align-self-stretch card shadow__without-hover order-item">
        <button class="btn btn-header btn-header-back"
                title="ADD"
                (click)="showCurrentShippingAddress()">
          <fa-icon [icon]="['fas', 'plus']" size="5x"></fa-icon>
        </button>
      </div>
    </div>
    <div *ngIf="currentShippingAddress" class="col-md-4">
      <!--  карточка  -->
      <div class="card shadow__without-hover p-2 mb-3 order-item">
        <!--  заголовок  -->
        <div class="card-header bg-white d-flex justify-content-between p-0">
          <div class="p-2">
            Shipping
          </div>
        </div>
        <!--  тело  -->
        <div class="card-body py-1 px-0">
          <div class="form-group row">
            <label for="firstName2" class="col-sm-4 col-form-label">First Name</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="firstName2" [(ngModel)]="order.currentShippingAddress.firstName" placeholder="First Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="lastName2" class="col-sm-4 col-form-label">Last Name</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="lastName2" [(ngModel)]="order.currentShippingAddress.lastName" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="address2" class="col-sm-4 col-form-label">Address</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="address2" [(ngModel)]="order.currentShippingAddress.description" placeholder="Street 5555">
            </div>
          </div>
          <div class="form-group row">
            <label for="city2" class="col-sm-4 col-form-label">City</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="city2" [(ngModel)]="order.currentShippingAddress.city" placeholder="Moscow">
            </div>
          </div>
          <div class="form-group row">
            <label for="postcode2" class="col-sm-4 col-form-label">Postcode</label>
            <div class="col-md-8">
              <input type="number" class="form-control" id="postcode2" [(ngModel)]="order.currentShippingAddress.zip" placeholder="432633">
            </div>
          </div>
          <div class="form-group row">
            <label for="phone2" class="col-sm-4 col-form-label">Phone</label>
            <div class="col-md-8">
              <input type="tel" class="form-control" id="phone2" [(ngModel)]="order.currentShippingAddress.phone" placeholder="000 77 88">
            </div>
          </div>
          <div class="form-group row">
            <label for="country2" class="col-sm-4 col-form-label">Country</label>
            <div class="col-md-8">
              <!-- <select class="form-control" id="country2">
                <option value="">
                  Фино-монгольская граница
                </option>
              </select> -->
              <ng-select 
                [items]="countryList"
                bindLabel="title"
                (click)="chooseCountry()"
                [(ngModel)]="order.currentShippingAddress.country.name">
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="region/state2" class="col-sm-4 col-form-label">Region/State</label>
            <div class="col-md-8">
              <!-- <select class="form-control" id="region/state2">
                <option value="">Region 1</option>
                <option value="">Region 2</option>
              </select> -->
              <ng-select 
                [items]="regionList"
                bindLabel="title"
                (click)="chooseRegion()"
                [(ngModel)]="order.currentShippingAddress.region.name">
            </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="email2" class="col-sm-4 col-form-label">Email</label>
            <div class="col-md-8">
              <input type="email" class="form-control" id="email2" [(ngModel)]="order.currentShippingAddress.email" placeholder="email@email.com">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <!--  карточка  -->
          <div class="card shadow__without-hover p-2 mb-3">
            <!--  заголовок  -->
            <div class="card-header bg-white d-flex justify-content-between p-0">
              <div class="p-2">
                User comment
              </div>
            </div>
            <!--  тело  -->
            <div class="card-body py-1 px-0">
              <!--   список orders   -->
              <div class="row m-1">
                <div class="col-md-12">
                  {{order.comments}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!--  карточка  -->
          <div class="card shadow__without-hover p-2 mb-3">
            <!--  заголовок  -->
            <div class="card-header bg-white d-flex justify-content-between p-0">
              <div class="p-2">
                Add comment
              </div>
            </div>
            <!--  тело  -->
            <div class="card-body py-1 px-0">
              <!--   список orders   -->
              <div class="row m-1">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea class="form-control" rows="10"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!--  карточка  -->
      <div class="card shadow__without-hover p-2 mb-3">
        <!--  заголовок  -->
        <div class="card-header bg-white d-flex justify-content-between p-0">
          <div class="p-2">
            Delivery Type
          </div>
        </div>
        <!--  тело  -->
        <div class="card-body py-1 px-0">
          <!--   список orders   -->
          <div class="row align-items-center">
            <div class="col-md-4">
              <ng-select 
                [items]="deliveries"
                bindLabel="localizedDescriptions.0.name"
                (click)="chooseDelivery()"
                [(ngModel)]="order.delivery.localizedDescriptions[1].name">
              </ng-select>
            </div>
            <div class="col-md-1 d-flex justify-content-center">
              <div class="box d-flex justify-content-center align-items-center">
                <img
                  src="{{imagePath + 'deliveries/' + order?.delivery?.image?.url + '.jpg'}}"
                  class="img-fluid delivery-card__logo-image"
                  alt="{{order?.delivery?.image?.name}}">
              </div>
            </div>
            <div class="col-md-4">
              to UNITED STATES ~1.5 KG ~3 KGV $50
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!--  карточка  -->
      <div class="card shadow__without-hover p-2 mb-3">
        <!--  заголовок  -->
        <div class="card-header bg-white d-flex justify-content-between p-0">
          <div class="p-2">
            Items
          </div>
        </div>
        <!--  тело  -->
        <div class="card-body py-1 px-0">
          <!--   список orders   -->
          <div class="row m-1">
            <div class="col-md-12">
              <!-- cart items -->
              <div class="container" *ngIf="order.items.length < 1">
                <p>Items not generated</p>
                <table class="table">
                  <!--   Заголовок  -->
                  <thead>
                    <tr>
                      <th class="text-uppercase text-center" scope="col">ID</th>
                      <th class="text-uppercase text-center" scope="col">Image</th>
                      <th class="text-uppercase text-center" scope="col">Name</th>
                      <th class="text-uppercase text-center" scope="col">Options</th>
                      <th class="text-uppercase text-center" scope="col">Amount</th>
                      <th class="text-uppercase text-center" scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of order.cartItems">
                      <td class="text-center">{{item.id}}</td><!--http://localhost:4400/orders/order/65 -->
                      <td class="text-center">
                        <img class="product-image" [src]="item?.product?.imageFront?.url ? imagePath + 'products/' + item.product.imageFront.url + '.jpg' : imagePath + 'none.jpg'" [alt]="item?.product?.imageFront?.name ? item.product.imageFront.name : 'none'">
                      </td>
                      <td class="text-center">{{item?.product?.localizedDescriptions[1]?.name}}</td>
                      <td class="text-center">
                        <div *ngFor="let optionValue of item.optionValues">
                          <span *ngIf="optionValue.ru">{{optionValue.ru}}</span>
                          <span *ngIf="!optionValue.ru">{{optionValue.localizedDescriptions[1].name}}</span>
                        </div>
                      </td>
                      <td class="text-center">{{item?.orderCount}}</td>
                      <td class="text-center">{{item?.product?.price?.sell}}</td>
                    </tr>
                    <tr>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center">Sub-Total:</td>
                      <td class="text-center">{{order.totalCost}}</td>
                    </tr>
                    <tr>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center">Delivery:</td>
                      <td class="text-center">{{order.deliveryCost}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              <!-- items -->
              <div class="container" *ngIf="order.items.length > 0">
                <table class="table">
                  <!--   Заголовок  -->
                  <thead>
                    <tr>
                      <th class="text-uppercase text-center" scope="col">ID</th>
                      <th class="text-uppercase text-center" scope="col">Image</th>
                      <th class="text-uppercase text-center" scope="col">Name</th>
                      <th class="text-uppercase text-center" scope="col">Options</th>
                      <th class="text-uppercase text-center" scope="col">Status</th>
                      <!-- <th class="text-uppercase text-center" scope="col">Amount</th> -->
                      <th class="text-uppercase text-center" scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of order.items">
                      <td class="text-center">{{item.id}}</td><!--http://localhost:4400/orders/order/65 -->
                      <td class="text-center">
                        <img class="product-image" [src]="item?.product?.imageFront?.url ? imagePath + 'products/icon/' + item.product.imageFront.url + '.jpg' : imagePath + 'none.jpg'" [alt]="item?.product?.imageFront?.name ? item.product.imageFront.name : 'none'">
                      </td>
                      <td class="text-center">{{item?.product?.localizedDescriptions[1]?.name}}</td>
                      <td class="text-center">
                        <div *ngFor="let optionValue of item.optionValues">
                          <span *ngIf="optionValue.ru">{{optionValue.ru}}</span>
                          <span *ngIf="!optionValue.ru">{{optionValue.localizedDescriptions[1].name}}</span>
                        </div>
                      </td>
                      <td class="text-center">{{item?.status?.name}}</td>
                      <!-- <td class="text-center">{{item?.orderCount}}</td> -->
                      <td class="text-center">{{item?.price}}</td>
                    </tr>
                    <tr>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center">Sub-Total:</td>
                      <td class="text-center">{{order.totalCost}}</td>
                    </tr>
                    <tr>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center">Delivery:</td>
                      <td class="text-center">{{order.deliveryCost}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
