tr th {
  border-top: none;
  border-left: none ;
  border-bottom: none ;
}

.box {
  width: 5rem;
  height: 5rem;
  // background-color: rgb(255, 255, 0);
}

.order-item {
  height: 36.25rem;
}

.product-image {
  height: 5rem;
}

.btn-header-back {
  padding: 2rem;
  border: 0.0625rem solid var(--baseColor);
  border-radius: 100rem;
}

//  селект
::ng-deep .ng-select {
  border-radius: 0.5rem;
  border: rgb(73, 73, 73) solid 0.125rem;
  min-height: 2rem;
  min-width: 12rem;
  background: rgb(245, 245, 245);
  margin-left: 0.5rem;

  // input field
  .ng-select-container {
    margin-top: 0.25rem;
    height: 1.875rem;

    .ng-value-container {
      .ng-input {
        color: rgb(255, 255, 255);
        background: transparent;
        border-radius: 0 0 0.5rem 0.5rem;
        min-height: 2rem;
        padding-left: 0.5rem;
        padding-right: 2.5rem;
      }

      // placeholder
      .ng-placeholder {
        padding-left: 0.5rem;
        min-height: 2rem;
      }
    }

    // clear selected option
    .ng-clear-wrapper {
      margin-top: 0.25rem;
      margin-right: 0.25rem;
      .ng-clear {
      }
    }

    // expand dropdown panel
    .ng-arrow-wrapper {
      padding-right: 1.0625rem;
      padding-top: 0.125rem;

      .ng-arrow::before {
        content: "v";
      }
    }
  }

  // dropdown-panel
  .ng-dropdown-panel {
    background: rgb(245, 245, 245);
    border: rgb(73, 73, 73) solid 0.0625rem;
    border-radius: 0 0 0.5rem 0.5rem;

    // option field
    .ng-option {
      background: rgb(245, 245, 245);
      border: rgb(73, 73, 73) solid 0.0625rem;
      border-radius: 0 0 0.5rem 0.5rem;
      padding-left: 0.5rem;
      margin: 0.5rem;
      &:hover {
        color: rgb(64, 197, 64);
      }

      // selected option
      &-marked {
        background: rgb(168, 168, 168);
      }
    }
  }
}
