<!-- заголовок -->
<div class="container-fluid">
  <div class="row">
    <div class="col header-card">
      <!-- левая часть-->
      <div class="header-card__left">
        <!-- назад -->
        <button class="btn btn-header btn-header-back mt-1"
                title="BACK">
          <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
        <!-- текст -->
        <div class="header-card__text">
          Products
        </div>
      </div>
      <!-- правая часть-->
      <div class="header-card__right">
        <button class="btn btn-header btn-header-create"
                title="CREATE"
                [routerLink]="['product']">
          <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<!--  фильтр  -->
<div class="container-fluid mb-3">
  <form>
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="d-flex justify-content-between align-items-center filter-field shadow">
          <!--    Заголовок карточки    -->
          <div class="input-group my-4">
            <div class="input-group-prepend">
              <span class="input-group-text">Title:</span>
            </div>
            <input #filter
                   name="title"
                   class="form-control"
                   [(ngModel)]="textForFiltering"
                   [ngClass]="{'active-filter': textForFiltering.trim().length > 2}"
                   (keyup)="$event.target.value.trim().length === 0 || $event.target.value.trim().length > 2 ?
                        filterProducts($event.target.value) : true;"
                   (keyup.enter)="filterProducts($event.target.value)"
                   (keyup.escape)="filterProducts()"
                   type="text" (click)="filterProducts($event.target.value)">
          </div>
          <div class="d-flex justify-content-between">
            <button class="btn btn-header btn-header-save mx-2"
                    title="BACK"
                    (click)="filterProducts(filter.value)">
              <fa-icon [icon]="['fas', 'search']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
            <!--    кнопка отмены    -->
            <button *ngIf="textForFiltering.length > 0"
                    class="btn btn-header btn-header-cancel mt-1"
                    title="BACK"
                    (click)="filterProducts()">
              <fa-icon [icon]="['fas', 'sync']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!--  список  -->
<div class="container-fluid">
  <div class="row">
<!--    поля для таблицы-->
    <div class="col-12">
    </div>
<!--    сами данные-->
    <div class="col-11 mx-auto" *ngFor="let product of products">
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
