<section *ngIf="currentManufacturer">
  <!-- заголовок -->
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 justify-content-between align-items-center d-flex header-card">
          <!-- левая часть-->
          <div class="d-flex align-items-center">
            <!-- назад -->
            <button class="btn btn-header btn-header-back mt-1"
                    title="DELETE">
              <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
            <!-- текст -->
            <h4 class="my-0 ml-2 mt-1">Manufacturer</h4>
          </div>
          <!-- правая часть-->
          <div class="d-flex">
            <!-- сохранить -->
            <button class="btn btn-header btn-header-save"
                    type="submit"
                    title="Save"
                    (click)="updateManufacturer()"
                    [disabled]="currentManufacturer?.name?.length == 0 || currentManufacturer?.discount?.length == 0"
            >
              <fa-icon [icon]="['fas', 'save']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
            <!-- удалить -->
            <button
                    type="button"
                    class="btn btn-header btn-header-delete"
                    title="DELETE"
                    (click)="deleteManufacturer()">
              <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mx-auto">
          <!-- основные данные производителя -->
          <div class="card shadow-without-hover cart-div-header">
            <!--  тело  -->
            <div class="card-body m-2 ">
              <div class="row">
                <div class="col-md-4 form-group">
                  <label for="name">Name</label>
                  <input
                    id="name"
                    type="text"
                    class="form-control"
                    required
                    [(ngModel)] ="currentManufacturer.name">
                </div>

                <div class="col-md-4 form-group">
                  <label for="addValue">Added Value</label>
                  <input
                    id="addValue"
                    type="text"
                    class="form-control"
                    required
                    [(ngModel)] ="currentManufacturer.discount"
                  >
                </div>

                <div class='col-md-4 form-group'>
                  <label for="color">Color</label>
                  <div>
                    <input
                      id="color"
                      type="range"
                      min="1"
                      max="10"
                      class="range"
                      [(ngModel)] ="currentManufacturer.color"
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- основные данные производителя -->
          <div class="card shadow-without-hover card-div-footer">
            <div class="card-body m-2 ">
              <div class="row">
                <div class="w-100">
                  <div class="col-md-12 form-padding">

                    <div class="form-group">
                      <label for="contacts">Contacts</label>
                      <input
                        id="contacts"
                        type="text"
                        class="form-control"
                        [(ngModel)] ="currentManufacturer.contacts"
                      >
                    </div>
                    <div class="form-group">
                      <label for="site">WebSite</label>
                      <input
                        id="site"
                        type="text"
                        class="form-control"
                        [(ngModel)] ="currentManufacturer.site"
                      >
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input
                        id="email"
                        type="text"
                        class="form-control"
                        [(ngModel)] ="currentManufacturer.email"
                      >
                    </div>
                    <div class="form-group">
                      <label for="vk">VK</label>
                      <input id="vk" type="text" class="form-control"
                             [(ngModel)] ="currentManufacturer.vk"
                      >
                    </div>
                    <div class="form-group">
                      <label for="phone">Phone</label>
                      <input
                        id="phone"
                        type="text"
                        class="form-control"
                        [(ngModel)] ="currentManufacturer.phone"
                      >
                    </div>
                    <div class="form-group">
                      <label for="bank">Bank</label>
                      <input
                        id="bank"
                        type="text"
                        class="form-control"
                        [(ngModel)] ="currentManufacturer.bank"
                      >
                    </div>
                    <div class="form-group">
                      <label for="contract">Contract</label>
                      <input
                        id="contract"
                        type="text"
                        class="form-control"
                        [(ngModel)] ="currentManufacturer.contract"
                      >
                    </div>

                    <div class="form-group">
                      <label for="discount">Discount</label>
                      <input
                        id="discount"
                        type="text"
                        class="form-control"
                        [(ngModel)] ="currentManufacturer.discount"
                      >
                    </div>
                    <div class="form-group">
                      <label for="address">Address</label>
                      <input
                        id="address"
                        type="text"
                        class="form-control"
                        [(ngModel)] ="currentManufacturer.address"
                      >
                    </div>
                    <div class="form-group">
                      <label for="delivery">Delivery</label>
                      <input
                        id="delivery"
                        type="text"
                        class="form-control"
                        [(ngModel)] ="currentManufacturer.delivery"
                      >
                    </div>
                    <div class="form-group">
                      <label for="comment">Comment</label>
                      <input
                        id="comment"
                        type="text"
                        class="form-control"
                        [(ngModel)] ="currentManufacturer.comment"
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
