// inputs group container
.card {
  margin: 1rem;
}

// error
.Error{
  color: rgb(255, 0, 0);
}

// range input
.range{
  width: 100%;
}

// form group
.form-padding >div{
  padding-top: 0.625rem;
}

/* .flex-container{
  width: 100%;
  display: flex;
}
 */