<!-- заголовок -->
<div class="row">
  <div class="col justify-content-between align-items-center d-flex header-card">
    <!-- левая часть-->
    <div class="d-flex align-items-center">
      <!-- назад -->
      <!--        <button class="btn btn-header mt-1"-->
      <!--                title="BACK">-->
      <!--          <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>-->
      <!--        </button>-->
      <!-- текст -->
      <h4 class="my-0 ml-2 mt-1">Users</h4>
    </div>
    <!-- правая часть-->
    <div class="d-flex">
      <!-- сохранить -->
      <button class="btn btn-header btn-header-create"
              type="submit"
              title="Create"
              (click)="addUserInput()"
      >
        <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
      </button>
      <!-- удалить -->
      <!--        <button class="btn btn-header"-->
      <!--                title="DELETE">-->
      <!--          <i class="fa fa-trash fa-2x fa-fw btn-header__icon"></i>-->
      <!--        </button>-->
    </div>
  </div>
</div>
<!--  Карточка пользователей  -->
<div class="container mt-5">
  <table class="table">
    <!--  header  -->
    <thead>
    <tr>
      <th class='text-uppercase' scope="col">user name</th>
      <th class='text-uppercase' scope="col">login</th>
      <th class='text-uppercase' scope="col">password</th>
      <th class='text-uppercase' scope="col">description</th>
    </tr>
    </thead>
    <!-- users -->
    <tbody>
    <tr *ngFor="let user of users; let userIndex = index">
      <!-- read mode -->
      <ng-container *ngIf="updatingUserIndex != userIndex; else editMode">
        <td class="pt-4">
          <span class="mx-auto">
            {{user.username}}
          </span>
        </td>
        <td class="pt-4">
          {{user.login ? user.login : ''}}</td>
        <td class="pt-4">{{user.password}}</td>
        <td class="pt-4">{{user.description}}</td>

        <td class="text-center d-flex justify-content-start">
          <button title="update" class="btn btn-update " (click)="updateUserIndex(userIndex)">
            <fa-icon [icon]="['fas', 'pen-square']" [classes]="['btn-header__icon']"></fa-icon>
          </button>
        </td>

      </ng-container>


      <!-- edit mode -->
      <ng-template #editMode>
        <td>
          <input class="text-center" type="text" [(ngModel)]="user.username">
        </td>
        <td>
          <input class="text-center" type="text" [(ngModel)]="user.login">
        </td>
        <td>
          <input class="text-center" type="text" [(ngModel)]="user.password">
        </td>
        <td>
          <input class="text-center" type="text" [(ngModel)]="user.description">
        </td>

        <!--  create  mode  -->
        <ng-container *ngIf="createMode; else update">
          <td class="text-center d-flex justify-content-start">
            <button title="Add" class="btn btn-update" (click)="createUser(userIndex)">
              <fa-icon [icon]="['fas', 'save']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
            <button title="cancel" class="btn btn-cancel" (click)="cancelUser()">
              <fa-icon [icon]="['fas', 'sync-alt']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
          </td>
        </ng-container>

        <!--  update  mode  -->
        <ng-template #update>
          <td class="text-center d-flex justify-content-start">
            <button title="update" class="btn btn-update" (click)="updateUser(userIndex)">
              <fa-icon [icon]="['fas', 'save']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
            <button title="cancel" class="btn btn-cancel" (click)="cancelUser()">
              <fa-icon [icon]="['fas', 'sync-alt']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
            <button title="delete" class="btn btn-delete" (click)="deleteUser(userIndex)">
              <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
          </td>
        </ng-template>

      </ng-template>
    </tr>
    <!--        <tr *ngIf="updatingUserIndex">-->
    <!--          <td><button class="btn btn-cancel" (click)="UpdateUserCancel()"><i class="fa fa-2x fa-refresh"></i></button>  </td>-->
    <!--          <td><button class="btn btn-save" title = 'save'(click)="createUser()"> <i class="fa fa-2x fa-refresh"></i></button></td>-->
    <!--          <td>-->
    <!--            <button title ='update' class=" btn btn-update" (click)="OnCreateMode(userIndex)"><i class="fa fa-2x fa-pencil-square"></i></button>-->
    <!--          </td>-->
    <!--        </tr>-->
    </tbody>
  </table>
</div>
