<!-- заголовок -->
<div class="row">
    <div class="col justify-content-between align-items-center d-flex header-card">
      <!-- левая часть-->
      <div class="d-flex align-items-center">
        <!-- назад -->
        <!--        <button class="btn btn-header btn-header-back mt-1"-->
        <!--                title="BACK">-->
        <!--          <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>-->
        <!--        </button>-->
        <!-- текст -->
        <h4 class="my-0 ml-2 mt-1">Languages</h4>
      </div>
      <!-- правая часть-->
      <div class="d-flex">
        <!-- сохранить -->
        <button class="btn btn-header btn-header-create"
                type="submit"
                title="Add"
                (click)="addLanguageInput()">
          <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
        <!-- удалить -->
 
      </div>
    </div>
  </div>
  <!--   Валюты  -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-xl-12">
        <table class="table">
          <!--   Заголовок  -->
          <thead>
          <tr>

            <th class="text-uppercase text-center" scope="col">Lang code</th>
            <th class="text-uppercase text-center" scope="col">Tittle</th>
            <!--            <th class="text-uppercase text-center" scope="col">-->
            <!--              <button-->
            <!--                [disabled]="createdMode"-->
            <!--                class="btn btn-create"-->
            <!--                title="Add"-->
            <!--                (click)="onAddInput()"-->
            <!--                type="button"-->
            <!--              >-->
            <!--                <i class="fa fa-2x fa-plus-square"></i>-->
            <!--              </button>-->
            <!--            </th>-->
            <!--            <th class="text-center">&nbsp;</th>-->
          </tr>
          </thead>
          <!--  Значения   -->
          <tbody>
          <tr *ngFor="let language of languages; let i = index">
            <!--   currentEdit  -->
            <ng-container *ngIf="currentEdit == i; else readMode">
              <td class="text-center">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="language.language"
                  required
                />
              </td>
              <td class="text-center">
                <input
                  class="form-control"
                  type="text"
                  required
                  [(ngModel)]="language.title"
                />
              </td>
              <!--   createdMode  -->
              <ng-container *ngIf="createdMode; else edit">
                <td class="text-center">
                  <button
                    type="button"
                    class="btn btn-save"
                    (click)="createLanguage(language)"
                    title="Save changes"
                  >
                    <fa-icon [icon]="['fas', 'check-square']" [classes]="['btn-header__icon']"></fa-icon>
                  </button>
                </td>
              </ng-container>

              <ng-template #edit>
                <td class="text-center">
                  <button
                    type="button"
                    class="btn btn-save"
                    (click)="updateLanguage(language)"
                    title="Save changes"
                  >
                    <fa-icon [icon]="['fas', 'save']" [classes]="['btn-header__icon']"></fa-icon>
                  </button>

                </td>
              </ng-template>
              <td class="text-center">
                <button
                  type="button"
                  class="btn btn-delete"
                  (click)="deleteLanguage(language)"
                  title="delete language"
                >
                   <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>
                </button>
              </td>
              <td class="text-center">
                <button
                  type="button"
                  class="btn btn-cancel"
                  (click)="cancelLanguage()"
                  title="Cancel changes"
                >
                  <fa-icon [icon]="['fas', 'sync']" [classes]="['btn-header__icon']"></fa-icon>
                </button>
              </td>
            </ng-container>
            <!--   readMode  -->
            <ng-template #readMode>
              <td class="text-center">{{ language.language }}</td>
              <td class="text-center">{{ language.title }}</td>
              <td class="text-center">
                <button
                  type="button"
                  class="btn btn-update"
                  [disabled]="createdMode"
                  (click)="editLanguage(i)"
                  title="Change"
                >
                  <fa-icon [icon]="['fas', 'pen-square']" [classes]="['btn-header__icon']"></fa-icon>
                </button>
              </td>
            </ng-template>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  