<ng-container *ngIf="payment">
  <!-- заголовок -->
  <div class="container-fluid">
    <div class="row">
      <div class="col header-card">
        <!-- левая часть-->
        <div class="header-card__left">
          <!-- назад -->
          <button class="btn btn-header btn-header-back"
                  title="Back">
            <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
          </button>
          <!-- текст -->
          <div class="header-card__text">Payment</div>
        </div>
        <!-- правая часть-->
        <div class="header-card__right">
          <!-- оплата разрешена -->
          <ng-container *ngIf="payment.enabled; else paymentDisabled">
            <button class="btn btn-header btn-header-save"
                    type="button"
                    title="Enabled"
                    (click)="enablePayment(false)">
              <fa-icon [icon]="['fas', 'eye']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
          </ng-container>
          <!--  оплата запрещена  -->
          <ng-template #paymentDisabled>
            <button class="btn btn-header btn-header-delete"
                    type="button"
                    title="Disabled"
                    (click)="enablePayment(true)">
              <fa-icon [icon]="['fas', 'eye-slash']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
          </ng-template>
          <button class="btn btn-header btn-header-save"
                  type="button"
                  title="Update"
                  (click)="updatePayment(payment)">
            <fa-icon [icon]="['fas', 'save']" [classes]="['btn-header__icon']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--  верхняя часть экрана  -->
  <div class="container-fluid delivery-container-fluid__top-part">
    <!--  задаем форму для валидации  -->
    <form>
      <div class="row m-1">
        <!--  языковая панель  -->
        <div class="col-md-5 p-1">
          <div class="card shadow__without-hover p-2">
            <!-- выбор языка -->
            <ng-container>
              <ul class="nav nav-tabs">
                <!--          <li class="nav-item">-->
                <!--            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>-->
                <!--          </li>-->
                <li *ngFor="let locale of payment?.localizedDescriptions; let i = index" class="nav-item">
                  <button class="btn-outline-secondary nav-link mr-2"
                          [ngClass]="locale.language === currentLangTab ? 'active' : ''"
                          data-toggle="tab"
                          (click)="selectLangTab(locale.language)">{{locale.language}}</button>
                </li>
              </ul>      <!-- Tab panes -->
              <div [ngSwitch]="currentLangTab" class="tab-content">
                <div *ngFor="let locale of payment?.localizedDescriptions; let i=index">
                  <div *ngSwitchCase="locale.language" class="tab-pane container-fluid active">
                    <!--    Имя карточки    -->
                    <div class="input-group my-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Name:</span>
                      </div>
                      <input name="name"
                             class="form-control"
                             type="text"
                             [(ngModel)]="payment.localizedDescriptions[i].name">
                    </div>
                    <!--    Заголовок карточки    -->
                    <!-- <div class="input-group my-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Title:</span>
                      </div>
                      <input name="title"
                             class="form-control"
                             type="text"
                             [(ngModel)]="payment.localizedDescriptions[i].title">
                    </div> -->
                    <!--    Описание карточки    -->
                    <div class="input-group my-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Description:</span>
                      </div>
                      <input name="description"
                             class="form-control"
                             type="text"
                             [(ngModel)]="payment.localizedDescriptions[i].description">
                    </div>

                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <!--  добавление логотипа  -->
<!--        <div class="col-md-2 py-1 px-3">-->
<!--          <div class="card shadow__without-hover px-2">-->
<!--            <div class="card-header bg-white">-->
<!--              LOGO-->
<!--            </div>-->
<!--            <div class="card-body embed-responsive embed-responsive-1by1 text-center">-->
<!--              &lt;!&ndash;   LOADER   &ndash;&gt;-->
<!--              <ng-container *ngIf="payment.image?.url; else imageLoader">-->
<!--                <img class="image-card embed-responsive-item"-->
<!--                     [src]="imagePath + '/delivery-' + toString(payment.id) + '.jpg'"-->
<!--                     alt="{{(payment.localizedDescriptions|localization).title}}"-->
<!--                     title="{{payment ? payment.image.name : 'RU'}}">-->

<!--                &lt;!&ndash;                <button class="btn btn-danger"&ndash;&gt;-->
<!--                &lt;!&ndash;                        (click)="deleteImage(delivery)">&ndash;&gt;-->
<!--                &lt;!&ndash;                  <i class="fa fa-remove"></i>&ndash;&gt;-->
<!--                &lt;!&ndash;                </button>&ndash;&gt;-->

<!--              </ng-container>-->
<!--              <ng-template #imageLoader>-->
<!--                &lt;!&ndash;                Загружаем новую картинку&ndash;&gt;-->
<!--              </ng-template>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <div class="col-md-2 py-1 px-3">
          <div class="card shadow px-2">
            <div class="card-header bg-white">
              LOGO
            </div>
            <div class="card-body embed-responsive embed-responsive-1by1 text-center">
              <!--    loader  -->
              <app-image-card [image]="payment.image"
                              [imageTypeID]="payment?.image?.typeID ? payment.image.typeID : 4"
                              (changeImageEvent)="changeImage($event)"></app-image-card>
            </div>
          </div>
        </div>
        <!--  свойства  -->
        <div class="col-md-5 p-1">
          <div class="card shadow__without-hover px-2">
            <!--  таблица  -->
            <table class="table">
              <!-- заголовки таблицы -->
              <thead>
              <!-- строка -->
              <tr>
                <th>Shop</th>
                <th>Discount</th>
                <th>Status</th>
              </tr>
              </thead>
              <!-- тело таблицы -->
              <tbody>
              <!-- строка -->
              <tr *ngFor="let discount of payment.discounts; let i = index">
                <td>
                  <span>{{discount.shop ? discount.shop : 'Grey-shop.ru'}}</span>
                </td>
                <td>
                  <input class="form-control" [name]="'discount' + i" [(ngModel)]="discount.discount" type="number">
                </td>
                <td>
                  <input type="checkbox" [name]="'enabled' + i" [(ngModel)]="discount.enabled">
                  <span>{{discount.enabled ? ' enab' : ' dis'}}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>

</ng-container>
