<!-- заголовок -->
<div class="container-fluid">
  <div class="row">
    <div class="col header-card">
      <!-- левая часть-->
      <div class="header-card__left">
        <!-- назад -->
        <button class="btn btn-header btn-header-back mt-1" title="BACK">
          <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
        <!-- текст -->
        <div class="header-card__text">
          Incomings
        </div>
      </div>
      <!-- правая часть-->
      <div class="header-card__right">
        <button class="btn btn-header btn-header-create" type="button" title="CREATE" (click)="createIncoming()">
          <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="col-11 mx-auto">
  <div class="d-flex incoming-card justify-content-between align-items-center">
    <!-- Number -->
    <div>Number</div>
    <!--  Date -->
    <div>Date</div>
    <!--  Time -->
    <div>Time</div>
    <!--  Manufacturers -->
    <div>Manufacturers</div>
    <!--  Invoice -->
    <div>Invoice</div>
    <!--  Status -->
    <div>Status</div>
    <!--  Comment -->
    <div>Comment</div>
    <!-- Scan -->
    <div>Scan</div>
    <!--  Action -->
    <div>Action</div>
  </div>

  <div class="mx-auto" *ngFor="let incoming of incomings">
      <app-incoming-card [incoming]="incoming"></app-incoming-card>
  </div>
</div>
