//  ссылки
.link:link,
.link:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

// incoming container
.incoming-card {
  margin-bottom: 0.01rem;
  border-radius: 0.25rem;
  min-height: 5rem;
  padding: 1rem;
  border-color: rgb(211, 211, 211)!important;
  border-top: solid 0.0625rem;
  border-bottom: solid 0.0625rem;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(108, 117, 125, 0.3);
}