<ng-container *ngIf="incomingItem" class="row">
  <div class="row mx-0">
    <div class="col-2 border item">{{incomingItem.id}}</div>
    <div class="col-5 border item">{{convertOptionValueToLabel(incomingItem.optionValues)}}</div>
    <div class="col-3 border item">{{incomingItem.amount}}</div>
    <div class="col-2 border item"></div>
  </div>
</ng-container>
