<!--  задаем форму для валидации  -->
<form (ngSubmit)="updateCategory(f)" #f="ngForm"  *ngIf="category">
  <!-- заголовок -->
  <div class="container-fluid">
    <div class="row">
      <div class="col justify-content-between align-items-center d-flex header-card">
        <!-- левая часть-->
        <div class="d-flex align-items-center">
          <!--        icon-->
          <!--        <img class="image-card embed-responsive-item" [src]="currentCategory.iconImage?.url"-->
          <!--             alt="{{(currentCategory.localizedDescriptions|localization).title}}"-->
          <!--             title="{{currentCategory ? currentCategory.iconImage?.name : 'RU'}}">-->
          <!-- текст -->
          <h4 class="my-0 ml-2 mt-1">Category</h4>
        </div>
        <!-- правая часть-->
        <div class="d-flex">
          <div class="d-flex align-items-center">
            <ng-container *ngIf="category?.isEnabled; else categoryDisabled">
              <button class="btn btn-header btn-header-save"
                      type="button"
                      title="Enabled"
                      (click)="enableCategory(false)">
                <fa-icon [icon]="['fas', 'eye']" [classes]="['btn-header__icon']"></fa-icon>
              </button>
            </ng-container>
            <!--  оплата запрещена  -->
            <ng-template #categoryDisabled>
              <button class="btn btn-header btn-header-delete"
                      type="button"
                      title="Disabled"
                      (click)="enableCategory(true)">
                <fa-icon [icon]="['fas', 'eye-slash']" [classes]="['btn-header__icon']"></fa-icon>
              </button>
            </ng-template>
            <!-- создать / изменить -->
            <button class="btn btn-header btn-header-save"
                    type="submit"
                    title="Save"
            >
              <fa-icon [icon]="['fas', 'save']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
            <!-- удалить -->
            <button class="btn btn-header btn-header-delete"
                    type="button"
                    title="Delete"
                    (click)="deleteCategory()"
            >
              <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- карточка категории -->

  <div class="container-fluid base-container-fluid">
    <div class="row m-1">
      <!--  языковая панель  -->
      <div class="col-md-5 p-1">
        <div class="card shadow p-2">
          <!-- выбор языка -->
<!--          <ng-container *ngIf="category; else categoryDesc">-->
            <ul class="nav nav-tabs">
              <!--          <li class="nav-item">-->
              <!--            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>-->
              <!--          </li>-->
              <li *ngFor="let locale of category?.localizedDescriptions; let i = index" class="nav-item">
                <button class="btn-outline-secondary nav-link mr-2"
                        type="button"
                        [ngClass]="locale.language === currentLangTab ? 'active' : ''"
                        data-toggle="tab"
                        (click)="selectLangTab(locale.language)">{{locale.language}}</button>
              </li>
            </ul>      <!-- Tab panes -->
            <div [ngSwitch]="currentLangTab" class="tab-content">
              <div *ngFor="let locale of category?.localizedDescriptions; let i=index">
                <div *ngSwitchCase="locale.language" class="tab-pane container-fluid active">
                  <!--    Имя карточки    -->
                  <div class="input-group my-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Name:</span>
                    </div>
                    <input name="name"
                           class="form-control"
                           type="text"
                           [(ngModel)]="category.localizedDescriptions[i].name">
                  </div>
                  <!--    Заголовок карточки    -->
                  <!-- <div class="input-group my-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Title:</span>
                    </div>
                    <input name="title"
                           class="form-control"
                           type="text"
                           [(ngModel)]="category.localizedDescriptions[i].title">
                  </div> -->
                  <!--    Описание карточки    -->
                  <div class="input-group my-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Description:</span>
                    </div>
                    <input name="description"
                           class="form-control"
                           type="text"
                           [(ngModel)]="category.localizedDescriptions[i].description">
                  </div>

                </div>
              </div>
            </div>
<!--          </ng-container>-->

<!--          <ng-template #categoryDesc>-->
<!--            <ul class="nav nav-tabs">-->
<!--              &lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--              &lt;!&ndash;            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>&ndash;&gt;-->
<!--              &lt;!&ndash;          </li>&ndash;&gt;-->
<!--              <li class="nav-item" *ngFor="let locale of creatingCategory?.localizedDescriptions">-->
<!--                <button class="btn-outline-secondary nav-link mr-2"-->
<!--                        [ngClass]="locale.language === currentLangTab ? 'active' : ''"-->
<!--                        data-toggle="tab"-->
<!--                        type="button"-->
<!--                        (click)="selectLangTab(locale.language)">{{locale.language}}</button>-->
<!--              </li>-->
<!--            </ul>      &lt;!&ndash; Tab panes &ndash;&gt;-->
<!--            <div [ngSwitch]="currentLangTab" class="tab-content">-->
<!--              <div *ngFor="let locale of creatingCategory?.localizedDescriptions; let i = index">-->
<!--                <div *ngSwitchCase="locale.language" class="tab-pane container-fluid active">-->
<!--                  &lt;!&ndash;    Имя карточки    &ndash;&gt;-->
<!--                  <div class="input-group my-4">-->
<!--                    <div class="input-group-prepend">-->
<!--                      <span class="input-group-text">Name:</span>-->
<!--                    </div>-->
<!--                    <input name="name"-->
<!--                           class="form-control"-->
<!--                           type="text"-->
<!--                           [(ngModel)]="creatingCategory.localizedDescriptions[i].name">-->
<!--                  </div>-->
<!--                  &lt;!&ndash;    Заголовок карточки    &ndash;&gt;-->
<!--                  <div class="input-group my-4">-->
<!--                    <div class="input-group-prepend">-->
<!--                      <span class="input-group-text">Title:</span>-->
<!--                    </div>-->
<!--                    <input name="title"-->
<!--                           class="form-control"-->
<!--                           type="text"-->
<!--                           [(ngModel)]="creatingCategory.localizedDescriptions[i].title">-->
<!--                  </div>-->
<!--                  &lt;!&ndash;    Описание карточки    &ndash;&gt;-->
<!--                  <div class="input-group my-4">-->
<!--                    <div class="input-group-prepend">-->
<!--                      <span class="input-group-text">Description:</span>-->
<!--                    </div>-->
<!--                    <input name="description"-->
<!--                           class="form-control"-->
<!--                           type="text"-->
<!--                           [(ngModel)]="creatingCategory.localizedDescriptions[i].description">-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </ng-template>-->
        </div>

        <div class="card shadow p-2 mt-3">
          <div class="card-header bg-white mb-2">
            SEO
          </div>
          <!-- выбор языка -->
          <div>
            <ul class="nav nav-tabs">
              <!--          <li class="nav-item">-->
              <!--            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>-->
              <!--          </li>-->
              <li *ngFor="let locale of category?.localizedSEOs; let i = index" class="nav-item">
                <button class="btn-outline-secondary nav-link mr-2"
                        [ngClass]="locale.language === currentLangTab ? 'active' : ''"
                        data-toggle="tab"
                        type="button"
                        (click)="selectLangTab(locale.language)">{{locale.language}}</button>
              </li>
            </ul>
            <!-- Tab panes -->
            <div [ngSwitch]="currentLangTab" class="tab-content">
              <div *ngFor="let locale of category?.localizedSEOs; let i=index">
                <div *ngSwitchCase="locale.language" class="tab-pane container-fluid active">
                  <!--    Имя карточки    -->
                  <div class="input-group my-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Name:</span>
                    </div>
                    <input name="name"
                           class="form-control"
                           type="text"
                           [(ngModel)]="category.localizedSEOs[i].name">
                  </div>
                  <!--    Заголовок карточки    -->
                  <div class="input-group my-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Title:</span>
                    </div>
                    <input name="title"
                           class="form-control"
                           type="text"
                           [(ngModel)]="category.localizedSEOs[i].title">
                  </div>
                  <!--    Описание карточки    -->
                  <div class="input-group my-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Description:</span>
                    </div>
                    <input name="description"
                           class="form-control"
                           type="text"
                           [(ngModel)]="category.localizedSEOs[i].description">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>


        <!--  seolink  -->
        <div class="card shadow p-2 mt-3">
            <!--    заголовок    -->
<!--            <div class="card-header bg-white">-->
<!--              Properties-->
<!--            </div>-->
            <!--   тело свойств   -->
            <div class="card-body px-3 pt-0 pb-1">

              <!--    color    -->
              <div class="input-group my-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">SEO link</span>
                </div>
                <input name="seoLink"
                       class="form-control"
                       type="text"
                       [(ngModel)]="category.seoLink"
                       value="">
              </div>
            </div>
          </div>
      </div>


      <!--  добавление иконки  -->
      <div class="col-md-3 py-1 px-3">
        <div class="card shadow px-2">
          <div class="card-header bg-white">
            ICON
          </div>
          <div class="card-body embed-responsive embed-responsive-1by1 text-center">
            <!--    loader  -->
            <app-image-card [image]="category.imageIcon"
                            [imageTypeID]="category?.imageIcon?.typeID ? category.imageIcon.typeID : 2"
                            (changeImageEvent)="changeIconImage($event)"></app-image-card>
          </div>
        </div>
      </div>

      <!--  добавление фона  -->
      <div class="col-md-3 py-1 px-3">
        <div class="card shadow px-2">
          <div class="card-header bg-white">
            BACKGROUND
          </div>
          <div class="card-body embed-responsive embed-responsive-1by1 text-center">
            <!--    loader  -->
            <app-image-card [image]="category.imageBackground"
                            [imageTypeID]="category?.imageBackground?.typeID ? category.imageBackground.typeID : 2"
                            (changeImageEvent)="changeBackgroundImage($event)"></app-image-card>
          </div>
        </div>
      </div>
      <!--        добавление логотипа-->
      <!--      <div class="col-md-2 py-1 px-3">-->
      <!--        <div class="card shadow px-2">-->
      <!--          <div class="card-header bg-white">-->
      <!--            backgroundImage-->
      <!--          </div>-->
      <!--          <div class="card-body embed-responsive embed-responsive-1by1 text-center">-->
      <!--            &lt;!&ndash;   LOADER   &ndash;&gt;-->
      <!--            <ng-container *ngIf="currentCategory.backgroundImage.url; else imageLoader">-->
      <!--              <img class="image-card embed-responsive-item" [src]="currentCategory.backgroundImage?.url"-->
      <!--                   alt="{{(currentCategory.localizedDescriptions|localization).title}}"-->
      <!--                   title="{{currentCategory ? currentCategory.backgroundImage?.name : 'RU'}}">-->

      <!--&lt;!&ndash;              <button class="btn btn-danger">&ndash;&gt;-->
      <!--&lt;!&ndash;                <i class="fa fa-remove"></i>&ndash;&gt;-->
      <!--&lt;!&ndash;              </button>&ndash;&gt;-->

      <!--            </ng-container>-->
      <!--            <ng-template #imageLoader>-->
      <!--              &lt;!&ndash;                Загружаем новую картинку&ndash;&gt;-->
      <!--            </ng-template>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
</form>
