/* .datalist {
  display: block;
} */
//   контейнер
.option-container-fluid {
  padding: 0.5rem;
  background: rgb(255, 255, 255);
  height: calc(100vh - 6.25rem);
  //  верхняя половинка
  &__top-part {
    height: calc(18.5rem);
  };
  //  нижняя половинка
  &__bottom-part {
    padding: 0.5rem;
    height: calc(100vh - 28rem);
    //background: #121213;
  }
}
