<!-- заголовок -->
<div class="container-fluid">
  <div class="row">
    <div class="col header-card">
      <!-- левая часть-->
      <div class="header-card__left">
        <!-- назад -->
        <button class="btn btn-header btn-header-back mt-1"
                title="BACK">
          <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
        <!-- текст -->
        <div class="header-card__text">
          Option
        </div>
      </div>
      <!-- правая часть-->
      <div class="header-card__right">
        <button class="btn btn-header btn-header-save"
                (click)="updateOption()"
                title="SAVE">
          <fa-icon [icon]="['fas', 'save']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<!--   ОПЦИИ  -->
<ng-container *ngIf="option">

  <!--  верхняя часть экрана  -->
  <div class="container-fluid option-container-fluid__top-part">
    <div class="row m-1">
      <!--  языковая панель  -->
      <div class="col-md-6 p-1">
        <div class="card shadow p-2">
          <!-- выбор языка -->
          <ng-container>
            <ul class="nav nav-tabs">
              <!--          <li class="nav-item">-->
              <!--            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>-->
              <!--          </li>-->
              <li *ngFor="let locale of option?.localizedDescriptions; let i = index" class="nav-item">
                <button class="btn-outline-secondary nav-link mr-2"
                        [ngClass]="locale.language === currentLangTab ? 'active' : ''"
                        data-toggle="tab"
                        (click)="selectLangTab(locale.language)">{{locale.language}}</button>
              </li>
            </ul>      <!-- Tab panes -->
            <div [ngSwitch]="currentLangTab" class="tab-content">
              <div *ngFor="let locale of option?.localizedDescriptions; let i=index">
                <div *ngSwitchCase="locale.language" class="tab-pane container-fluid active">
                  <!--    Имя карточки    -->
                  <div class="input-group my-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Name:</span>
                    </div>
                    <input name="name"
                           class="form-control"
                           type="text"
                           [(ngModel)]="option.localizedDescriptions[i].name">
                  </div>
                  <!--    Заголовок карточки    -->
                  <!-- <div class="input-group my-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Title:</span>
                    </div>
                    <input name="title"
                           class="form-control"
                           type="text"
                           [(ngModel)]="option.localizedDescriptions[i].title">
                  </div> -->
                  <!--    Описание карточки    -->
                  <div class="input-group my-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Description:</span>
                    </div>
                    <input name="description"
                           class="form-control"
                           type="text"
                           [(ngModel)]="option.localizedDescriptions[i].description">
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

      </div>
      <!--  свойства  -->
      <div class="col-md-6 p-1">
        <div class="card shadow px-2">
          <!--    заголовок    -->
          <div class="card-header bg-white">
            Properties
          </div>
          <!--   тело свойств   -->
          <div class="card-body px-3 pt-0 pb-1">
            <!--    приоритет карточки    -->
            <div class="my-4">
              <div class="form-group">
                <label for="formControlRange">Priority: <span>{{option.priority ? option.priority : 'none'}}</span></label>
                <input type="range"
                       class="form-control-range custom-range"
                       id="formControlRange"
                       min="1"
                       max="10"
                       step="1"
                       [value]="option.priority"
                       (change)="changePriority($event.target.value)"
                >
              </div>
            </div>
            <!--    Type    -->
            <div class="input-group mb-3" *ngIf="optionTypes">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect">Type</label>
              </div>
              <select class="custom-select"
                      id="inputGroupSelect"
                      (change)="changeType($event.target.value)"
                      [disabled]="option.optionValues && option.optionValues.length">
                <option [selected]="option?.type?.id ? option.type.id : 1">{{option?.type?.us ? option.type.us : '...'}}</option>
                <option [value]="optionType.id" *ngFor="let optionType of optionTypes">{{optionType.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- заголовок нижней части -->
  <div class="container-fluid">
    <div class="row">
      <div class="col header-card">
        <!-- левая часть-->
        <div class="header-card__left">
          <div class="header-card__text ml-2">
            Option values
          </div>
        </div>
        <!-- правая часть-->
        <div class="header-card__right">
          <!-- добавить зону -->
          <button class="btn btn-header btn-header-save"
                  type="button"
                  title="Add Option Value"
                  (click)="createOptionValue()">
            <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--  нижняя часть экрана  -->
  <div class="container-fluid option-container-fluid__bottom-part p-2">
    <div class="row" *ngIf="option?.optionValues">
      <div class="col-md-10 mx-auto" *ngFor="let optionValue of option.optionValues">
        <app-option-value-card [optionValue]="optionValue" [optionType]="option?.type"></app-option-value-card>
      </div>
    </div>
  </div>
</ng-container>
