// drop zone
.dd-zone {
  min-height: 1rem;

  // drag card
  .drag-card {
    border-radius: 0.25rem;
    padding: 0;
  }

  // draggable card
  .drop-holder {
    border-radius: 0.3125rem;
    width: 100%;
    padding: 0.5rem;
  }
}

// card-body
.card-body {
  padding: 0.25rem;
  height: auto;
}

// third inner category - first child
.category-third:first-child {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

// third inner category
.category-third {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

// title
.category-title {
  font-size: 0.5rem;
}
