<div class="card second-category drag-card shadow"
         [dndDraggable]="category"
         [dndEffectAllowed]="'all'"
         [dndDisableIf]="false"
         (dndStart)="onDragStart($event, category)"
         (dndCanceled)="onDragCanceled($event, currentIndex)"
         (dndEnd)="onDragEnd($event)">
  <!-- заголовок базовой категории -->
  <div class="card-header d-flex align-items-center p-1"
    (dblclick)="updateCategory(category)">
    <p class="d-flex align-self-center text-center my-0 mx-auto category-title" [title]="(category.localizedDescriptions|localization).name">
      <!-- текст -->
      {{(category.localizedDescriptions|localization).title}} {{category.priority}}
    </p>
<!--   y. <h4 class="clipped-text"></h4>-->
    <!-- правая часть-->
    <div class="d-flex">
<!--      &lt;!&ndash; изменить &ndash;&gt;-->
<!--      <button class="btn btn-header btn-update"-->
<!--              type="submit"-->
<!--              title="Change"-->
<!--              [routerLink]="['/category', category.id]">-->
<!--        <i class="fa fa-pencil-square fa-2x fa-fw btn-header__icon"></i>-->
<!--      </button>-->
<!--      &lt;!&ndash; создать &ndash;&gt;-->
<!--      <button class="btn btn-header btn-create"-->
<!--              type="submit"-->
<!--              title="Create"-->
<!--              (click)="createCategory(category.categories)"-->
<!--              >-->
<!--        <i class="fa fa-plus-square fa-2x fa-fw btn-header__icon"></i>-->
<!--      </button>-->
<!--      &lt;!&ndash; удалить &ndash;&gt;-->
<!--      <button class="btn btn-header btn-delete"-->
<!--              type="button"-->
<!--              title="Delete"-->
<!--              (click)="deleteCategory(category, parentCategories)">-->
<!--        <i class="fa fa-times-rectangle fa-2x fa-fw btn-header__icon"></i>-->
<!--      </button>-->
    </div>
  </div>
  <!-- тело базовой категории -->
  <div class="card-body pt-1 pb-1" *ngIf="levelIndex < 2">
    <div class="row dd-zone" dndDropzone
         (dndDragover)="onDragover($event)"
         (dndDrop)="onDropCategory($event, currentIndex, category.categories)">
      <div class="drop-holder text-center"
           dndPlaceholderRef>
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </div>
      <div class="col-12 category-third" *ngFor="let child of category.categories; let i = index">
        <app-category-card [category]="child" [currentIndex]="i" [parentCategories]="category.categories" [levelIndex]="levelIndex + 1">

        </app-category-card>
      </div>
    </div>
  </div>
</div>
