<ng-container *ngIf="item" class="row">
  <div class="row mx-0">
    <!-- item id -->
    <div class="col-1 border item">{{item?.id ? item.id : 'no id'}}</div>
    <!-- Опции заказа -->
    <div class="col-4 border item">
      <div *ngFor="let option of item.optionValues">
        <span class="subtitle" *ngIf="option.ru">-color: {{option?.ru ? option.ru : 'no color'}}</span>
        <span class="subtitle" *ngIf="!option.ru">-size: {{option?.localizedDescriptions[1]?.name ? option.localizedDescriptions[1].name : 'no size'}}</span>
      </div>
    </div>
    <!-- Статус заказа -->
    <div class="col-2 border item">{{item?.status?.name ? item.status.name : 'no status'}}</div>
    <!-- Номер заказа -->
    <div class="col-2 border item">{{item?.order?.orderID ? item.order.orderID : item.orderID}}</div>
    <!-- Комментарии к заказу -->
    <div class="col-3 border item">{{item?.comments ? item.comments : 'no comments'}}</div>
  </div>
</ng-container>
