div {
  width: 100vw;
  height: 100vh;
  background-color: #121213;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card {
  min-width: 18.75rem;
  min-height: 18.75rem;
}

mat-icon {
  cursor: pointer;
}

.user-login__container {
  display: flex;
  flex-direction: column;
}
