<div>
<!--  &lt;!&ndash;  mat-card - обёртка с отступами и тенью&ndash;&gt;-->
<!--  <mat-card>-->
<!--    &lt;!&ndash;    форма ввода логина и пароля&ndash;&gt;-->
<!--    <form-->
<!--      novalidate-->
<!--      class="user-login__container"-->
<!--      (ngSubmit)="login(loginForm.get('userName').value, loginForm.get('userPassword').value)"-->
<!--      [formGroup]="loginForm">-->
<!--      <mat-form-field appearance="outline">-->
<!--        &lt;!&ndash;        поле логина&ndash;&gt;-->
<!--        <mat-label>Login</mat-label>-->
<!--        <input-->
<!--          matInput-->
<!--          placeholder="Enter Login"-->
<!--          formControlName="userName">-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline">-->
<!--        &lt;!&ndash;        поле пароля&ndash;&gt;-->
<!--        <mat-label>Password</mat-label>-->
<!--        <input-->
<!--          matInput-->
<!--          placeholder="Enter your password"-->
<!--          type="password"-->
<!--          formControlName="userPassword">-->
<!--      </mat-form-field>-->
<!--      &lt;!&ndash;      логин &ndash;&gt;-->
<!--      <button-->
<!--        class="mt-2"-->
<!--        mat-raised-button-->
<!--        color="accent"-->
<!--        type="submit"-->
<!--        matTooltip="Log In"-->
<!--        [disabled]="(loginForm.get('userName').errors || loginForm.get('userPassword').errors)">-->
<!--        Log In-->
<!--      </button>-->
<!--      &lt;!&ndash;      ссылка на страницу регистрации&ndash;&gt;-->
<!--      <button-->
<!--        class="btn mt-2"-->
<!--        mat-stroked-button-->
<!--        color="primary"-->
<!--        [routerLink]="['/users/register']"-->
<!--        matTooltip="Registration">-->
<!--        Register New-->
<!--      </button>-->
<!--    </form>-->
<!--  </mat-card>-->
</div>
