<!-- заголовок -->
<div class="container-fluid">
  <div class="row">
    <div class="col header-card">
      <!-- левая часть-->
      <div class="header-card__left">
        <!-- назад -->
        <button class="btn btn-header btn-header-back mt-1"
                title="BACK">
          <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
        <!-- текст -->
        <div class="header-card__text">
          Brands & Manufacturers
        </div>
      </div>
      <!-- правая часть-->
      <div class="header-card__right">
        <button class="btn btn-header btn-header-delete"
                title="DELETE">
          <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<!--  управление производителями и брэндами -->
<div class="container-fluid base-container-fluid">
  <div class="row">
    <div class="col-lg-9 col-xl-10 pb-2 pr-lg-1">
      <!--  производители  -->
      <app-manufacturers></app-manufacturers>
    </div>
    <div class="col-lg-3 col-xl-2 pl-lg-1">
      <!--  бренды  -->
      <app-brands></app-brands>
    </div>
  </div>
</div>
