<div class="container zone shadow">
  <!--        заголовок-->
  <div class="row" *ngIf="delivery && zone">
    <div class="col zone__header">
      <!-- левая часть-->
      <div class="zone__header-left">
        <!-- текст -->
        <div class="zone__header-left-text">
          {{'Zone #' + (zoneIndex + 1)}}
        </div>
      </div>
      <div>

      </div>
      <!-- правая часть-->
      <div class="zone__header-right">
        <button class="btn btn-header btn-header-delete"
                title="DELETE"
                (click)="delZone()">
          <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <!--        разделитель-->
  <div class="zone__split-line"></div>
  <!--   выбор значений опций   -->
  <div class="col">
    <!--  страны  -->
    <div class="row">
      <!--  существующие  -->
      <div *ngFor="let country of zone.countries"
        class="col-12 d-flex justify-content-between align-items-center mx-auto">
        <div class="country-text">{{country.name}}</div>
        <button class="btn btn-delete"
                (click)="delCountry(country)">
          <fa-icon [icon]="['fas', 'times-circle']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
      </div>
      <div class="col-12 d-flex justify-content-between align-items-center mx-auto">
        <div class="country-text">
          <ng-select 
            [items]="countryList"
            bindLabel="title"
            [(ngModel)]="countryShort"
            (click)="addCountry(countryShort)"
          >
            <!--              <ng-option *ngFor="let countryShort of countryList" [value]="countryShort">{{(countryShort.localizedDescriptions|localization_array)[0].text}}</ng-option>-->
            <!--              <ng-option [value]="'custom'">Custom</ng-option>-->

          </ng-select>
        </div>
        <!-- <button class="btn btn-create"
          (click)="addCountry(countryShort)"
          [disabled]="isDisabledCountryAddButton">
          <fa-icon [icon]="['fas', 'plus-circle']" [classes]="['btn-header__icon']"></fa-icon>
        </button> -->
      </div>
    </div>
    <!--  линия отбива  -->
    <div class="zone__split-line"></div>

    <!--  прайс  -->
    <!--  название  -->
    <div class="row">
      <div class="col-12 d-flex justify-content-between align-items-center p-2">
        <p class="align-self-center my-auto">weight</p>
        <p class="align-self-center my-auto">cost</p>
        <div></div>
      </div>
    </div>
    <!--  значения  -->
    <div class="row">
      <!--  существующие  -->
      <div *ngFor="let zoneCost of zone.zoneCosts; let i = index"
        class="col-12 d-flex justify-content-between align-items-center mx-auto">
        <input type="text"
               class="form-control-plaintext form-control-sm"
                [(ngModel)]="zone.zoneCosts[i].weight">
        <input type="number"
               class="form-control-plaintext form-control-sm"
               [(ngModel)]="zone.zoneCosts[i].cost">
        <button class="btn btn-delete">
          <fa-icon [icon]="['fas', 'times-circle']"
                   [classes]="['btn-header__icon']"
                   (click)="delZoneCost(zoneCost)"></fa-icon>
        </button>
      </div>
      <!--  новые  -->
      <div class="col-12 d-flex justify-content-between align-items-center mx-auto">
        <div class="country-text"></div>
        <button class="btn btn-create">
          <fa-icon [icon]="['fas', 'plus-circle']"
                   [classes]="['btn-header__icon']"
                   (click)="addCostToZone()"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
