.zone {
  padding: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: 0.2rem 0.2rem 1.5rem 0.05rem rgba(0, 0, 0, 0.08);

  // zone header
  &__header {
    display: flex;
    justify-content: space-between;
    //margin-bottom: 0.5rem;

    // header left container
    &-left {
      display: flex;
      align-items: center;

      // zone title
      &-text {
        color: rgb(108, 117, 125);
        font-size: 1.5rem;
      }
    }

    // header right container
    &-right {
      display: flex;
      align-items: center;
    }
  }

  // line after zone header
  &__split-line {
    margin: 1rem 0;
    height: 0.125rem;
    background: rgb(108, 117, 125);
    width: auto;
  }
}

//  селект
::ng-deep .ng-select {
  border-radius: 0.5rem;
  border: rgb(73, 73, 73) solid 0.125rem;
  min-height: 2rem;
  min-width: 12rem;
  background: rgb(245, 245, 245);
  margin-left: 0.5rem;

  // input field
  .ng-select-container {
    margin-top: 0.25rem;
    height: 1.875rem;

    .ng-value-container {
      .ng-input {
        color: rgb(255, 255, 255);
        background: transparent;
        border-radius: 0 0 0.5rem 0.5rem;
        min-height: 2rem;
        padding-left: 0.5rem;
        padding-right: 2.5rem;
      }

      // placeholder
      .ng-placeholder {
        padding-left: 0.5rem;
        min-height: 2rem;
      }
    }

    // clear selected option
    .ng-clear-wrapper {
      margin-top: 0.25rem;
      margin-right: 0.25rem;
      .ng-clear {
      }
    }

    // expand dropdown panel
    .ng-arrow-wrapper {
      padding-right: 1.0625rem;
      padding-top: 0.125rem;

      .ng-arrow::before {
        content: "v";
      }
    }
  }

  // dropdown-panel
  .ng-dropdown-panel {
    background: rgb(245, 245, 245);
    border: rgb(73, 73, 73) solid 0.0625rem;
    border-radius: 0 0 0.5rem 0.5rem;

    // option field
    .ng-option {
      background: rgb(245, 245, 245);
      border: rgb(73, 73, 73) solid 0.0625rem;
      border-radius: 0 0 0.5rem 0.5rem;
      padding-left: 0.5rem;
      margin: 0.5rem;
      &:hover {
        color: rgb(64, 197, 64);
      }

      // selected option
      &-marked {
        background: rgb(168, 168, 168);
      }
    }
  }
}
