<div class="d-flex align-items-center">
  <div class="product-image-card__logo">

      <div class="embed-responsive embed-responsive-1by1 text-center option-item">
        <!--    loader  -->
        <app-image-card [image]="productImage?.image"
                        [imageTypeID]="productImage?.image?.type?.id ? productImage.image.type.id : 5"
                        (changeImageEvent)="changeImage($event)"></app-image-card>
      </div>

    <!--  <div *ngFor="let option of product.productOptions">-->
    <!--    <h3>{{option?.option.localizedDescriptions ? (option.option.localizedDescriptions|localization).title : 'нет имени'}}</h3>-->
    <!--    <div *ngFor="let optionValue of option.optionValues">-->
    <!--      <p *ngIf="option.option.type.name==='size'">{{optionValue.ru}}</p>-->
    <!--      <img class="option-value-color"-->
    <!--        *ngIf="option.option.type.name==='color'"-->
    <!--        [src]="optionValue?.image?.url ? optionsImagePath + '/' + optionValue.image.type.path + '/' + optionValue.image.url + '.jpg' : optionsImagePath + '/' + optionValue.image.type.path + '/' + 'none.jpg'"-->
    <!--        [alt]="optionValue?.image?.name ? optionValue.image.name : 'none'">-->
    <!--    </div>-->
    <!--  </div>-->
      <div class="circle circle_delete" (click)="deleteImage()">
        <span>X</span>
      </div>
      <div class="circle circle_front-image"  [ngClass]="{'circle_active': product?.imageFrontID === product?.productImages[productImageIndex]?.image?.id}" (click)="selectFrontImage()">
        <span>1</span>
      </div>
      <div class="circle circle_back-image" [ngClass]="{'circle_active': product?.imageBackID === product?.productImages[productImageIndex]?.image?.id}" (click)="selectBackImage()">
        <span>2</span>
      </div>
    </div>
    <!-- Options -->
    <div class="d-flex w-100 options">
        <div class="w-25 option" *ngFor="let productOption of product.productOptions">
          <h3 class="text-center option__header">{{productOption.option.title}}</h3>
          <div *ngIf="productOption.option.type.name === 'color'">
            <p
              class="text-center option__text"
              *ngFor="let optionValue of productOption.optionValues"
              [ngClass]="{'option__text_active': isOptionSelected(optionValue)}"
              (click)="changeImageOptions(productOption.option, optionValue)">
              {{optionValue.localizedDescriptions ? (optionValue.localizedDescriptions|localization).name : 'нет имени'}}
            </p>
          </div>
          <div *ngIf="productOption.option.type.name === 'size'">
            <p
              class="text-center option__text"
              *ngFor="let optionValue of productOption.optionValues"
              [ngClass]="{'option__text_active': isOptionSelected(optionValue)}"
              (click)="changeImageOptions(productOption.option, optionValue)">
              {{optionValue.ru}}
            </p>
          </div>
        </div>
    </div>
</div>

