// product image container
.product-image-card {
  margin-bottom: 0.5rem;
  min-height: 12rem;

  // enabled product
  &__enabled {
    background: rgb(255, 255, 255);
  }

  // disabled product
  &__disabled {
    background: rgb(211, 211, 211);

    //filter: blur(0.2rem);
    opacity: 0.2;
  }

  // product image
  &__logo {
    width: 11rem;
    min-width: 4rem;
    height: 11rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: relative;

    // select front/back image
    .circle {
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.5;
      cursor: pointer;
      padding-top: 0.25rem;
      position: absolute;

      &:hover {
        opacity: 1;
      }

      // active state
      &_active {
        opacity: 1;
      }

      // delete image
      &_delete {
        background-color: var(--deleteColor);
        color: rgb(255, 255, 255);
        top: -1.0625rem;
      }

      // product front image
      &_front-image {
        background-color: var(--saveColor);
        bottom: -1.0625rem;
      }

      // product back image
      &_back-image {
        background-color: var(--cancelColor);
        bottom: -1.0625rem;
        left: 2.625rem;
      }
    }

    /*     &-image {
      display: block;
      align-self: center;
      width: 100%;
      height: auto;
      margin: auto;
    } */
  }

/*   &__text {
    max-height: 4rem;
    font-size: 1rem;
    align-self: center;
  } */
}

/* .option-value-color {
  max-height: 2rem;
  max-width: 2rem;
} */

// option
.option {
  &__header {
    font-size: 1.5rem;
  }

  // option title
  &__text {
    cursor: pointer;
    font-size: 0.75rem;
    margin-bottom: 0.3125rem;

    &:hover {
      transform: scale(1.1);
    }

    &_active {
      font-size: 1rem;
      text-shadow: 0.25rem 0.25rem 0.8125rem rgb(115, 109, 109);
      //text-shadow: 0.125rem 0.125rem 0.8125rem #736d6d;
    }
  }
}
