//  header
.header {
  width: 100%;
  height: 0.625rem;
}

//  выбранная строка
.selected-row {
  background-color: rgba(40,200,40,.3);
}

//  checkbox container
.check {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  // нативный checkbox
  input {
    display: none;

    // custom checkbox color
    &:checked + .box {
      background-color: rgb(179, 255, 183);

      &:after {
        top: 0;
      }
    }
  }

  // custom checkbox
  .box {
    width: 3.75rem;
    height: 3.75rem;
    transition: all 1.1s cubic-bezier(.19,1,.22,1);
    border: 0.125rem solid rgb(128, 128, 128);
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:after {
      width: 50%;
      height: 30%;
      content: '';
      position: absolute;
      border-left: 0.5rem solid;
      border-bottom: 0.5rem solid;
      border-color: rgb(64, 197, 64);
      transform: rotate(-45deg) translate3d(0,0,0);
      transform-origin: center center;
      transition: all 1.1s cubic-bezier(.19,1,.22,1);
      left: 0;
      right: 0;
      top: 200%;
      bottom: 5%;
      margin: auto;
    }
  }
}

// product options container
.product-options {
  height: 21rem;

  // checkbox container
  &__check {
    height: 100%;
    width: 100%;
  }
}

//  footer
.footer {
  background-color: rgb(255, 255, 255);
  width: 100%;

  // send button
  .send-container {
    height: 4vh;
  }

  // delivery block
  .delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    height: 73vh;
    font-size: 4rem;

    // delivery type
    &__type {
      border: 0.0625rem solid rgb(0, 0, 0);
    } 

    // delivery name
    &__name {
      border: 0.0625rem solid rgb(0, 0, 0);
    }

    // delivery description
    &__data {
      border: 0.0625rem solid rgb(0, 0, 0);
    }
  }
}


// overlay
.overlay {
  position: absolute;
  background-color: var(--baseColor);
  opacity: 0.8;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
