<ng-container *ngIf="order">
  <!--  header  -->
  <header class="header" [ngStyle]="{'background-color': order.delivery.color}"></header>
  <!--  container -->
  <div class="container-fluid mb-5 position-relative">
    <form (ngSubmit)="submit(f)" #f="ngForm">
      <ng-container *ngFor="let item of order?.items; let i = index">
        <!--  строка товара  -->
        <div class="row border d-flex align-items-center" [ngClass]="item.assembled ? 'selected-row' : ''">
          <!--  картинка  -->
          <div class="col-3">
            <img class="img-fluid"  [src]="item?.product?.imageFront?.url ? imagePath + 'products/icon/' + item.product.imageFront.url + '.jpg' : imagePath + 'none.jpg'" [alt]="item?.product?.imageFront?.name ? item.product.imageFront.name : 'none'">
          </div>
          <!--  описание  -->
          <div class="col-9">
            <div class="row d-flex align-items-center justify-content-between text-center product-options">
              <!--  название  -->
              <div class="col-3 d-flex flex-column align-items-center">
                <p><b>{{item?.product?.localizedDescriptions[1]?.name}}</b></p>
              </div>
              <!--  производитель  -->
              <div class="col-3 d-flex flex-column align-items-center">
                <p><b>{{item?.product?.brand?.localizedDescriptions[1]?.name}}</b></p>
              </div>
              <!--  характеристики  -->
              <div class="col-3 d-flex flex-column align-items-center">
                <div *ngFor="let optionValue of item.optionValues">
                  <span *ngIf="optionValue.ru">{{optionValue.ru}}</span>
                  <span *ngIf="!optionValue.ru">{{optionValue.localizedDescriptions[1].name}}</span>
                </div>
              </div>
              <!--  чекбокс  -->
              <div class="col-3 d-flex justify-content-center align-items-center product-options__check">
                <label class="check">
                  <input type="checkbox" [(ngModel)]="item.assembled" [name]="'check' + i"
                         (change)="checkerHasChanged(item)" required/>
                  <div class="box"></div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </form>
    <!-- <div class="overlay" *ngIf="deliveryVisible"></div> -->
  </div>
  <!--  delivery  -->
  <div class="footer fixed-bottom d-flex justify-content-center align-items-center">
    <!-- <div class="delivery" *ngIf="deliveryVisible">
      <div class="row mb-4">
        <div class="col-4 delivery__type">Тип доставки</div>
        <div class="col-8 delivery__name">Название доставки</div>
      </div>
      <div class="row mb-5">
        <div class="col-12 delivery__data">Данные доставки</div>
      </div>
      <button type="submit" class="btn mt-auto btn-light btn-lg">PRINT</button>
    </div> -->
    <div class="send-container">
      <button (click)="submit(f)" type="submit" [disabled]="!f.valid" class="btn ml-4 btn-light btn-lg">SEND</button>
    </div>
  </div>
</ng-container>




