.user-details {
  display: flex;
  padding-bottom: 0.625rem;
  &__form {
    display: flex;
  }
  &__edit {
    margin: 0.625rem;
    padding: 0.9375rem;
    display: flex;
    flex-direction: row;
    align-content: stretch;
  }
}

