<!--карточка детализации пользователя-->
<!--  поля пользователя  -->
<!--  захардкоженный список выбора с ролями, пока два варианта "пользователь" и "администратор"  -->
<!--  кнопка удалить (deleteUser), значительный пробел,  кнопка сохранить (updateUser), кнопка отменить,  -->
<!--<div class="mat-elevation-z8 user-details">-->
<!--  &lt;!&ndash;  форма юзера&ndash;&gt;-->
<!--  <form class="user-details__form"-->
<!--    novalidate-->
<!--    (ngSubmit)="updateUser(-->
<!--    userDetails.id,-->
<!--    userForm.get('username')?.value,-->
<!--    userForm.get('title')?.value,-->
<!--    userForm.get('description')?.value,-->
<!--    userForm.get('password')?.value,-->
<!--    selectedRoles)"-->
<!--    [formGroup]="userForm">-->
<!--    <div class="user-details__edit">-->
<!--      &lt;!&ndash;      имя юзера&ndash;&gt;-->
<!--      <mat-form-field class="mr-2">-->
<!--        <mat-label>User Name</mat-label>-->
<!--        <input matInput type="text" formControlName="username">-->
<!--      </mat-form-field>-->
<!--      &lt;!&ndash;      пароль юзера&ndash;&gt;-->
<!--      <mat-form-field class="mr-2">-->
<!--        <mat-label>Password</mat-label>-->
<!--        <input matInput type="password" formControlName="password">-->
<!--      </mat-form-field>-->
<!--      &lt;!&ndash;      тайтл юзера&ndash;&gt;-->
<!--      <mat-form-field class="mr-2">-->
<!--        <mat-label>Title</mat-label>-->
<!--        <input matInput type="text" formControlName="title">-->
<!--      </mat-form-field>-->
<!--      &lt;!&ndash;      описани юзера&ndash;&gt;-->
<!--      <mat-form-field class="mr-2">-->
<!--        <mat-label>Description</mat-label>-->
<!--        <input matInput type="text" formControlName="description">-->
<!--      </mat-form-field>-->
<!--      &lt;!&ndash;      роли юзера&ndash;&gt;-->
<!--      <mat-form-field class="mr-2">-->
<!--        <mat-label>Roles</mat-label>-->
<!--        <mat-select multiple [formControl]="selected" (selectionChange)="buildUserRolesArray()">-->
<!--          <mat-option-->
<!--            *ngFor="let role of userRoles"-->
<!--            [value]="role.id"-->
<!--            matTooltip="{{role.title}}">-->
<!--            {{role.name}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--    &lt;!&ndash;    кнопки управления формой&ndash;&gt;-->
<!--    <div class="flex">-->
<!--      <button-->
<!--        mat-raised-button-->
<!--        class="ml-2 mt-auto"-->
<!--        color="accent"-->
<!--        type="submit"-->
<!--        [disabled]="(userForm.get('username').errors || userForm.get('password').errors)">-->
<!--        Save-->
<!--      </button>-->
<!--    </div>-->
<!--  </form>-->
<!--  <div class="mt-auto">-->
<!--    <button mat-raised-button class="ml-4" color="warn" (click)="deleteUser(userDetails.id)">Delete</button>-->
<!--    <button mat-raised-button class="ml-4" color="primary">Cancel</button>-->
<!--  </div>-->
<!--</div>-->
