<!-- <div>{{product.id}}{{product.productImages?.length}}</div> -->
<div class="row mt-3">
  <div class="option-card mb-3 col-4" *ngFor="let productImage of product.productImages; let i = index">
    <app-product-images-option [productImage]="productImage" [productImageIndex]="i"></app-product-images-option>
  </div>
</div>

<div class="option-card text-center mx-auto h-100 d-flex justify-content-center align-items-center">
  <button class="btn btn-header btn-header-back"
          title="ADD"
          (click)="addProductImage()">
    <fa-icon [icon]="['fas', 'plus']" size="5x"></fa-icon>
  </button>
</div>

<!--<app-product-images-option *ngIf="imageOptions"></app-product-images-option>-->

<!--  добавление иконки  -->
<!-- <div class="col-md-3 py-1 px-3">
  <div class="card shadow px-2">
    <div class="card-header bg-white">
      ICON
    </div>
    <div class="card-body embed-responsive embed-responsive-1by1 text-center">
      
      <app-image-card [image]="product.imageFront"
                      [imageTypeID]="product?.imageFront?.typeID ? product.imageFront.typeID : 5"
                      (changeImageEvent)="changeImageFront($event)"></app-image-card>
    </div>
  </div>
</div> -->

<!--  добавление фона  -->
<!-- <div class="col-md-3 py-1 px-3">
  <div class="card shadow px-2">
    <div class="card-header bg-white">
      BACKGROUND
    </div>
    <div class="card-body embed-responsive embed-responsive-1by1 text-center">
      <app-image-card [image]="product.imageBack"
                      [imageTypeID]="product?.imageBack?.typeID ? product.imageBack.typeID : 5"
                      (changeImageEvent)="changeImageBack($event)"></app-image-card>
    </div>
  </div>
</div> -->
