<!--        заголовок-->
<div class="row" *ngIf="productOption && productOption.option && productOption.option.optionValues">
  <div class="col option-list__header">
    <!-- левая часть-->
    <div class="option-list__header-left">
      <!-- текст -->
      <div class="option-list__header-left-text">
        {{productOption.option.title}}
      </div>
    </div>
    <div>

    </div>
    <!-- правая часть-->
    <div class="option-list__header-right">
      <button class="btn btn-header btn-header-delete"
              title="DELETE"
              (click)="removeProductOption()">
        <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>
      </button>
    </div>
  </div>
</div>
<!--        разделитель-->
<div class="option-list__split-line"></div>
<!--   выбор значений опций   -->
<div class="col">
  <div *ngFor="let optionValue of productOption.option.optionValues">
    <div class="row">
      <!--    ЭТО цвет    -->
      <ng-container *ngIf="productOption.option.type.id==1; else sizeType">
        <div class="col-10">{{optionValue?.localizedDescriptions ? (optionValue?.localizedDescriptions|localization).name : 'error'}}</div>
        <div class="col-2">
          <button class="check btn btn-header btn-create"
          (click)="changeOptionValue(optionValue)">
            <fa-icon *ngIf="isOptionSelected(optionValue)" [icon]="['fas', 'check']" [classes]="['btn-header__icon']"></fa-icon>
          </button>
        </div>
        <!-- <div class="col-1">
          <button class="btn btn-header btn-create" (click)="addOptionValueToProduct(optionValue)">+</button>
        </div>
        <div class="col-1">
          <button class="btn btn-header btn-delete" (click)="delOptionValueFromProduct(optionValue)">-</button>
        </div>
        <div class="col-1">{{isOptionSelected(optionValue)}}</div> -->


      </ng-container>
      <!--    Это размер    -->
      <ng-template #sizeType>
        <div class="col-10">{{optionValue?.ru ? optionValue?.ru : 'error'}}</div>
        <div class="col-2">
          <button class="check btn btn-header btn-create"
                  (click)="changeOptionValue(optionValue)">
            <fa-icon *ngIf="isOptionSelected(optionValue)" [icon]="['fas', 'check']" [classes]="['btn-header__icon']"></fa-icon>
          </button>
        </div>
      </ng-template>
    </div>
  </div>
<!--  <div>SAVE</div>-->
</div>
