.option-list {
  padding: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: 0.2rem 0.2rem 1.5rem 0.05rem rgba(0, 0, 0, 0.08);

  // option header
  &__header {
    display: flex;
    justify-content: space-between;
    //margin-bottom: 0.5rem;

    // header left container
    &-left {
      display: flex;
      align-items: center;

      // option title
      &-text {
        font-size: 1.5rem;
        color: rgb(108, 117, 125);
      }
    }

    // header right container
    &-right {
      display: flex;
      align-items: center;
    }
  }

  // line after option header
  &__split-line {
    margin: 1rem 0;
    height: 0.125rem;
    background: rgb(108, 117, 125);
    width: auto;
  }
}

// checkbox
.check {
  border: 0.0625rem solid var(--baseColor);
}
