//  ссылки
.link:link,
.link:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

//  список  assemblies
.assemblies {
  margin-bottom: 10rem;

  //  карточка
  .card {
    min-width: 11.25rem;
    width: 12.5rem;

    //  тень для карточек
    .my-card-shadow {
      box-shadow: 0 0.125rem 0.0625rem -0.0625rem rgba(0,0,0,.2),
      0 0.0625rem 0.0625rem 0 rgba(0,0,0,.14),
      0 0.0625rem 0.1875rem 0 rgba(0,0,0,.12);
    }

    //  номер заказа
    .order-num {
      font-size: 1.5rem;
      font-weight: bold;
    }

    //  subscript text
    .sub {
      padding-left: 0.3rem;
      bottom: -1.7rem;
    }
  }
}

// footer
.footer {
  height: 15vh;
  background-color: rgb(255, 165, 0);
  border-top: 0.125rem solid rgb(204, 204, 204);

  // заказ
  .order-button {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    outline: 0;
    border: none;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 4rem;
    line-height: 2.25rem;
    padding: 0.5rem 2.8125rem;
    border-radius: 0.25rem;
    overflow: visible;
    color: rgba(0,0,0,.87);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0.1875rem 0.0625rem -0.125rem rgba(0,0,0,.2), 0 0.125rem 0.125rem 0 rgba(0,0,0,.14), 0 0.0625rem 0.3125rem 0 rgba(0,0,0,.12);
  }
}

