<!-- заголовок -->
<div class="container-fluid">
  <div class="row">
    <div class="col header-card">
      <!-- левая часть-->
      <div class="header-card__left">
        <!-- назад -->
        <button class="btn btn-header btn-header-back mt-1"
                title="BACK">
          <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
        <!-- текст -->
        <div class="header-card__text">
          Check/Send
        </div>
      </div>
      <!-- правая часть-->
      <!--      <div class="header-card__right">-->
      <!--        <button class="btn btn-header btn-delete"-->
      <!--                title="DELETE">-->
      <!--          <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>-->
      <!--        </button>-->
      <!--      </div>-->
    </div>
  </div>
</div>
<!--  контейнер -->
<div class="container-fluid assemblies mt-3">
  <!--  строка  -->
  <div class="row" *ngIf="orders">
    <!--  колонки  -->
    <div class="col-sm-4 col-xl-2 d-flex justify-content-center" *ngFor="let checkSendItem of orders; let i = index">
      <a class="link" [routerLink]="['/check_send/check_send_item', checkSendItem.id]">
        <!--  карточка  -->
        <div class="card mb-2">
          <!--  тело карточки -->
          <div class="card-body rounded my-card-shadow" [ngStyle]="{'background-color': checkSendItem.delivery.color}">
            <span>22</span>
            <div class="row ">
              <div class="col-12 d-flex justify-content-between">
                <span class="order-num">{{checkSendItem?.orderID ? checkSendItem?.orderID : checkSendItem?.id}}</span>
                <sub class="sub">{{checkSendItem.weight}} kg</sub>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<!--  footer  -->
<!-- <footer class="footer fixed-bottom d-flex justify-content-center align-items-center"
        [ngStyle]="{'background-color': randomCheckSendItem.deliveryColor}" *ngIf="randomCheckSendItem">
  <div class="row">
    <a class="link" [routerLink]="['/check_send/check_send_item', randomCheckSendItem.id]">
      <button type="button" class="col-12 order-button">{{randomCheckSendItem.order.orderID}}</button>
    </a>
  </div>
</footer> -->

