<ng-container>
    <!--  header  -->
    <header class="header"></header>
    <!--  container -->
    <div class="container-fluid mb-5 position-relative">
      <form (ngSubmit)="checkedIncoming()" #f="ngForm">
        <ng-container *ngIf="incoming">
          <!--  строка товара  -->
          <div *ngFor="let incomingItem of incoming.incomingItems;  let i = index" class="row border d-flex align-items-center border incoming" [ngClass]="incomingItem.checked ? 'selected-row' : ''">
            <!--  картинка  -->
            <div class="col-3 h-100">
              <img class="h-100" [src]="incomingItem.product?.imageFront?.url ?
              imagePath + incomingItem.product.imageFront.url + '.jpg' :
              imagePath + 'none.jpg'" [alt]="incomingItem.product?.imageFront?.name ? incomingItem.product.imageFront.name : 'none'">
            </div>
            <!--  описание  -->
            <div class="col-9">
              <div class="row d-flex align-items-center justify-content-between text-center incoming-options">
                <!--  название  -->
                <div class="col-3 d-flex flex-column align-items-center">
                  <p><b>{{incomingItem?.product?.localizedDescriptions[0]?.name}}</b></p>
                </div>
                <!--  производитель  -->
                <div class="col-2 d-flex flex-column align-items-center">
                  <p><b>{{incomingItem?.product?.brand?.localizedDescriptions ? incomingItem?.product?.brand?.localizedDescriptions[0]?.name : 'noname'}}</b></p>
                </div>
                <!--  характеристики  -->
                <div class="col-3 d-flex flex-column align-items-center">
                  <p *ngFor="let option of incomingItem.optionValues">
                    <b>{{option?.option?.type?.name}}</b>
                    <b>{{option?.ru}}</b>
                  </p>
                </div>
                <!-- количество -->
                <div class="col-1 d-flex flex-column align-items-center">
                  <p><b>{{incomingItem?.amount}}</b></p>
                </div>
                <!--  чекбокс  -->
                <div class="col-3 d-flex justify-content-center align-items-center incoming-options__check">
                  <label class="check">
                    <input type="checkbox" [name]="'check' + i" [(ngModel)]="incomingItem.checked" required/>
                    <div class="box"></div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </form>
<!--      <div class="overlay" *ngIf="deliveryVisible"></div>-->
    </div>
    <div class="footer fixed-bottom d-flex justify-content-center align-items-center">
      <div class="send-container">
        <button (click)="checkedIncoming()"
                type="submit"
                [disabled]="!f.form.valid"
                class="btn ml-4 btn-light btn-lg"
                [routerLink]="['/incomings']">CHECKED</button>
      </div>
    </div>
</ng-container>




