// brand block
.brand-card {

  // brand logo container
  &__logo {
    width: 4rem;
    min-width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;

    // brand logo
    &-image {
      display: block;
      align-self: center;
      width: 100%;
      height: auto;
      margin: auto;
    }
  }

  // brand name
  &__text {
    max-height: 4rem;
    font-size: 1rem;
    align-self: center;
  }
}
