<ng-container *ngIf="brand">
  <!--  карточка  -->
  <div class="drag-card d-flex justify-content-between mx-auto shadow__with-hover"
       (dblclick)="updateBrand(brand)">
<!--  <div class="d-flex align-items-center justify-content-between  w-100 bg-dark">-->
    <div class="brand-card__logo">
      <img class="brand-card__logo-image"
            [src]="picturePath + 'brands/' + brand.image.url + '.jpg'"
           alt="{{brand.image.name}}">
    </div>
<!--    <div class="ml-3 brand-card__text">{{brand.image.name}}</div>-->
    <div class="ml-3 brand-card__text">{{brand.localizedDescriptions ? (brand.localizedDescriptions|localization).title : 'нет имени'}}</div>
<!--    <div>.</div>-->
<!--    <div>.</div>-->
    <div></div>
  </div>
</ng-container>

