<!-- заголовок -->
<div class="container-fluid">
  <div class="row">
    <div class="col justify-content-between align-items-center d-flex header-card">
      <!-- левая часть-->
      <div class="d-flex align-items-center">
        <!-- назад -->
        <button class="btn btn-header btn-header-back mt-1" title="BACK">
          <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
        <!-- текст -->
        <h4 class="my-0 ml-2 mt-1">Settings</h4>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col menu-card">
      <!-- левая часть-->
      <div class="menu-card__left">
        <div class="menu-card__link" [ngClass]="{'menu-card__link__active': menuLink === 'currency'}"
          (click)="selectMenu('currency')">
          Currency
        </div>
        <div class="menu-card__border"></div>
        <div class="menu-card__link" [ngClass]="{'menu-card__link__active': menuLink === 'users'}"
          (click)="selectMenu('users')">
          Users
        </div>
        <div class="menu-card__border"></div>
        <div class="menu-card__link" [ngClass]="{'menu-card__link__active': menuLink === 'localized'}"
          (click)="selectMenu('localized')">
          Localized
        </div>
        <div class="menu-card__border"></div>
        <div class="menu-card__link" [ngClass]="{'menu-card__link__active': menuLink === 'localize-keyword'}"
          (click)="selectMenu('localize-keyword')">
          Keywords
        </div>
        <div class="menu-card__border"></div>
        <div class="menu-card__link" [ngClass]="{'menu-card__link__active': menuLink === 'countries'}"
          (click)="selectMenu('countries')">
          Countries
        </div>
      </div>
      <div>

      </div>
      <!-- правая часть-->
      <div class="header-card__right">
        <!--        <button class="btn btn-header btn-header-save"-->
        <!--                title="SAVE">-->
        <!--          <fa-icon [icon]="['fas', 'save']" [classes]="['btn-header__icon']"></fa-icon>-->
        <!--        </button>-->
      </div>
    </div>
  </div>
</div>

<!--  сама карточка  -->
<div class="container-fluid" [ngSwitch]="menuLink">
  <!-- выбор -->
  <!--default case 'description' -->
  <div *ngSwitchDefault>
    <app-currencies></app-currencies>
  </div>
  <!--  options-->
  <div *ngSwitchCase="'users'">
    <app-list-user></app-list-user>
  </div>
  <!--  images-->
  <div *ngSwitchCase="'countries'">
    <app-countries></app-countries>
  </div>
  <div *ngSwitchCase="'localized'">
    <app-localized></app-localized>
  </div>
  <div *ngSwitchCase="'localize-keyword'">
    <app-localize-keyword></app-localize-keyword>
  </div>
</div>
