<!-- заголовок -->
<div class="row">
  <div class="col justify-content-between align-items-center d-flex header-card">
    <!-- левая часть-->
    <div class="d-flex align-items-center">
      <!-- назад -->
      <!--        <button class="btn btn-header btn-header-back mt-1"-->
      <!--                title="BACK">-->
      <!--          <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>-->
      <!--        </button>-->
      <!-- текст -->
      <h4 class="my-0 ml-2 mt-1">Currencies</h4>
    </div>
    <!-- правая часть-->
    <div class="d-flex">
      <!-- сохранить -->
      <button class="btn btn-header btn-header-create"
              type="submit"
              title="Add"
              (click)="addCurrencyInput()">
        <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
      </button>
      <!-- удалить -->
      <!--        <button class="btn btn-header btn-delete"-->
      <!--                title="DELETE"-->
      <!--                [disabled]="!f.valid">-->
      <!--          <i class="fa fa-times-rectangle fa-2x fa-fw btn-header__icon"></i>-->
      <!--        </button>-->
    </div>
  </div>
</div>
<!--   Валюты  -->
<div class="container mt-5">
  <div class="row">
    <div class="col-xl-12">
      <table class="table">
        <!--   Заголовок  -->
        <thead>
        <tr>
          <th class="text-uppercase text-center" scope="col">code</th>
          <th class="text-uppercase text-center" scope="col">title</th>
          <th class="text-uppercase text-center" scope="col">multiplier</th>
          <th class="text-uppercase text-center" scope="col">symbol</th>
          <th class="text-uppercase text-center" scope="col">before bit</th>
          <!--            <th class="text-uppercase text-center" scope="col">-->
          <!--              <button-->
          <!--                [disabled]="createdMode"-->
          <!--                class="btn btn-create"-->
          <!--                title="Add"-->
          <!--                (click)="onAddInput()"-->
          <!--                type="button"-->
          <!--              >-->
          <!--                <i class="fa fa-2x fa-plus-square"></i>-->
          <!--              </button>-->
          <!--            </th>-->
          <!--            <th class="text-center">&nbsp;</th>-->
        </tr>
        </thead>
        <!--  Значения   -->
        <tbody>
        <tr *ngFor="let currency of currencies; let i = index">
          <!--   currentEdit  -->
          <ng-container *ngIf="currentEdit == i; else readMode">
            <td class="text-center">
              <input
                class="form-control"
                type="text"
                [(ngModel)]="currency.code"
                required
              />
            </td>
            <td class="text-center">
              <input
                class="form-control"
                type="text"
                required
                [(ngModel)]="currency.title"
              />
            </td>
            <td class="text-center">
              <input
                class="form-control"
                type="number"
                required
                [(ngModel)]="currency.multiplier"
              />
            </td>
            <td class="text-center">
              <input
                class="form-control"
                type="text"
                required
                [(ngModel)]="currency.symbol"
              />
            </td>
            <td class="text-center">
              <input
                class="form-control"
                type="checkbox"
                [checked]="currency.before"
                required
                [(ngModel)]="currency.before"
              />
            </td>
            <!--   createdMode  -->
            <ng-container *ngIf="createdMode; else edit">
              <td class="text-center">
                <button
                  type="button"
                  class="btn btn-save"
                  (click)="createCurrency(currency)"
                  title="Save changes"
                >
                  <fa-icon [icon]="['fas', 'check-square']" [classes]="['btn-header__icon']"></fa-icon>
                </button>
              </td>
            </ng-container>
            <ng-template #edit>
              <td class="text-center">
                <button
                  type="button"
                  class="btn btn-save"
                  (click)="updateCurrency(currency)"
                  title="Save changes"
                >
                  <fa-icon [icon]="['fas', 'save']" [classes]="['btn-header__icon']"></fa-icon>
                </button>
              </td>
            </ng-template>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-cancel"
                (click)="cancelCurrency()"
                title="Cancel changes"
              >
                <fa-icon [icon]="['fas', 'sync']" [classes]="['btn-header__icon']"></fa-icon>
              </button>
            </td>
          </ng-container>
          <!--   readMode  -->
          <ng-template #readMode>
            <td class="text-center">{{ currency.code }}</td>
            <td class="text-center">{{ currency.title }}</td>
            <td class="text-center">{{ currency.multiplier }}</td>
            <td class="text-center">{{ currency.symbol }}</td>
            <td class="text-center">
              <input
                class="form-control"
                type="checkbox"
                [checked]="currency.before"
                disabled
              /></td>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-update"
                [disabled]="createdMode"
                (click)="editCurrency(i)"
                title="Change"
              >
                <fa-icon [icon]="['fas', 'pen-square']" [classes]="['btn-header__icon']"></fa-icon>
              </button>
            </td>
          </ng-template>
          <!--          <td class="text-center">-->
          <!--            <button-->
          <!--              type="button"-->
          <!--              class="btn btn-delete"-->
          <!--              (click)="deleteCurrency(i)"-->
          <!--              title="Delete"-->
          <!--            >-->
          <!--              <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>-->
          <!--            </button>-->
          <!--          </td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
