// option container
.option-card {
  padding: 1rem;

  // enabled option
  &__enabled {
    background: rgb(248, 249, 250);
  }

  // disabled option
  &__disabled {
    background: rgb(211, 211, 211);
  }
}
