<!-- заголовок -->
<div class="container-fluid">
  <div class="row">
    <div class="col header-card">
      <!-- левая часть-->
      <div class="header-card__left">
        <!-- назад -->
        <button class="btn btn-header btn-header-back mt-1"
                title="BACK">
          <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
        <!-- текст -->
        <div class="header-card__text">
          Options
        </div>
      </div>
      <!-- правая часть-->
      <div class="header-card__right">
        <button class="btn btn-header btn-header-create"
                title="CREATE" [routerLink]="['/options/option']">
          <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<!--   ОПЦИИ  -->
<!--  deliveries list  -->
<div class="container-fluid card my-3 shadow w-50 mx-auto" *ngIf="options && options.length > 0">
  <div class="row px-2 py-2">
    <!-- карточка доставки -->
    <div class="col-12 px-md-0 my-md-1" *ngFor="let option of options">  <!--  карточка  -->
      <div [ngClass]="option.enabled ? 'option-card__enabled' : 'option-card__disabled'" class="row option-card justify-content-between mx-auto shadow__with-hover">
           
           <!-- (dblclick)="changeOption(option)" -->
        <!--  заголовок  -->
          <div class="col-3">{{option.localizedDescriptions[0].name}}</div>
          <div class="col-3">{{(option.type).name}}</div>
          <div class="col-3">{{option.priority}}</div>
          
        <!--   кнопки   -->
        <div class="col-3 d-flex align-items-center justify-content-center px-3 py-auto">
            <div class="product__edit btn-header-create" (click)="changeOption(option)">
                <fa-icon [icon]="['fas', 'pencil-alt']" size="2x"></fa-icon>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
