<!-- заголовок -->
<div class="container-fluid">
  <div class="row">
    <div class="col header-card">
      <!-- левая часть-->
      <div class="header-card__left">
        <!-- назад -->
        <button class="btn btn-header btn-header-back mt-1"
                title="BACK">
          <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
        <!-- текст -->
        <div class="header-card__text">
          Payments
        </div>
      </div>
      <!-- правая часть-->
      <div class="header-card__right">
        <!-- создать -->
        <button class="btn btn-header btn-header-create"
                type="button"
                title="Add"
                (click)="createPayment()">
          <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<!--  payments list  -->
<div class="container-fluid card my-3 shadow w-50 mx-auto" *ngIf="payments && payments.length > 0">

  <div class="row dd-zone px-2 py-2"
       dndDropzone
       (dndDragover)="onDragover($event)"
       (dndDrop)="onDrop($event)">
    <div class="col-12 drop-holder text-center drop-holder" dndPlaceholderRef>
      <!--              <span>-->
      <fa-icon [icon]="['fas', 'plus']" [classes]="['btn-header__icon']"></fa-icon>
      <!--              </span>-->

    </div>
    <!-- карточка оплаты -->
    <div class="col-12 px-md-0 my-md-1" *ngFor="let payment of payments; let paymentIndex= index"
         [dndDraggable]="payment"
         [dndEffectAllowed]="'all'"
         [dndDisableIf]="false"
         (dndStart)="onDragStart($event)"
         (dndMoved)="onDraggableMoved($event)"
         (dndCanceled)="onDragCanceled($event)"
         (dndEnd)="onDragEnd($event)">
      <app-payment-card [payment]="payment" [paymentIndex]="paymentIndex"></app-payment-card>
    </div>
  </div>
</div>
