//.menu-link {
//  margin: 0 2rem;
//  padding: 0 1rem;
//  color: #494949;
//  font-size: 1.5rem;
//  &:hover {
//    color: var(--backColor);
//    cursor: pointer;
//  }
//  &__active {
//    color: #E3E3E3;
//    background: var(--baseColor);
//    &:hover {
//      color: var(--baseColor);
//      background: #818181;
//      cursor: pointer;
//    }
//  }
//}

// product details navigation container 
.menu-card {
  background: rgb(221, 221, 221);
  //box-shadow: 0.2rem 0.2rem 1.5rem 0.05rem rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  height: 3rem;
  //margin-bottom: 0.5rem;

  // nav left container
  &__left {
    display: flex;
    //margin-left: 1rem;
    align-items: center;
    //border: green solid 0.0625rem;
    //padding-top: 1rem;
  };

  // nav right container
  &__right {
    display: flex;
    align-items: center;
  };

  // nav link
  &__link {
    padding: 0.5rem 1.75rem;
    margin: 0;
    font-size: 1.5rem;
    height: 3rem;
    //padding-bottom: 0;
    //align-self: center;
    &:hover {
      //margin: 1rem 1rem;
      background: rgb(204, 204, 204);
      cursor: pointer;
    }
    &__active {
      box-shadow: 0.2rem 0.2rem 0.5rem 0.05rem rgba(0, 0, 0, 0.18);
    }
  };

  // border between links
  &__border {
    height: 3rem;
    width: 0.125rem;
    background: rgb(73, 73, 73);
  }
}

// Модальное окно удаления 
.modal-delete {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);

  &__body {
    width: 300px;
    height: 110px;
    background-color: rgb(256,256,256);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  &__center {
    display: flex;
    justify-content: center;
  }
}