<!-- заголовок -->
<div class="container-fluid">
  <div class="row">
    <div class="col header-card">
      <!-- левая часть-->
      <div class="header-card__left">
        <!-- назад -->
        <button class="btn btn-header btn-header-back mt-1"
                title="BACK">
          <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
        <!-- текст -->
        <div class="header-card__text">
          Product detail
        </div>
      </div>
      <div>

      </div>
      <!-- правая часть-->
      <div class="header-card__right">
        <!-- update product -->
        <button class="btn btn-header btn-header-save" (click)="updateProduct()" title="SAVE">
          <fa-icon [icon]="['fas', 'save']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
        <!-- удалить продукт -->
        <button class="btn btn-header btn-header-delete" (click)="showProductModal()" title="SAVE">
          <fa-icon [icon]="['fas', 'trash']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<!--меню-->
<!-- заголовок -->
<div class="container-fluid">
  <div class="row">
    <div class="col menu-card">
      <!-- левая часть-->
      <div class="menu-card__left">
        <!-- назад -->
<!--        <button class="btn btn-header btn-header-back mt-1"-->
<!--                title="BACK">-->
<!--          <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>-->
<!--        </button>-->
        <!-- текст -->
        <div class="menu-card__link"
             [ngClass]="{'menu-card__link__active': menuLink === 'description'}"
             (click)="selectMenu('description')">
          Description
        </div>
        <div class="menu-card__border"></div>
        <div class="menu-card__link"
             [ngClass]="{'menu-card__link__active': menuLink === 'options'}"
             (click)="selectMenu('options')">
          Options
        </div>
        <div class="menu-card__border"></div>
        <div class="menu-card__link"
             [ngClass]="{'menu-card__link__active': menuLink === 'images'}"
             (click)="selectMenu('images')">
          Images
        </div>
      </div>
      <div>

      </div>
      <!-- правая часть-->
      <div class="header-card__right">
<!--        <button class="btn btn-header btn-header-save"-->
<!--                title="SAVE">-->
<!--          <fa-icon [icon]="['fas', 'save']" [classes]="['btn-header__icon']"></fa-icon>-->
<!--        </button>-->
      </div>
    </div>
  </div>
</div>

<!--  сама карточка  -->
<div class="container-fluid p-0" [ngSwitch]="menuLink">
  <!-- выбор -->
  <!--default case 'description' -->
  <div *ngSwitchDefault>
    <app-product-description></app-product-description>
  </div>
  <!--  options-->
  <div *ngSwitchCase="'options'">
    <app-product-options></app-product-options>
  </div>
<!--  images-->
  <div *ngSwitchCase="'images'">
    <app-product-images></app-product-images>
  </div>
</div>
<!--  языковая панель  -->
<div class="col-md-5 p-1">


<!--  <div class="card shadow p-2">-->
<!--    &lt;!&ndash; выбор языка &ndash;&gt;-->
<!--    <ng-container>-->
<!--      <ul class="nav nav-tabs">-->
<!--        &lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--        &lt;!&ndash;            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>&ndash;&gt;-->
<!--        &lt;!&ndash;          </li>&ndash;&gt;-->
<!--        <li *ngFor="let locale of currentBrand?.localizedDescriptions; let i = index" class="nav-item">-->
<!--          <button class="btn-outline-secondary nav-link mr-2"-->
<!--                  [ngClass]="locale.language === currentLangTab ? 'active' : ''"-->
<!--                  data-toggle="tab"-->
<!--                  (click)="selectLangTab(locale.language)">{{locale.language}}</button>-->
<!--        </li>-->
<!--      </ul>      &lt;!&ndash; Tab panes &ndash;&gt;-->
<!--      <div [ngSwitch]="currentLangTab" class="tab-content">-->
<!--        <div *ngFor="let locale of currentBrand?.localizedDescriptions; let i=index">-->
<!--          <div *ngSwitchCase="locale.language" class="tab-pane container-fluid active">-->
<!--            &lt;!&ndash;    Имя карточки    &ndash;&gt;-->
<!--            <div class="input-group my-4">-->
<!--              <div class="input-group-prepend">-->
<!--                <span class="input-group-text">Name:</span>-->
<!--              </div>-->
<!--              <input name="name"-->
<!--                     class="form-control"-->
<!--                     type="text"-->
<!--                     [(ngModel)]="currentBrand.localizedDescriptions[i].name">-->
<!--            </div>-->
<!--            &lt;!&ndash;    Заголовок карточки    &ndash;&gt;-->
<!--            <div class="input-group my-4">-->
<!--              <div class="input-group-prepend">-->
<!--                <span class="input-group-text">Title:</span>-->
<!--              </div>-->
<!--              <input name="title"-->
<!--                     class="form-control"-->
<!--                     type="text"-->
<!--                     [(ngModel)]="currentBrand.localizedDescriptions[i].title">-->
<!--            </div>-->
<!--            &lt;!&ndash;    Описание карточки    &ndash;&gt;-->
<!--            <div class="input-group my-4">-->
<!--              <div class="input-group-prepend">-->
<!--                <span class="input-group-text">Description:</span>-->
<!--              </div>-->
<!--              <input name="description"-->
<!--                     class="form-control"-->
<!--                     type="text"-->
<!--                     [(ngModel)]="currentBrand.localizedDescriptions[i].description">-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-container>-->
<!--  </div>-->

<!--  <div class="card shadow p-2 mt-3">-->
<!--    <div class="card-header bg-white mb-2">-->
<!--      SEO-->
<!--    </div>-->
<!--    &lt;!&ndash; выбор языка &ndash;&gt;-->
<!--    <ng-container>-->
<!--      <ul class="nav nav-tabs">-->
<!--        &lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--        &lt;!&ndash;            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>&ndash;&gt;-->
<!--        &lt;!&ndash;          </li>&ndash;&gt;-->
<!--        <li *ngFor="let locale of currentBrand?.localizedDescriptions; let i = index" class="nav-item">-->
<!--          <button class="btn-outline-secondary nav-link mr-2"-->
<!--                  [ngClass]="locale.language === currentLangTab ? 'active' : ''"-->
<!--                  data-toggle="tab"-->
<!--                  (click)="selectLangTab(locale.language)">{{locale.language}}</button>-->
<!--        </li>-->
<!--      </ul>      &lt;!&ndash; Tab panes &ndash;&gt;-->
<!--      <div [ngSwitch]="currentLangTab" class="tab-content">-->
<!--        <div *ngFor="let locale of currentBrand?.localizedDescriptions; let i=index">-->
<!--          <div *ngSwitchCase="locale.language" class="tab-pane container-fluid active">-->
<!--            &lt;!&ndash;    Имя карточки    &ndash;&gt;-->
<!--            <div class="input-group my-4">-->
<!--              <div class="input-group-prepend">-->
<!--                <span class="input-group-text">Name:</span>-->
<!--              </div>-->
<!--              <input name="name"-->
<!--                     class="form-control"-->
<!--                     type="text"-->
<!--                     [(ngModel)]="currentBrand.localizedDescriptions[i].name">-->
<!--            </div>-->
<!--            &lt;!&ndash;    Заголовок карточки    &ndash;&gt;-->
<!--            <div class="input-group my-4">-->
<!--              <div class="input-group-prepend">-->
<!--                <span class="input-group-text">Title:</span>-->
<!--              </div>-->
<!--              <input name="title"-->
<!--                     class="form-control"-->
<!--                     type="text"-->
<!--                     [(ngModel)]="currentBrand.localizedDescriptions[i].title">-->
<!--            </div>-->
<!--            &lt;!&ndash;    Описание карточки    &ndash;&gt;-->
<!--            <div class="input-group my-4">-->
<!--              <div class="input-group-prepend">-->
<!--                <span class="input-group-text">Description:</span>-->
<!--              </div>-->
<!--              <input name="description"-->
<!--                     class="form-control"-->
<!--                     type="text"-->
<!--                     [(ngModel)]="currentBrand.localizedDescriptions[i].description">-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-container>-->
<!--  </div>-->
</div>

<!-- Модальное окно удаления продукта -->
<div class="modal-delete" *ngIf="showDeleteModal && product?.id !== 0" (click)="hideProductModal()">
  <div class="modal-delete__body">
    <div class="modal-delete__top">
      <button class="btn btn-header btn-header-back mt-1 ml-auto d-block" title="HIDE" (click)="hideProductModal()">
        <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>
      </button>
    </div>
    <div class="modal-delete__center">
      <button class="btn btn-primary" title="NO" (click)="hideProductModal()">Нет</button>
      <button class="btn btn-danger" title="YES" (click)="deleteProductModal(product.id)">Да</button>
    </div>
  </div>
</div>
