//  базовый контейнер
.product-options-container-fluid {
  padding: 0.5rem;
  background: rgb(255, 255, 255);
  height: calc(100vh - 6.25rem);
  //  верхняя половинка
  &__top-part {
    height: auto;
    //height: calc(50vh - 10.5rem);
  };
  //  нижняя половинка
  &__bottom-part {
    height: calc(50vh - 2rem);
  }
}

.option-card {
  //&:first-child {
  //  margin-left: 0;
  //}
  padding: 1rem;
  //margin-left: 0.5rem;
  //margin-bottom: 0.5rem;
  box-shadow: 0.2rem 0.2rem 1.5rem 0.05rem rgba(0, 0, 0, 0.08);
  min-height: 27.75rem;
/*   &__split-line {
    margin: 1rem 0;
    height: 0.125rem;
    background: rgb(108, 117, 125);
    width: auto;
  }
  &__header-text {
    color: rgb(108, 117, 125);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    //margin-bottom: 0.5rem;
    &-left {
      display: flex;
      align-items: center;
    };
    &-right {
      display: flex;
      align-items: center;
    };
    &-text {
      //margin-top: 0.25rem;
      font-size: 1.5rem;
      //padding-bottom: 0;
      //align-self: center;
    };
  } &__footer {
      display: flex;
      justify-content: space-between;
      //margin-bottom: 0.5rem;
      //&-left {
      //  display: flex;
      //  align-items: center;
      //};
      &-right {
        display: flex;
        align-items: center;
      };
      //&-text {
      //  //margin-top: 0.25rem;
      //  font-size: 1.5rem;
      //  //padding-bottom: 0;
      //  //align-self: center;
      //};
    } */
}

/* .empty-card {
  background: rgb(211, 211, 211);
} */

/* .container-first-part {

} */
/* .container-second-part {
  height: calc(50vh - 5.5rem);
} */


//  базовый контейнер
/* .delivery-container-fluid {
  padding: 0.5rem;
  background: rgb(255, 255, 255);
  height: calc(100vh - 6.25rem);
  //  верхняя половинка
  &__top-part {
    height: auto;
    //height: calc(50vh - 10.5rem);
  };
  //  нижняя половинка
  &__bottom-part {
    height: calc(50vh - 2rem);
  }
} */
