<ng-container class="p-0" *ngIf="product">

  <!--options card-->
  <div class="container-fluid product-options-container-fluid__top-part">
    <div class="row justify-content-between">
      <!--  options-->
      <div class="col-md m-2">
        <div class="row">
            <!--  productOption list  -->
          <div class="col-3 option-card" *ngFor="let productOption of product.productOptions; let i=index">
            <product-options-option-card [productOption]="productOption" [productOptionIndex]="i"></product-options-option-card>
          </div>
          <!--  add productOption  -->
          <div class="col-3 option-card" *ngIf="productOptions.length < 4">
            <product-options-add-card></product-options-add-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  options set -->
  <div class="container-fluid">
    <div class="row">
      <div class="col header-card">
        <!-- левая часть-->
        <div class="header-card__left">
          <div class="header-card__text ml-2">
            Options Sets
          </div>
        </div>
        <!-- правая часть-->
        <div class="header-card__right">
          <!-- добавить зону -->
          <button class="btn btn-header btn-header-save"
                  type="button"
                  title="Disabled"
                  (click)="addOptionsSet()">
            <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--  нижняя часть экрана  -->
  <div class="container-fluid  product-options-container-fluid__bottom-part p-2">
<!--    <div class="row" *ngIf="delivery.zones">-->
<!--      <div class="col-md-2" *ngFor="let zone of delivery.zones">-->
<!--        1{{zone.id}}<app-zone-card [zone]="zone"></app-zone-card>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</ng-container>
