<!--  карточка производителей  -->
<div class="card shadow__without-hover p-2">
  <!--  заголовок  -->
  <div class="card-header bg-white d-flex justify-content-between p-0">
    <div class="p-2">
      Manufacturers
    </div>
    <div>
      <button class="btn btn-header btn-header-create"
              title="Create"
              (click)="updateManufacturer()">
        <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
      </button>
    </div>
  </div>
  <!--  тело  -->
  <div class="card-body py-2 px-0" *ngIf="manufacturers">
      <div class="manufacturer d-flex justify-content-between flex-wrap m-1">
        <ng-container *ngFor="let manufacturer of manufacturers; let manufacturerIndex = index">
          <!--   список производителей   -->
          <div class="card shadow manufacturer-card p-2 m-1">
            <app-manufacturer-card [manufacturer]="manufacturer"></app-manufacturer-card>
          </div>
        </ng-container>
      </div>
  </div>
</div>
