// option value container
.option-value-card {
  margin-bottom: 0.5rem;
  min-height: 12rem;

  // enabled option
  &__enabled {
    background: rgb(255, 255, 255);
  }

  // disabled option
  &__disabled {
    background: rgb(211, 211, 211);
    //filter: blur(0.2rem);
    opacity: 0.2;
  }

  // option logo container
  &__logo {
    width: 11rem;
    min-width: 4rem;
    height: 11rem;
    display: flex;
    align-items: center;

    // option logo
    &-image {
      display: block;
      align-self: center;
      width: 100%;
      height: auto;
      margin: auto;
    }
  }

  // option title
  &__text {
    max-height: 4rem;
    font-size: 1rem;
    align-self: center;
  }
}
