<ng-container *ngIf="optionValue">
  <!--  карточка  -->
  <div class="option-value-card d-flex justify-content-between mx-auto shadow__with-hover"
       [ngClass]="optionValue?.enabled ? 'option-value-card__enabled' : 'option-value-card__disabled'">
    <!--    картинка-->
    <!--   LOGO   -->
    <div class="option-value-card__logo" *ngIf="optionType.name !== 'size'">

      <div class="embed-responsive embed-responsive-1by1 text-center">
        <!--    loader  -->
        <app-image-card [image]="optionValue?.image"
                        [imageTypeID]="optionValue?.image?.type?.id ? optionValue.image.type.id : 7"
                        (changeImageEvent)="changeImage($event)"></app-image-card>
      </div>
<!--      <img class="option-value-card__logo-image"-->
<!--           [src]="optionValue.image?.url ? imagePath + 'option_values/' + optionValue.image.url + '.jpg' : imagePath + 'none.jpg'"-->
<!--           alt="{{optionValue.image?.name ? optionValue.image.name : 'none'}}">-->
    </div>
    <div class="ml-3 option-value-card__text">{{optionValue.image.name}}</div>
    <!--  данные  -->
    <div class="container-fluid" [ngSwitch]="optionType.id">
      <!--  color  -->
      <div class="row mt-3" *ngSwitchCase="1">
        <!-- выбор языка -->
        <div class="col-12 align-self-center my-auto">
          <ng-container>
            <ul class="nav nav-tabs">
              <!--          <li class="nav-item">-->
              <!--            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>-->
              <!--          </li>-->
              <li *ngFor="let locale of optionValue?.localizedDescriptions; let i = index" class="nav-item">
                <button class="btn-outline-secondary nav-link mr-2"
                        [ngClass]="locale.language === currentLangTab ? 'active' : ''"
                        data-toggle="tab"
                        (click)="selectLangTab(locale.language)">{{locale.language}}</button>
              </li>
            </ul>
            <!-- Tab panes -->
            <div [ngSwitch]="currentLangTab" class="tab-content">
              <div *ngFor="let locale of optionValue?.localizedDescriptions; let i=index">
                <div *ngSwitchCase="locale.language" class="tab-pane container-fluid active">
                  <div class="d-flex">
                    <!--    Имя карточки    -->
                    <div class="input-group my-4 mr-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Name:</span>
                      </div>
                      <input name="name"
                             class="form-control"
                             type="text"
                             [(ngModel)]="optionValue.localizedDescriptions[i].name">
                    </div>
                    <!--    Описание карточки    -->
                    <div class="input-group my-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Description:</span>
                      </div>
                      <input name="description"
                             class="form-control"
                             type="text"
                             [(ngModel)]="optionValue.localizedDescriptions[i].description">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="formControlRange">Priority: <span>{{optionValue.priority ? optionValue.priority : 'none'}}</span></label>
                  <input type="range"
                         class="form-control-range custom-range"
                         id="formControlRange"
                         min="1"
                         max="10"
                         step="1"
                         [value]="optionValue.priority"
                         (change)="changePriority($event.target.value)">
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <!--  size  -->
      <div class="row justify-content-around" *ngSwitchCase="2">
        <!-- выбор языка -->
        <div class="col-12 align-self-center my-auto">
          <ng-container>
            <ul class="nav nav-tabs">
              <!--          <li class="nav-item">-->
              <!--            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>-->
              <!--          </li>-->
              <li *ngFor="let locale of optionValue?.localizedDescriptions; let i = index" class="nav-item">
                <button class="btn-outline-secondary nav-link mr-2"
                        [ngClass]="locale.language === currentLangTab ? 'active' : ''"
                        data-toggle="tab"
                        (click)="selectLangTab(locale.language)">{{locale.language}}</button>
              </li>
            </ul>
            <!-- Tab panes -->
            <div [ngSwitch]="currentLangTab" class="tab-content">
              <div *ngFor="let locale of optionValue?.localizedDescriptions; let i=index">
                <div *ngSwitchCase="locale.language" class="tab-pane container-fluid active">
                  <div class="d-flex">
                    <!--    Имя карточки    -->
                    <!-- <div class="input-group my-4 mr-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Name:</span>
                      </div>
                      <input name="name"
                             class="form-control"
                             type="text"
                             [(ngModel)]="optionValue.localizedDescriptions[i].name">
                    </div> -->
                    <!--    Описание карточки    -->
                    <!-- <div class="input-group my-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Description:</span>
                      </div>
                      <input name="description"
                             class="form-control"
                             type="text"
                             [(ngModel)]="optionValue.localizedDescriptions[i].description">
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="col-12">
          <div class="row justify-content-around">
            <!--    RU    -->
            <div class="col-2 input-group my-4">
              <div class="input-group-prepend">
                <span class="input-group-text">Ru</span>
              </div>
              <input name="description"
                     class="form-control"
                     type="text"
                     [(ngModel)]="optionValue.ru">
            </div>
            <!--    INT    -->
            <div class="col-2 input-group my-4">
              <div class="input-group-prepend">
                <span class="input-group-text">Int</span>
              </div>
              <input name="description"
                     class="form-control"
                     type="text"
                     [(ngModel)]="optionValue.int">
            </div>
            <!--    Cent    -->
            <div class="col-2 input-group my-4">
              <div class="input-group-prepend">
                <span class="input-group-text">Cent</span>
              </div>
              <input name="name"
                     class="form-control"
                     type="text"
                     [(ngModel)]="optionValue.cent">
            </div>
            <!--    INCH    -->
            <div class="col-2 input-group my-4">
              <div class="input-group-prepend">
                <span class="input-group-text">Inch</span>
              </div>
              <input name="description"
                     class="form-control"
                     type="text"
                     [(ngModel)]="optionValue.inch">
            </div>
            <!--    US    -->
            <div class="col-2 input-group my-4">
              <div class="input-group-prepend">
                <span class="input-group-text">US</span>
              </div>
              <input name="description"
                     class="form-control"
                     type="text"
                     [(ngModel)]="optionValue.us">
            </div>
          </div>
        </div>
        <div class="col-6 mr-auto">
          <div class="form-group">
            <label for="formControlRange">Priority: <span>{{optionValue.priority ? optionValue.priority : 'none'}}</span></label>
            <input type="range"
                   class="form-control-range custom-range"
                   id="formControlRange"
                   min="1"
                   max="10"
                   step="1"
                   [value]="optionValue.priority"
                   (change)="changePriority($event.target.value)">
          </div>
        </div>
      </div>
      <!--  height  -->
      <div class="row justify-content-around" *ngSwitchCase="3">
        <!-- выбор языка -->
        <div class="col-12 align-self-center my-auto">
          <ng-container>
            <ul class="nav nav-tabs">
              <!--          <li class="nav-item">-->
              <!--            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>-->
              <!--          </li>-->
              <li *ngFor="let locale of optionValue?.localizedDescriptions; let i = index" class="nav-item">
                <button class="btn-outline-secondary nav-link mr-2"
                        [ngClass]="locale.language === currentLangTab ? 'active' : ''"
                        data-toggle="tab"
                        (click)="selectLangTab(locale.language)">{{locale.language}}</button>
              </li>
            </ul>
            <!-- Tab panes -->
            <div [ngSwitch]="currentLangTab" class="tab-content">
              <div *ngFor="let locale of optionValue?.localizedDescriptions; let i=index">
                <div *ngSwitchCase="locale.language" class="tab-pane container-fluid active">
                  <div class="d-flex">
                    <!--    Имя карточки    -->
                    <div class="input-group my-4 mr-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Name:</span>
                      </div>
                      <input name="name"
                             class="form-control"
                             type="text"
                             [(ngModel)]="optionValue.localizedDescriptions[i].name">
                    </div>
                    <!--    Описание карточки    -->
                    <div class="input-group my-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Description:</span>
                      </div>
                      <input name="description"
                             class="form-control"
                             type="text"
                             [(ngModel)]="optionValue.localizedDescriptions[i].description">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="col-12">
          <div class="row justify-content-around">
            <!--    RU    -->
            <div class="col-2 input-group my-4">
              <div class="input-group-prepend">
                <span class="input-group-text">Ru</span>
              </div>
              <input name="description"
                     class="form-control"
                     type="text"
                     [(ngModel)]="optionValue.ru">
            </div>
            <!--    INT    -->
            <div class="col-2 input-group my-4">
              <div class="input-group-prepend">
                <span class="input-group-text">Int</span>
              </div>
              <input name="description"
                     class="form-control"
                     type="text"
                     [(ngModel)]="optionValue.int">
            </div>
            <!--    Cent    -->
            <div class="col-2 input-group my-4">
              <div class="input-group-prepend">
                <span class="input-group-text">Cent</span>
              </div>
              <input name="name"
                     class="form-control"
                     type="text"
                     [(ngModel)]="optionValue.cent">
            </div>
            <!--    INCH    -->
            <div class="col-2 input-group my-4">
              <div class="input-group-prepend">
                <span class="input-group-text">Inch</span>
              </div>
              <input name="description"
                     class="form-control"
                     type="text"
                     [(ngModel)]="optionValue.inch">
            </div>
            <!--    US    -->
            <div class="col-2 input-group my-4">
              <div class="input-group-prepend">
                <span class="input-group-text">US</span>
              </div>
              <input name="description"
                     class="form-control"
                     type="text"
                     [(ngModel)]="optionValue.us">
            </div>
          </div>
        </div>
        <div class="col-6 mr-auto">
          <div class="form-group">
            <label for="formControlRange">Priority: <span>{{optionValue.priority ? optionValue.priority : 'none'}}</span></label>
            <input type="range"
                   class="form-control-range custom-range"
                   id="formControlRange"
                   min="1"
                   max="10"
                   step="1"
                   [value]="optionValue.priority"
                   (change)="changePriority($event.target.value)">
          </div>
        </div>
      </div>
      <!--  default  -->
      <div class="row" *ngSwitchDefault>default</div>
    </div>
    <!--  кнопки  -->
    <div class="d-flex justify-content-around align-items-center">
      <!-- видимость -->
      <button [ngClass]="optionValue.enabled ? 'btn-header-save' : 'btn-header-delete'" class="btn btn-header"
              type="button"
              title="Add Option Value"
              (click)="invertEnabledOptionValue()">
        <ng-container *ngIf="optionValue.enabled; else disabledOptionValue">
          <fa-icon [icon]="['fas', 'eye']" [classes]="['btn-header__icon', 'opacity-100']"></fa-icon>
        </ng-container>
        <ng-template #disabledOptionValue>
          <fa-icon [icon]="['fas', 'eye-slash']" [classes]="['btn-header__icon', 'opacity-100']"></fa-icon>
        </ng-template>
      </button>
      <!-- удалить -->
<!--      <button class="btn btn-header btn-header-delete"-->
<!--              type="button"-->
<!--              title="Delete Option Value"-->
<!--              (click)="deleteOptionValue()">-->
<!--        <fa-icon [icon]="['fas', 'trash']" [classes]="['btn-header__icon']"></fa-icon>-->
<!--      </button>-->
    </div>
  </div>
</ng-container>
