<!--   IMAGE   -->
<!--<ng-container *ngIf="image; else imageLoader">-->
  <!--    Работа с файлами    -->
  <input #fileLoader  type="file" (change)="filePreload($event.target, imageTypeID)" hidden>
<!--  <div class="btn-group mb-2 mt-1 text-right">-->
<!--    &lt;!&ndash;  Перед сохранением проверяем, что имя не пустое  &ndash;&gt;-->
<!--    &lt;!&ndash;    Добавление файла    &ndash;&gt;-->
<!--    <button type="file" class="btn base-style"-->
<!--            (click)="fileLoader.click()">Добавить файл</button>-->
<!--  </div>-->
  <img class="image-card embed-responsive-item"
       [src]="imagePath ? imagePath : imageNone"
       [alt]="image?.name ? image.name : imagePath"
       [title]="imagePath"
       (click)="fileLoader.click()"
  >

  <!-- назад -->
  <!-- <button class="btn btn-header btn-header-back mt-1"
          title="Back">
    <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
  </button> -->

<!--</ng-container>-->
<!--   LOADER   -->
<!--<ng-template #imageLoader>-->

<!--  &lt;!&ndash;                Загружаем новую картинку&ndash;&gt;-->
<!--  &lt;!&ndash; назад &ndash;&gt;-->
<!--  <button class="btn btn-header btn-header-back mt-1"-->
<!--          title="Back">-->
<!--    <fa-icon [icon]="['fas', 'plus']" [classes]="['btn-header__icon']"></fa-icon>-->
<!--  </button>-->
<!--</ng-template>-->
