@import "../node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css";
//  собственные шрифты
@font-face {
  font-family: 'Eurostile Extd';
  src: url('assets/fonts/eurostile.otf') format('opentype');
}
:root {
  --baseColor: #494949;
  --backColor: rgb(0,119,255);
  --saveColor: rgb(40, 166, 67);
  --cancelColor: rgb(255, 193, 7);
  //--createColor: rgb(23, 162, 184);
  --createColor: rgb(40, 167, 69);
  --deleteColor: rgb(220, 53, 69);
  --updateColor: rgb(0,119,255);
  --backgroundColor:  rgb(240, 240, 240);
  --borderColor:  rgb(211, 211, 211);
  --boxShadowColor:  rgba(108, 117, 125, 0.3);
}
//  BODY
body {
  font-family: 'Eurostile Extd', Fallback, sans-serif !important;
}
//  тени для компонентов
.shadow {
//  box-shadow: 0.2rem 0.2rem 1.5rem 0.05rem rgba(15, 15, 15, 0.08);

  //  base shadow
  &__without-hover {
    box-shadow: 0.2rem 0.2rem 1.5rem 0.05rem rgba(15, 15, 15, 0.08);
  }
  &__with-hover {
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(108, 117, 125, 0.3);
    &:hover {
      box-shadow: 0.2rem 0.2rem 0.3rem rgba(108, 117, 125, 0.3);
    }
  }

  //  primary
  &__primary {
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0,119,255,0.3);
    &__with-hover {
      box-shadow: 0.1rem 0.1rem 0.3rem rgba(0,119,255,0.3);
      &:hover {
        box-shadow: 0.2rem 0.2rem 0.3rem rgba(0,119,255,0.3);
      }
    };
  }
  //  success
  &__success {
    box-shadow: 0.2rem 0.2rem 0.3rem rgba(40, 167, 69, 0.4);
    &__with-hover {
      box-shadow: 0.2rem 0.2rem 0.3rem rgba(40, 167, 69, 0.4);
      &:hover {
        box-shadow: 0.3rem 0.3rem 0.3rem rgba(40, 167, 69, 0.4);
      }
    };
  }
  //  dark
  &__dark {
    box-shadow: 0.2rem 0.2rem 0.3rem rgba(52,58,64,0.4);
    &__with-hover {
      box-shadow: 0.2rem 0.2rem 0.3rem rgba(52,58,64,0.4);
      &:hover {
        box-shadow: 0.3rem 0.3rem 0.3rem rgba(52,58,64,0.4);
      }
    };
  }
  //  warning
  &__warning {
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(255, 193, 7, 0.3);
    &__with-hover {
      box-shadow: 0.1rem 0.1rem 0.3rem rgba(255, 193, 7, 0.3);
      &:hover {
        box-shadow: 0.2rem 0.2rem 0.3rem rgba(255, 193, 7, 0.3);
      }
    };
  }
  //  danger
  &__danger {
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(220, 53, 69, 0.3);
    &__with-hover {
      box-shadow: 0.1rem 0.1rem 0.3rem rgba(220, 53, 69, 0.3);
      &:hover {
        box-shadow: 0.2rem 0.2rem 0.3rem rgba(220, 53, 69, 0.3);
      }
    };
  }
  //  info
  &__info {
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(23, 162, 184, 0.3);
    &__with-hover {
      box-shadow: 0.1rem 0.1rem 0.3rem rgba(23, 162, 184, 0.3);
      &:hover {
        box-shadow: 0.2rem 0.2rem 0.3rem rgba(23, 162, 184, 0.3);
      }
    };
  }
  //  secondary
  &__secondary {
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(108, 117, 125, 0.2);
    &__with-hover {
      box-shadow: 0.1rem 0.1rem 0.3rem rgba(108, 117, 125, 0.3);
      &:hover {
        box-shadow: 0.2rem 0.2rem 0.3rem rgba(108, 117, 125, 0.3);
      }
    };
  }
  //  light
  &__light {
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(248, 249, 250, 0.3);
    &__with-hover {
      box-shadow: 0.1rem 0.1rem 0.3rem rgba(248, 249, 250, 0.3);
      &:hover {
        box-shadow: 0.2rem 0.2rem 0.3rem rgba(248, 249, 250, 0.3);
      }
    };
  }
}
/* header card */
.header-card {
  box-shadow: 0.2rem 0.2rem 1.5rem 0.05rem rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  //margin-bottom: 0.5rem;
  &__left {
    display: flex;
    align-items: center;
  };
  &__right {
    display: flex;
    align-items: center;
  };
  &__text {
    //margin-top: 0.25rem;
    font-size: 1.5rem;
    //padding-bottom: 0;
    //align-self: center;
  };
}

.btn {
  &__icon {
    font-size: 2.5rem;
  }
}

.btn-header {
  margin-top: 0.25rem;
  margin-right: 0.5rem;
  padding: 0;
  border: 0;
  min-height: 2rem;
  min-width: 2rem;
  background: transparent;
  &__icon {
    font-size: 1.5rem;
  }
}
.btn-header-back {
  color: var(--baseColor);
  &:hover {
    color: var(--backColor);
  }
}
.btn-back {
  background: transparent;
  color: var(--backColor);
  &:hover {
    color: var(--baseColor);
  }
}
.btn-header-cancel {
  color: var(--baseColor);
  &:hover {
    color: var(--cancelColor);
  }
}
.btn-cancel {
  color: var(--cancelColor);
  background: transparent;
  &:hover {
    color: var(--baseColor);
  }
}
.btn-header-save {
  color: var(--baseColor);
  &:hover {
    color: var(--saveColor);
  }
}
.btn-save {
  color: var(--saveColor);
  background: transparent;
  &:hover {
    color: var(--baseColor);
  }
}
.btn-header-update {
  color: var(--baseColor);
  &:hover {
    color: var(--updateColor);
  }
}
.btn-update {
  color: var(--updateColor);
  background: transparent;
  font-size: 2rem;
  &:hover {
    color: var(--baseColor);
  }
}
.btn-header-delete {
  color: var(--baseColor);
  &:hover {
    color: var(--deleteColor);
  }
}
.btn-delete {
  color: var(--deleteColor);
  background: transparent;
  &:hover {
    color: var(--baseColor);
  }
}
.btn-header-create {
  color: var(--baseColor);
  &:hover {
    color: var(--createColor);
  }
}
.btn-create {
  color: var(--createColor);
  background: transparent;
  &:hover {
    color: var(--baseColor);
  }
}
//  базовый контейнер
.base-container-fluid {
  padding: 0.5rem;
  background: white;
  height: calc(100vh - 6.25rem);
  //  верхняя половинка
  &__top-part {
    height: calc(50vh - 7.25rem);
  };
  //  нижняя половинка
  &__bottom-part {
    height: calc(50vh - 4.75rem);
  }
}
//clipped text on title
.clipped-text {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis !important; /* Добавляем многоточие */
}
//  IMAGE
// .image-card {

// }

//  EMPTY PLACE
.empty-place {
  min-height: 3rem;
}

.opacity-100 {
  opacity: 1;
}

.opacity-25 {
  opacity: 0.25;
}

.filter-blur {
  filter: blur(0.5rem);
}
