<!-- Навбар -->
<nav class="navbar navbar-expand-xl navbar-dark bg-secondary py-0">
  <div class="container-fluid mr-md-auto">
    <a href="#" class="navbar-brand">
      <img class="img-logo" [src]="logoPath" alt="icon">
    </a>
<!--    <a class="navbar-brand" [routerLink]="['/']">Greyline</a>-->
  </div>

  <!-- <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
          <span class="toggler-icon">
            <i class="fa fa-bars"></i>
          </span>
  </button> -->
  <!-- Основное меню -->
  <ul *ngIf="menu?.length > 0" class="navbar-nav">
    <ng-container *ngFor="let menuItem of menu" >
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="[menuItem.route]">
<!--          <i class="" [ngClass]=menuItem.icon title="{{ menuItem.title }}"></i>-->
          {{menuItem.title}}
        </a>
      </li>
    </ng-container>
    <!--   Есть логин   -->
<!--    <ng-container *ngIf="isLogon; else guestLogin" >-->
<!--      <li class="nav-item" routerLinkActive="active">-->
<!--        <a class="nav-link" [routerLink]="['/login']">-->
<!--          <i class="fa fa-sign-out" [ngClass]="" title="Логин">Sign Out</i></a>-->
<!--      </li>-->
<!--    </ng-container>-->
<!--    &lt;!&ndash;  гостевой логин  &ndash;&gt;-->
<!--    <ng-template #guestLogin>-->
<!--      <li class="nav-item" routerLinkActive="active">-->
<!--        <a class="nav-link" [routerLink]="['/login']" title="Логин">-->
<!--          SignIn</a>-->
<!--      </li>-->
<!--    </ng-template>-->
  </ul>


</nav>
