//  контейнер меню
.navbar {
  //color: white !important;
  background-color: rgb(73, 73, 73) !important;
  padding: 0;
  min-height: 3rem;
}

// контейнер лого
.navbar-brand {
  margin: 0;
  padding: 0;

  // лого
  .img-logo {
    min-width: 12rem;
  }
}

// main navigation block
.navbar-nav {
}

// navigation item
.nav-item {
  background-color: rgb(73, 73, 73) !important;

  // navigations link
  .nav-link {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    color: rgb(255, 255, 255) !important;
  }
}

// active link
.nav-item.active {
  background-color: rgb(129, 129, 129) !important;
}

// hover link
.nav-item:hover {
  background-color: rgb(129, 129, 129) !important;
}
