<ng-container *ngIf="order">
<!-- заголовок -->
<div class="container-fluid">
  <div class="row">
    <div class="col header-card">
      <!-- левая часть-->
      <div class="header-card__left">
        <!-- назад -->
        <button class="btn btn-header btn-header-back mt-1"
                title="BACK">
          <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
        <!-- текст -->
        <div class="header-card__text">
          Order detail
        </div>
      </div>
      <!-- правая часть-->
      <div class="header-card__right">
        <span class="header-card__text header-card__text--big">{{order.id}}</span>
        <span class="header-card__text header-card__text--small">{{order.updatedStatusAt}}</span>
        <span class="header-card__text header-card__text--big">{{order.status.name}}</span>
        <span class="header-card__text header-card__text--small">{{order.createdAt}}01.05.2019</span>
        <span class="header-card__text header-card__text--big">{{order.productsCost}}</span>
        <span>{{order.shop}}grey-shop</span>
      </div>
    </div>
  </div>
</div>

<!--меню-->
<!-- заголовок -->
<div class="container-fluid">
  <div class="row">
    <div class="col menu-card">
      <!-- левая часть-->
      <div class="menu-card__left">
        <div class="menu-card__link"
             [ngClass]="{'menu-card__link__active': menuLink === 'data'}"
             (click)="selectMenu('data')">
          Data
        </div>
        <div class="menu-card__border"></div>
        <div class="menu-card__link"
             [ngClass]="{'menu-card__link__active': menuLink === 'history'}"
             (click)="selectMenu('history')">
          History
        </div>
      </div>
    </div>
  </div>
</div>

<!--  сама карточка  -->
<div class="container-fluid" [ngSwitch]="menuLink">
  <!-- выбор -->
  <!--  default case 'data' -->
  <div *ngSwitchDefault>
    <app-order-details-data [order]="order"></app-order-details-data>
  </div>
  <!--  history -->
  <div *ngSwitchCase="'history'">
    <app-order-details-history></app-order-details-history>
  </div>
</div>
</ng-container>
