<ng-container *ngIf="isShownList; else addOption">
<!--  выбор опции  -->
  Выбор опции
  <div class="row">
<!--   селект   -->
    <div class="col">
      <ng-select class="option-list"
                 [items]="optionList"
                 bindLabel="title"
                 [(ngModel)]="option"
      ></ng-select>
    </div>
    <!--   набор опций для продута   -->
    <div>
      <button class="btn btn-header btn-header-create"
              title="CREATE"
              (click)="addProductOption(option)"
              [disabled]="!option">
        <fa-icon [icon]="['fas', 'plus-square']" [classes]="['btn-header__icon']"></fa-icon>
      </button>
    </div>

  </div>
</ng-container>
<ng-template #addOption>
  <div class="text-center mx-auto h-100 d-flex justify-content-center align-items-center">
    <button class="btn btn-header btn-header-back"
            title="ADD"
            (click)="showOptionsList()">
      <fa-icon [icon]="['fas', 'plus']" size="5x"></fa-icon>
    </button>
  </div>
</ng-template>
