.log-card {
    margin-bottom: 0.01rem;
    //background: #eeeeee;
    border-radius: 0.25rem;
    min-height: 5rem;
    padding: 1rem;
    border-color: var(--borderColor);
    border-top: solid 0.0625rem;
    border-bottom: solid 0.0625rem;
    box-shadow: 0.1rem 0.1rem 0.3rem var(--boxShadowColor);
    //overflow: hidden;
  }
  
  // collapse details
  .log-details {
    width: 90%;
    margin-left: auto;
  
    // details header
    &__header {
      font-size: 1rem;
      font-weight: bold;
      padding: 1rem;
      background-color: var(--backgroundColor);
    }
  }