<div *ngIf="log">
  <div class="d-flex log-card justify-content-between align-items-center log border" (click)="openLogJsons()">
    <!--  -->

    <!-- Number -->
    <div>{{log.id}}</div>
    <!-- FuncPath -->

    <!--  Date -->
    <div>{{log.createdAt}}</div>
    <!--  Invoice -->
    <div>{{log.action}}</div>
    <!--  Comment -->
    <div>GreyLine</div>
    <div>{{log.type}}</div>
    <!-- File -->
    <!--  Action -->
    <div>
      <!-- <button type="button" class="btn btn-save" (click)="checkLog(log)">
        <fa-icon [icon]="['fas', 'check']" [classes]="['btn-header__icon']"></fa-icon>
      </button> -->
    </div>
  </div>
  <!-- collapse -->
  <div *ngIf="logJsons" class="log-details mb-4" @fadeInOut>
    <!-- <div>{{log.funcPath}}</div>
    <div>{{log.json}}</div>
    <div>{{log.jsonRequest}}</div> -->
    <td-ngx-text-diff [left]="dataBeforeChanges" [right]="dataAfterChanges"></td-ngx-text-diff>
  </div>
</div>
