<!-- заголовок -->
<div class="container-fluid">
  <div class="row">
    <div class="col header-card">
      <!-- левая часть-->
      <div class="header-card__left">
        <!-- назад -->
        <button class="btn btn-header btn-header-back mt-1"
                title="BACK">
          <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
        <!-- текст -->
        <div class="header-card__text">
          Images
        </div>
      </div>
      <!-- правая часть-->
      <div class="header-card__right">
        <button class="btn btn-header btn-delete"
                title="DELETE">
          <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<!--  контайнер для загрузки изображения  -->
<ng-container *ngIf="imageFileName == null; else hasImage">
<!--  <div>Image: {{(castImageName|async)}}</div>-->
<!--  <div class="image_file">-->
<!--    <img class="image" [src]="imagePath + '/' + imageFileName + '.jpg'" alt=""/>-->
<!--  </div>-->
  <!--  Если файла еще нет -->
  <div>

  </div>
</ng-container>
<ng-template #hasImage>
  <div class="image_file">
    <div>URL: {{imageFileName}}</div>
    <img class="image" [src]="imagePath + '/' + imageFileName + '.jpg'" alt=""/>
  </div>
  <input class="image_title" type="text" #imageTitle>
  <input class="image_priority" type="number" #imagePriority>
  <button class="btn btn-success" (click)="imageSave(imageTitle, imagePriority)">Сохранить</button>
</ng-template>


<!--<div>Список картинок:</div>-->
<!--<table *ngFor="let image of images; let i = index">-->
<!--  <tr>-->
<!--    <td>{{i + 1}}-->
<!--    <td>{{image.name}}-->
<!--    <td><img class="image" [src]="imagePath + '/' + image.url + '.jpg'" alt=""/>-->
<!--    <td>{{image.priority}}-->
<!--  </tr>-->

<!--</table>-->
