<!-- заголовок -->
<div class="container-fluid">
  <div class="row">
    <div class="col header-card">
      <!-- левая часть-->
      <div class="header-card__left">
        <!-- назад -->
        <button class="btn btn-header btn-header-back mt-1"
                title="BACK"
                routerLink="/incomings">
          <fa-icon [icon]="['fas', 'reply']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
        <!-- текст -->
        <div class="header-card__text">
          Incoming detail
        </div>
      </div>
      <!-- правая часть-->
      <div class="header-card__right">
        <button class="btn btn-header btn-header-create"
                type="button"
                title="SAVE"
                (click)="saveIncoming()"
                [disabled]="disabledSave">
          <fa-icon [icon]="['fas', 'save']" [classes]="['btn-header__icon']"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Incoming -->
<div class="container-fluid" *ngIf="incoming">
  <form (ngSubmit)="addItem(f)" #f="ngForm" (change)="enableSave()">
    <!-- первая строка -->
    <div class="row mt-3">
      <div class="col-md-12">
        <!-- карточка invoice и comment -->
        <div class="card shadow">
          <div class="card-body">
            <!-- inputs -->
            <div class="row">
              <div class="col-md-5 mb-2">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="invoice">Invoice Number</label>
                  </div>
                  <input class="form-control" id="invoice" name="invoice" [(ngModel)]="incoming.invoice"
                         type="text"
                         placeholder="Invoice number"/>
                </div>
              </div>
              <div class="col-md-5">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="invoice">Comment</label>
                  </div>
                  <input class="form-control" name="comment" [(ngModel)]="incoming.comment" type="text"
                         placeholder="Comment"/>
                </div>
              </div>
              <div class="col-md-2">
                <div class="row">
                  <div class="mr-2">Scan</div>
                  <div class="embed-responsive embed-responsive-1by1 text-center scan-image">
                    <!--    loader  -->
                    <app-image-card [image]="incoming?.scan"
                                    [imageTypeID]="incoming?.scan?.type?.id ? incoming.scan.type.id : 9"
                                    (changeImageEvent)="changeImage($event)"></app-image-card>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- вторая строка -->
    <div class="row mt-3">
      <div class="col-lg-4">
        <!-- карточка select -->
        <div class="card shadow mb-3">
          <div class="card-body">
            <!-- строка -->
            <div class="row">
              <div class="col-md-12">
                <!-- select -->
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="manufacturerSelect">Manufacturer</label>
                  </div>
                  <div class="maufacturer-text">
                    <ng-select
                      id="manufacturerSelect"
                      [items]="manufacturers"
                      bindLabel="name"
                      [(ngModel)]="manufacturer"
                      [ngModelOptions]="{standalone: true}"
                      (change)="changeManufacturerSelect()"
                    >
                    </ng-select>
                  </div>
                </div>
              </div>
              <!-- select -->
              <div class="col-md-12">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="productSelect">Product</label>
                  </div>
                  <div class="product-text">
                    <ng-select
                      id="productSelect"
                      [items]="products"
                      bindLabel="localizedDescriptions.0.name"
                      [(ngModel)]="product"
                      [ngModelOptions]="{standalone: true}"
                      (change)="changeProductSelect()">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- выбор опций -->
        <ng-container *ngIf="product">
          <div class="card shadow mb-3" *ngFor="let productOption of product.productOptions; let optionIndex = index">
            <!--  заголовок опции  -->
            <div class="card-header bg-white">
              <span>{{productOption?.option?.title ? productOption.option.title : 'none'}}</span>
            </div>
            <div class="card-body d-flex flex-column">
              <!-- выбор -->
              <div class="col-md-7 d-flex">
                <ng-select
                  [items]="productOption.optionValues"
                  bindLabel="title"
                  [(ngModel)]="optionValues[optionIndex]"
                  [ngModelOptions]="{standalone: true}"
                  (change)="changeOptionSelect()"
                  required
                >
                </ng-select>
              </div>
            </div>
          </div>
          <!--  количество  -->
          <div class="card shadow mb-3" *ngIf="enabledAddItems">
            <div class="card-body">
              <div class="row">
                <div class="col-md-10">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="testNumber">Amount</label>
                    </div>
                    <input class="form-control" id="testNumber" name="testNumber" [(ngModel)]="amount"
                           type="number"
                           min="1">
                  </div>
                </div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-header btn-header-create" [disabled]="!f.valid">
                    <fa-icon [icon]="['fas', 'arrow-right']" [classes]="['btn-header__icon']"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
      <div class="col-lg-8">
        <!-- карточка incoming -->
        <div class="card shadow">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <!-- таблица -->
                <table class="table">
                  <!-- заголовки таблицы -->
                  <thead>
                  <!-- строка таблицы -->
                  <tr>
                    <th>№</th>
                    <th>Name</th>
                    <th>Option</th>
                    <th>Count</th>
                    <th>Image</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <!-- тело таблицы -->
                  <tbody>
                  <!-- строка таблицы -->
                  <tr *ngFor="let incomingItem of incoming.incomingItems; let incIndex = index">
                    <td>{{incIndex + 1}}</td>
                    <td>{{incomingItem.product.localizedDescriptions[0].name}}</td>
                    <td>{{convertOptionValueToLabel(incomingItem.optionValues)}}</td>
                    <td>{{incomingItem.amount}}</td>
                    <td>{{incomingItem.product.imageFront.url}}</td>
                    <td class="text-center">
                      <button class="btn btn-header btn-header-delete" (click)="deleteIncoming(incIndex)">
                        <fa-icon [icon]="['fas', 'times']" [classes]="['btn-header__icon']"></fa-icon>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
