// scan image input container
.scan-image {
  max-width: 2rem;
}
//  custom radio  button  style
/* .option-input {
  appearance: none;
  position: relative;
  //top: 0.8125rem;
  //right: 0;
  //bottom: 0;
  //left: 0;
  height: 1.875rem;
  width: 1.875rem;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  //margin-right: 0.5rem;
  outline: none;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background:  var(--createColor);
}
.option-input:checked::before {
  height: 1.875rem;
  width: 1.875rem;
  position: absolute;
  content: '✔';
  font-size: 1.6875rem;
  text-align: center;
  line-height: 2.5rem;
}
.option-input:checked::after {
  //-webkit-animation: click-wave 0.65s;
  //-moz-animation: click-wave 0.65s;
  //animation: click-wave 0.65s;
  background:  var(--createColor);
  content: '';
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
} */

//  селект
::ng-deep .ng-select {
  border-radius: 0.5rem;
  border: rgb(73, 73, 73) solid 0.125rem;
  min-height: 2rem;
  min-width: 12rem;
  background: rgb(245, 245, 245);
  margin-left: 0.5rem;

  // input field
  .ng-select-container {
    margin-top: 0.25rem;
    height: 1.875rem;

    .ng-value-container {
      .ng-input {
        color: rgb(255, 255, 255);
        background: transparent;
        border-radius: 0 0 0.5rem 0.5rem;
        min-height: 2rem;
        padding-left: 0.5rem;
        padding-right: 2.5rem;
      }

      // placeholder
      .ng-placeholder {
        padding-left: 0.5rem;
        min-height: 2rem;
      }
    }

    // clear selected option
    .ng-clear-wrapper {
      // margin-top: 0.25rem;
      // margin-right: 0.25rem;
      display: none;
      .ng-clear {
      }
    }

    // expand dropdown panel
    .ng-arrow-wrapper {
      padding-right: 1.0625rem;
      padding-top: 0.125rem;

      .ng-arrow::before {
        content: "v";
      }
    }
  }

  // dropdown-panel
  .ng-dropdown-panel {
    background: rgb(245, 245, 245);
    border: rgb(73, 73, 73) solid 0.0625rem;
    border-radius: 0 0 0.5rem 0.5rem;

    // option field
    .ng-option {
      background: rgb(245, 245, 245);
      border: rgb(73, 73, 73) solid 0.0625rem;
      border-radius: 0 0 0.5rem 0.5rem;
      padding-left: 0.5rem;
      margin: 0.5rem;
      &:hover {
        color: rgb(64, 197, 64);
      }

      // selected option
      &-marked {
        background: rgb(168, 168, 168);
      }
    }
  }
}



